backend/src/n8n/workflows/WF-PRN-MAIN.json
{
  "name": "PRN Financial Report v4 (Cloud Robust)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "prn/app",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-get-v4",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        180
      ],
      "webhookId": "wh-prn-app-v4"
    },
    {
      "parameters": {
        "jsCode": "const html = \"<!DOCTYPE html>\\n<html lang=\\\"pt-BR\\\">\\n<head>\\n<meta charset=\\\"UTF-8\\\">\\n<meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1.0\\\">\\n<title>Relatório Financeiro PRN</title>\\n<style>\\n*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}\\nbody{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;background:#f0f2f5;min-height:100vh;display:flex;align-items:center;justify-content:center;padding:20px;color:#1a1a2e}\\n.container{background:#fff;border-radius:12px;box-shadow:0 4px 24px rgba(0,0,0,.08);width:100%;max-width:520px;padding:40px 36px}\\n.header{text-align:center;margin-bottom:32px}\\n.header h1{font-size:1.6rem;font-weight:700;color:#1a3a5c;margin-bottom:8px;letter-spacing:-.3px}\\n.header p{font-size:.92rem;color:#6b7a8d;line-height:1.5}\\n.form-group{margin-bottom:22px}\\n.form-group label{display:block;font-size:.85rem;font-weight:600;color:#2c3e50;margin-bottom:8px}\\n.form-group label .required{color:#e74c3c;margin-left:2px}\\n.file-upload-wrapper{position:relative}\\n.file-upload-wrapper input[type=\\\"file\\\"]{display:none}\\n.file-upload-btn{display:flex;align-items:center;justify-content:center;gap:10px;width:100%;padding:18px 16px;border:2px dashed #b0c4d8;border-radius:8px;background:#f8fafc;color:#4a6fa5;font-size:.9rem;font-weight:500;cursor:pointer;transition:all .2s ease}\\n.file-upload-btn:hover{border-color:#2e6da4;background:#eef3f9}\\n.file-upload-btn svg{width:22px;height:22px;flex-shrink:0}\\n.file-upload-btn .file-name{font-weight:600;color:#1a3a5c;text-align:center;word-break:break-all}\\n.file-upload-btn.has-file{border-color:#27ae60;border-style:solid;background:#f0faf4;color:#1e8449}\\n.file-upload-btn.has-file svg{color:#27ae60}\\n.file-size-error{font-size:.8rem;color:#e74c3c;margin-top:6px;display:none}\\n.date-input{width:100%;padding:12px 14px;border:1.5px solid #cdd6e0;border-radius:8px;font-size:.9rem;color:#2c3e50;background:#f8fafc;transition:border-color .2s ease;font-family:inherit}\\n.date-input:focus{outline:none;border-color:#2e6da4;background:#fff}\\n.submit-btn{width:100%;padding:15px;background:linear-gradient(135deg,#1a5276,#2e86c1);color:#fff;border:none;border-radius:8px;font-size:1rem;font-weight:600;cursor:pointer;transition:all .2s ease;margin-top:8px;letter-spacing:.2px}\\n.submit-btn:hover{background:linear-gradient(135deg,#154360,#2471a3);transform:translateY(-1px);box-shadow:0 4px 12px rgba(26,82,118,.3)}\\n.submit-btn:active{transform:translateY(0)}\\n.submit-btn:disabled{background:#95a5b6;cursor:not-allowed;transform:none;box-shadow:none}\\n.spinner{display:inline-block;width:18px;height:18px;border:2.5px solid rgba(255,255,255,.3);border-top-color:#fff;border-radius:50%;animation:spin .7s linear infinite;margin-right:8px;vertical-align:middle}\\n@keyframes spin{to{transform:rotate(360deg)}}\\n.error-message{background:#fef2f2;border:1px solid #f5c6cb;border-radius:8px;padding:14px 16px;margin-top:20px;display:none}\\n.error-message .error-title{font-weight:600;color:#c0392b;font-size:.88rem;margin-bottom:4px}\\n.error-message .error-text{font-size:.84rem;color:#721c24;line-height:1.5}\\n.footer{text-align:center;margin-top:28px;font-size:.78rem;color:#95a5b6}\\n@media(max-width:560px){\\n  .container{padding:28px 20px;border-radius:10px}\\n  .header h1{font-size:1.3rem}\\n  .file-upload-btn{padding:14px 12px;font-size:.85rem}\\n}\\n</style>\\n</head>\\n<body>\\n<div class=\\\"container\\\">\\n  <div class=\\\"header\\\">\\n    <h1>Relatório Financeiro PRN</h1>\\n    <p>Upload das planilhas para geração do relatório</p>\\n  </div>\\n\\n  <form id=\\\"reportForm\\\" method=\\\"POST\\\" enctype=\\\"multipart/form-data\\\" action=\\\"https://prndiag1.app.n8n.cloud/webhook/prn/report\\\" novalidate>\\n    <div class=\\\"form-group\\\">\\n      <label>Planilha Diária <span class=\\\"required\\\">*</span></label>\\n      <div class=\\\"file-upload-wrapper\\\">\\n        <div class=\\\"file-upload-btn\\\" id=\\\"dailyDropZone\\\" tabindex=\\\"0\\\" role=\\\"button\\\" aria-label=\\\"Selecionar Planilha Diária\\\">\\n          <svg xmlns=\\\"http://www.w3.org/2000/svg\\\" fill=\\\"none\\\" viewBox=\\\"0 0 24 24\\\" stroke=\\\"currentColor\\\" stroke-width=\\\"2\\\"><path stroke-linecap=\\\"round\\\" stroke-linejoin=\\\"round\\\" d=\\\"M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12\\\"/></svg>\\n          <span id=\\\"dailyLabel\\\">Clique ou arraste a planilha (.xlsx)</span>\\n        </div>\\n        <input type=\\\"file\\\" id=\\\"dailyFile\\\" name=\\\"daily_file\\\" accept=\\\".xlsx\\\">\\n      </div>\\n      <div class=\\\"file-size-error\\\" id=\\\"dailySizeError\\\">O arquivo excede o limite de 10MB.</div>\\n    </div>\\n\\n    <div class=\\\"form-group\\\">\\n      <label>Planilha Histórica PRN <span class=\\\"required\\\">*</span></label>\\n      <div class=\\\"file-upload-wrapper\\\">\\n        <div class=\\\"file-upload-btn\\\" id=\\\"historicalDropZone\\\" tabindex=\\\"0\\\" role=\\\"button\\\" aria-label=\\\"Selecionar Planilha Histórica PRN\\\">\\n          <svg xmlns=\\\"http://www.w3.org/2000/svg\\\" fill=\\\"none\\\" viewBox=\\\"0 0 24 24\\\" stroke=\\\"currentColor\\\" stroke-width=\\\"2\\\"><path stroke-linecap=\\\"round\\\" stroke-linejoin=\\\"round\\\" d=\\\"M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12\\\"/></svg>\\n          <span id=\\\"historicalLabel\\\">Clique ou arraste a planilha (.xlsx)</span>\\n        </div>\\n        <input type=\\\"file\\\" id=\\\"historicalFile\\\" name=\\\"historical_file\\\" accept=\\\".xlsx\\\">\\n      </div>\\n      <div class=\\\"file-size-error\\\" id=\\\"historicalSizeError\\\">O arquivo excede o limite de 10MB.</div>\\n    </div>\\n\\n    <div class=\\\"form-group\\\">\\n      <label for=\\\"referenceDate\\\">Data de Referência <span style=\\\"color:#95a5b6;font-weight:400\\\">(opcional)</span></label>\\n      <input type=\\\"date\\\" id=\\\"referenceDate\\\" name=\\\"reference_date\\\" class=\\\"date-input\\\">\\n    </div>\\n\\n    <button type=\\\"submit\\\" class=\\\"submit-btn\\\" id=\\\"submitBtn\\\">Gerar Relatório</button>\\n  </form>\\n\\n  <div class=\\\"error-message\\\" id=\\\"errorMessage\\\">\\n    <div class=\\\"error-title\\\">Erro ao processar</div>\\n    <div class=\\\"error-text\\\" id=\\\"errorText\\\"></div>\\n  </div>\\n\\n  <div class=\\\"footer\\\">Sistema de Relatórios Financeiros</div>\\n</div>\\n\\n<script>\\n(function() {\\n  var MAX_SIZE = 10 * 1024 * 1024;\\n  var dailyFileInput = document.getElementById('dailyFile');\\n  var historicalFileInput = document.getElementById('historicalFile');\\n  var dailyDropZone = document.getElementById('dailyDropZone');\\n  var historicalDropZone = document.getElementById('historicalDropZone');\\n  var dailyLabel = document.getElementById('dailyLabel');\\n  var historicalLabel = document.getElementById('historicalLabel');\\n  var dailySizeError = document.getElementById('dailySizeError');\\n  var historicalSizeError = document.getElementById('historicalSizeError');\\n  var form = document.getElementById('reportForm');\\n  var submitBtn = document.getElementById('submitBtn');\\n  var errorMessage = document.getElementById('errorMessage');\\n  var errorText = document.getElementById('errorText');\\n\\n  function handleFileSelect(input, dropZone, label, sizeError) {\\n    input.addEventListener('change', function() {\\n      sizeError.style.display = 'none';\\n      if (input.files && input.files.length > 0) {\\n        var file = input.files[0];\\n        if (file.size > MAX_SIZE) {\\n          input.value = '';\\n          label.textContent = 'Clique ou arraste a planilha (.xlsx)';\\n          dropZone.classList.remove('has-file');\\n          sizeError.style.display = 'block';\\n          return;\\n        }\\n        label.textContent = file.name;\\n        dropZone.classList.add('has-file');\\n      } else {\\n        label.textContent = 'Clique ou arraste a planilha (.xlsx)';\\n        dropZone.classList.remove('has-file');\\n      }\\n    });\\n\\n    dropZone.addEventListener('click', function() { input.click(); });\\n    dropZone.addEventListener('keydown', function(e) {\\n      if (e.key === 'Enter' || e.key === ' ') { e.preventDefault(); input.click(); }\\n    });\\n\\n    dropZone.addEventListener('dragover', function(e) { e.preventDefault(); dropZone.style.borderColor = '#2e86c1'; });\\n    dropZone.addEventListener('dragleave', function(e) {\\n      e.preventDefault();\\n      dropZone.style.borderColor = dropZone.classList.contains('has-file') ? '#27ae60' : '#b0c4d8';\\n    });\\n    dropZone.addEventListener('drop', function(e) {\\n      e.preventDefault();\\n      dropZone.style.borderColor = '';\\n      var files = e.dataTransfer.files;\\n      if (files.length > 0) {\\n        input.files = files;\\n        input.dispatchEvent(new Event('change'));\\n      }\\n    });\\n  }\\n\\n  handleFileSelect(dailyFileInput, dailyDropZone, dailyLabel, dailySizeError);\\n  handleFileSelect(historicalFileInput, historicalDropZone, historicalLabel, historicalSizeError);\\n\\n  function showError(msg) {\\n    errorText.textContent = msg;\\n    errorMessage.style.display = 'block';\\n  }\\n\\n  form.addEventListener('submit', function(e) {\\n    e.preventDefault();\\n    errorMessage.style.display = 'none';\\n    dailySizeError.style.display = 'none';\\n    historicalSizeError.style.display = 'none';\\n\\n    if (!dailyFileInput.files || dailyFileInput.files.length === 0) {\\n      showError('Selecione a Planilha Diária para continuar.');\\n      return;\\n    }\\n    if (!historicalFileInput.files || historicalFileInput.files.length === 0) {\\n      showError('Selecione a Planilha Histórica PRN para continuar.');\\n      return;\\n    }\\n    if (dailyFileInput.files[0].size > MAX_SIZE) {\\n      dailySizeError.style.display = 'block';\\n      return;\\n    }\\n    if (historicalFileInput.files[0].size > MAX_SIZE) {\\n      historicalSizeError.style.display = 'block';\\n      return;\\n    }\\n\\n    submitBtn.disabled = true;\\n    submitBtn.innerHTML = '<span class=\\\"spinner\\\"></span>Processando...';\\n\\n    form.submit();\\n  });\\n})();\\n</script>\\n</body>\\n</html>\\n\";\nreturn [{ json: { html } }];"
      },
      "id": "node-code-serve-form-v4",
      "name": "Code: Serve Form",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        430,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "node-respond-form-v4",
      "name": "Respond Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        180
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prn/report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-post-v4",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        560
      ],
      "webhookId": "wh-prn-report-v4"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() || {};\nconst binary = item.binary || {};\nconst errors = [];\n\nif (!binary.daily_file) {\n  errors.push('Planilha Diária não enviada (campo daily_file).');\n}\nif (!binary.historical_file) {\n  errors.push('Planilha Histórica PRN não enviada (campo historical_file).');\n}\n\nconst crypto = require('crypto');\nconst requestId = crypto.randomUUID\n  ? crypto.randomUUID()\n  : `req_${Date.now()}_${Math.random().toString(36).slice(2, 8)}`;\n\nconst rawRef = String(item.json?.reference_date || item.json?.referenceDate || '').trim();\nconst isISODate = /^\\d{4}-\\d{2}-\\d{2}$/.test(rawRef);\nconst referenceDateUsed = isISODate ? rawRef : new Date().toISOString().slice(0, 10);\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      valid: false,\n      requestId,\n      errorCode: 'VALIDATION_ERROR',\n      error: 'Falha na validação do upload.',\n      details: { errors },\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    kind: 'context',\n    valid: true,\n    requestId,\n    referenceDateUsed,\n    dailyFilename: binary.daily_file?.fileName || 'daily.xlsx',\n    historyFilename: binary.historical_file?.fileName || 'history.xlsx',\n  },\n  binary,\n}];"
      },
      "id": "node-code-init-v4",
      "name": "Code: Initialize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        430,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-required-v4",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-required-v4",
      "name": "IF: Required Files Present",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        560
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "daily_file",
        "options": {
          "sheetName": "Contas",
          "headerRow": false,
          "includeEmptyCells": true
        }
      },
      "id": "node-extract-contas-v4",
      "name": "Extract Daily Contas",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        960,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst warnings = [];\nconst blockingErrors = [];\n\nif (inputItems.some((it) => it.json?.error)) {\n  blockingErrors.push('Falha ao extrair a aba Contas. Verifique se a aba existe e está legível.');\n}\n\nconst rows = inputItems\n  .map((it) => (Array.isArray(it.json?.row) ? it.json.row : null))\n  .filter((r) => Array.isArray(r));\n\nif (rows.length === 0) {\n  blockingErrors.push('Aba Contas sem linhas utilizáveis.');\n  return [{ json: { kind: 'contas', contas: [], warnings, blockingErrors } }];\n}\n\nconst t = (v) => (v == null ? '' : String(v).trim());\nconst tu = (v) => t(v).toUpperCase();\n\nconst toNumber = (v) => {\n  if (v == null || v === '') return null;\n  if (typeof v === 'number') return Number.isFinite(v) ? Math.round(v * 100) / 100 : null;\n  let s = String(v).trim();\n  s = s.replace(/\\s+/g, '');\n  if (s.includes(',') && s.includes('.')) {\n    s = s.replace(/\\./g, '').replace(',', '.');\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n  const n = Number(s);\n  return Number.isFinite(n) ? Math.round(n * 100) / 100 : null;\n};\n\nconst toDate = (v) => {\n  if (v == null || v === '') return null;\n  if (typeof v === 'number' && Number.isFinite(v)) {\n    // Excel serial date (base 1899-12-30)\n    const wholeDays = Math.floor(v);\n    const excelEpoch = Date.UTC(1899, 11, 30);\n    const d = new Date(excelEpoch + wholeDays * 86400000);\n    if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  if (Object.prototype.toString.call(v) === '[object Date]' && !Number.isNaN(v.getTime())) {\n    return v.toISOString().slice(0, 10);\n  }\n  const s = String(v).trim();\n  if (/^\\d+(\\.\\d+)?$/.test(s)) {\n    const asNum = Number(s);\n    if (Number.isFinite(asNum) && asNum > 20000 && asNum < 90000) {\n      const wholeDays = Math.floor(asNum);\n      const excelEpoch = Date.UTC(1899, 11, 30);\n      const d = new Date(excelEpoch + wholeDays * 86400000);\n      if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n    }\n  }\n  const dmy = s.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (dmy) {\n    const dd = dmy[1].padStart(2, '0');\n    const mm = dmy[2].padStart(2, '0');\n    return `${dmy[3]}-${mm}-${dd}`;\n  }\n\n  const isoLike = s.match(/^(\\d{4})[-/](\\d{1,2})[-/](\\d{1,2})(?:[T\\s].*)?$/);\n  if (isoLike) {\n    const yyyy = isoLike[1];\n    const mm = isoLike[2].padStart(2, '0');\n    const dd = isoLike[3].padStart(2, '0');\n    const d = new Date(`${yyyy}-${mm}-${dd}T00:00:00Z`);\n    if (!Number.isNaN(d.getTime())) return `${yyyy}-${mm}-${dd}`;\n  }\n\n  return null;\n};\n\nlet headerIndex = -1;\nfor (let i = 0; i < Math.min(rows.length, 30); i++) {\n  const c = rows[i].slice(0, 7).map(tu);\n  const hasVenc = c.some((x) => x.includes('VENC'));\n  const hasFav = c.some((x) => x.includes('FAVOREC') || x.includes('FORNECEDOR') || x.includes('DESCRI'));\n  const hasVal = c.some((x) => x === 'VALOR' || x.includes('VALOR'));\n  if (hasVenc && hasFav && hasVal) {\n    headerIndex = i;\n    break;\n  }\n}\n\nconst header = headerIndex >= 0 ? rows[headerIndex].slice(0, 7).map(tu) : [];\n\nconst idx = {\n  venc: 0,\n  fav: 1,\n  dep: 2,\n  cat: 3,\n  val: 4,\n  parcela: 5,\n  obs: 6,\n};\n\nif (header.length) {\n  for (let i = 0; i < header.length; i++) {\n    const h = header[i];\n    if (h.includes('VENC')) idx.venc = i;\n    if (h.includes('FAVOREC') || h.includes('FORNECEDOR') || h.includes('DESCRI')) idx.fav = i;\n    if (h.includes('DEPART') || h.includes('SETOR')) idx.dep = i;\n    if (h.includes('CATEG')) idx.cat = i;\n    if (h.includes('VALOR')) idx.val = i;\n    if (h.includes('PARCEL')) idx.parcela = i;\n    if (h.includes('OBS')) idx.obs = i;\n  }\n}\n\nconst start = headerIndex >= 0 ? headerIndex + 1 : 2;\nconst contas = [];\n\nfor (let i = start; i < rows.length; i++) {\n  const r = rows[i];\n  const firstBlock = r.slice(0, 7);\n  const joined = firstBlock.map(tu).join(' ');\n\n  if (joined.includes('CAMBORIU') || joined.includes('PALHOCA')) continue;\n  if (firstBlock.every((x) => t(x) === '')) continue;\n\n  const favorecido = t(firstBlock[idx.fav]);\n  const favorecidoU = favorecido.toUpperCase();\n  const categoria = t(firstBlock[idx.cat]);\n  const valor = toNumber(firstBlock[idx.val]);\n\n  if (!favorecido && !categoria && (valor == null || valor === 0)) continue;\n  if (!favorecido) continue;\n  if (/^(TOTAL|SALDO|DESPESA|DESPESAS|TRANSFERENCIA|TRANSFERÊNCIA|APLICA)/.test(favorecidoU)) continue;\n  if (favorecidoU === 'N/D') continue;\n  if (valor == null) {\n    warnings.push(`Linha ${i + 1} ignorada na aba Contas: valor inválido.`);\n    continue;\n  }\n\n  contas.push({\n    entity: 'prn_matriz',\n    vencimento: toDate(firstBlock[idx.venc]),\n    favorecido: favorecido || 'N/D',\n    departamento: t(firstBlock[idx.dep]) || null,\n    categoria: categoria || 'Sem categoria',\n    valor,\n    parcela: t(firstBlock[idx.parcela]) || null,\n    observacao: t(firstBlock[idx.obs]) || null,\n    contaCorrente: null,\n  });\n}\n\nif (contas.length === 0) {\n  warnings.push('Nenhuma despesa válida encontrada na aba Contas (bloco PRN MATRIZ).');\n}\n\nreturn [{ json: { kind: 'contas', contas, warnings, blockingErrors } }];"
      },
      "id": "node-parse-contas-v4",
      "name": "Code: Parse Contas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1190,
        360
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "daily_file",
        "options": {
          "sheetName": "Recebido",
          "headerRow": false,
          "includeEmptyCells": true
        }
      },
      "id": "node-extract-recebido-v4",
      "name": "Extract Daily Recebido",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        960,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst warnings = [];\nconst blockingErrors = [];\n\nif (inputItems.some((it) => it.json?.error)) {\n  blockingErrors.push('Falha ao extrair a aba Recebido. Verifique se a aba existe e está legível.');\n}\n\nconst rows = inputItems\n  .map((it) => (Array.isArray(it.json?.row) ? it.json.row : null))\n  .filter((r) => Array.isArray(r));\n\nif (rows.length === 0) {\n  blockingErrors.push('Aba Recebido sem linhas utilizáveis.');\n  return [{ json: { kind: 'recebido', recebido: [], warnings, blockingErrors } }];\n}\n\nconst t = (v) => (v == null ? '' : String(v).trim());\nconst tu = (v) => t(v).toUpperCase();\n\nconst toNumber = (v) => {\n  if (v == null || v === '') return null;\n  if (typeof v === 'number') return Number.isFinite(v) ? Math.round(v * 100) / 100 : null;\n  let s = String(v).trim().replace(/\\s+/g, '');\n  if (s.includes(',') && s.includes('.')) s = s.replace(/\\./g, '').replace(',', '.');\n  else if (s.includes(',')) s = s.replace(',', '.');\n  const n = Number(s);\n  return Number.isFinite(n) ? Math.round(n * 100) / 100 : null;\n};\n\nconst toDate = (v) => {\n  if (v == null || v === '') return null;\n  if (typeof v === 'number' && Number.isFinite(v)) {\n    const wholeDays = Math.floor(v);\n    const excelEpoch = Date.UTC(1899, 11, 30);\n    const d = new Date(excelEpoch + wholeDays * 86400000);\n    if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  if (Object.prototype.toString.call(v) === '[object Date]' && !Number.isNaN(v.getTime())) {\n    return v.toISOString().slice(0, 10);\n  }\n  const s = String(v).trim();\n  if (/^\\d+(\\.\\d+)?$/.test(s)) {\n    const asNum = Number(s);\n    if (Number.isFinite(asNum) && asNum > 20000 && asNum < 90000) {\n      const wholeDays = Math.floor(asNum);\n      const excelEpoch = Date.UTC(1899, 11, 30);\n      const d = new Date(excelEpoch + wholeDays * 86400000);\n      if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n    }\n  }\n  const dmy = s.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (dmy) return `${dmy[3]}-${dmy[2].padStart(2, '0')}-${dmy[1].padStart(2, '0')}`;\n\n  const isoLike = s.match(/^(\\d{4})[-/](\\d{1,2})[-/](\\d{1,2})(?:[T\\s].*)?$/);\n  if (isoLike) {\n    const yyyy = isoLike[1];\n    const mm = isoLike[2].padStart(2, '0');\n    const dd = isoLike[3].padStart(2, '0');\n    const d = new Date(`${yyyy}-${mm}-${dd}T00:00:00Z`);\n    if (!Number.isNaN(d.getTime())) return `${yyyy}-${mm}-${dd}`;\n  }\n\n  return null;\n};\n\nlet headerIndex = -1;\nfor (let i = 0; i < Math.min(rows.length, 40); i++) {\n  const c = rows[i].map(tu);\n  const hasEmpresa = c.some((x) => x.includes('EMPRESA'));\n  const hasValor = c.some((x) => x.includes('VALOR'));\n  if (hasEmpresa && hasValor) {\n    headerIndex = i;\n    break;\n  }\n}\n\nconst header = headerIndex >= 0 ? rows[headerIndex].map(tu) : [];\nconst findCol = (aliases, fallback) => {\n  if (!header.length) return fallback;\n  for (let i = 0; i < header.length; i++) {\n    const h = header[i];\n    if (aliases.some((a) => h.includes(a))) return i;\n  }\n  return fallback;\n};\n\nconst idxData = findCol(['DATA'], 0);\nconst idxDescricao = findCol(['DESCRI', 'HISTOR', 'CLIENTE', 'FAVOREC', 'FORNECEDOR'], 2);\nconst idxEmpresa = findCol(['EMPRESA'], 5);\nconst idxConta = findCol(['CONTA'], 4);\nconst idxValor = findCol(['VALOR'], 6);\nconst idxCategoria = findCol(['CATEG'], 3);\nconst idxConciliado = findCol(['CONCIL', 'STATUS'], 7);\n\nconst start = headerIndex >= 0 ? headerIndex + 1 : 2;\nconst recebido = [];\n\nfor (let i = start; i < rows.length; i++) {\n  const r = rows[i];\n  if (r.every((v) => t(v) === '')) continue;\n\n  const empresa = t(r[idxEmpresa]);\n  const empresaU = empresa.toUpperCase();\n  const isPrn = /PRN|DIAGNOST/.test(empresaU);\n  if (!isPrn) continue;\n\n  const valor = toNumber(r[idxValor]);\n  if (valor == null) {\n    warnings.push(`Linha ${i + 1} ignorada na aba Recebido: valor inválido.`);\n    continue;\n  }\n\n  recebido.push({\n    entity: 'prn_matriz',\n    data: toDate(r[idxData]),\n    descricao: t(r[idxDescricao]) || 'N/D',\n    contaCorrente: t(r[idxConta]) || 'Não informado',\n    valor,\n    categoria: t(r[idxCategoria]) || null,\n    conciliado: t(r[idxConciliado]) || null,\n    empresa,\n    isPrn: true,\n  });\n}\n\nif (recebido.length <= 2) {\n  warnings.push('Poucas linhas de recebimento PRN encontradas. A aba Recebido pode estar filtrada.');\n}\n\nreturn [{ json: { kind: 'recebido', recebido, warnings, blockingErrors } }];"
      },
      "id": "node-parse-recebido-v4",
      "name": "Code: Parse Recebido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1190,
        500
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "daily_file",
        "options": {
          "sheetName": "Resumo",
          "headerRow": false,
          "includeEmptyCells": true
        }
      },
      "id": "node-extract-resumo-v4",
      "name": "Extract Daily Resumo",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        960,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst warnings = [];\nconst blockingErrors = [];\n\nif (inputItems.some((it) => it.json?.error)) {\n  warnings.push('Falha ao extrair a aba Resumo. O relatório seguirá sem conferência completa.');\n}\n\nconst rows = inputItems\n  .map((it) => (Array.isArray(it.json?.row) ? it.json.row : null))\n  .filter((r) => Array.isArray(r));\n\nconst t = (v) => (v == null ? '' : String(v).trim());\nconst tu = (v) => t(v).toUpperCase();\nconst toNumber = (v) => {\n  if (v == null || v === '') return null;\n  if (typeof v === 'number') return Number.isFinite(v) ? Math.round(v * 100) / 100 : null;\n  let s = String(v).trim().replace(/\\s+/g, '');\n  if (s.includes(',') && s.includes('.')) s = s.replace(/\\./g, '').replace(',', '.');\n  else if (s.includes(',')) s = s.replace(',', '.');\n  const n = Number(s);\n  return Number.isFinite(n) ? Math.round(n * 100) / 100 : null;\n};\n\nconst resumo = {\n  prn_matriz: { despesas: 0, saldos: 0, aplicacoes: 0 },\n  prn_locacao: { despesas: 0, saldos: 0, aplicacoes: 0 },\n  prn_holding: { despesas: 0, saldos: 0, aplicacoes: 0 },\n};\n\nif (rows.length === 0) {\n  warnings.push('Aba Resumo vazia ou não legível.');\n  return [{ json: { kind: 'resumo', resumo, warnings, blockingErrors } }];\n}\n\nlet headerIdx = -1;\nfor (let i = 0; i < Math.min(rows.length, 25); i++) {\n  const line = rows[i].map(tu);\n  if (line.some((x) => x.includes('DESPESA')) && line.some((x) => x.includes('SALDO'))) {\n    headerIdx = i;\n    break;\n  }\n}\n\nlet idxDesp = -1;\nlet idxSaldo = -1;\nlet idxAplic = -1;\nif (headerIdx >= 0) {\n  const h = rows[headerIdx].map(tu);\n  for (let i = 0; i < h.length; i++) {\n    if (idxDesp < 0 && h[i].includes('DESPESA')) idxDesp = i;\n    if (idxSaldo < 0 && h[i].includes('SALDO')) idxSaldo = i;\n    if (idxAplic < 0 && (h[i].includes('APLIC') || h[i].includes('INVEST'))) idxAplic = i;\n  }\n}\n\nconst findEntityKey = (lineU) => {\n  if (lineU.includes('PRN MATRIZ')) return 'prn_matriz';\n  if (lineU.includes('PRN LOCA') || lineU.includes('LOCACAO')) return 'prn_locacao';\n  if (lineU.includes('PRN HOLD')) return 'prn_holding';\n  return null;\n};\n\nfor (let r = 0; r < rows.length; r++) {\n  const row = rows[r];\n  const lineU = row.map(tu).join(' ');\n  const key = findEntityKey(lineU);\n  if (!key) continue;\n\n  const nums = row.map(toNumber).filter((n) => n != null);\n  const despesas = idxDesp >= 0 ? toNumber(row[idxDesp]) : nums[0] ?? 0;\n  const saldos = idxSaldo >= 0 ? toNumber(row[idxSaldo]) : nums[1] ?? 0;\n  const aplicacoes = idxAplic >= 0 ? toNumber(row[idxAplic]) : nums[2] ?? 0;\n\n  resumo[key] = {\n    despesas: despesas ?? 0,\n    saldos: saldos ?? 0,\n    aplicacoes: aplicacoes ?? 0,\n  };\n}\n\nreturn [{ json: { kind: 'resumo', resumo, warnings, blockingErrors } }];"
      },
      "id": "node-parse-resumo-v4",
      "name": "Code: Parse Resumo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1190,
        640
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "historical_file",
        "options": {
          "sheetName": "financas",
          "headerRow": false,
          "includeEmptyCells": true
        }
      },
      "id": "node-extract-history-v4",
      "name": "Extract History Financas",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        960,
        780
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst warnings = [];\nconst blockingErrors = [];\n\nif (inputItems.some((it) => it.json?.error)) {\n  blockingErrors.push('Falha ao extrair a aba financas do histórico.');\n}\n\nconst rows = inputItems\n  .map((it) => (Array.isArray(it.json?.row) ? it.json.row : null))\n  .filter((r) => Array.isArray(r));\n\nif (rows.length === 0) {\n  blockingErrors.push('Aba financas vazia ou não legível.');\n  return [{ json: { kind: 'history', history: { rows: [], summary: { totalRecords: 0 } }, warnings, blockingErrors } }];\n}\n\nconst t = (v) => (v == null ? '' : String(v).trim());\n\nconst toNumber = (v) => {\n  if (v == null || v === '') return null;\n  if (typeof v === 'number') return Number.isFinite(v) ? Math.round(v * 100) / 100 : null;\n  let s = String(v).trim().replace(/\\s+/g, '');\n  if (s.includes(',') && s.includes('.')) s = s.replace(/\\./g, '').replace(',', '.');\n  else if (s.includes(',')) s = s.replace(',', '.');\n  const n = Number(s);\n  return Number.isFinite(n) ? Math.round(n * 100) / 100 : null;\n};\n\nconst toDate = (v) => {\n  if (v == null || v === '') return null;\n  if (typeof v === 'number' && Number.isFinite(v)) {\n    const wholeDays = Math.floor(v);\n    const excelEpoch = Date.UTC(1899, 11, 30);\n    const d = new Date(excelEpoch + wholeDays * 86400000);\n    if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  }\n  if (Object.prototype.toString.call(v) === '[object Date]' && !Number.isNaN(v.getTime())) {\n    return v.toISOString().slice(0, 10);\n  }\n  const s = String(v).trim();\n  if (/^\\d+(\\.\\d+)?$/.test(s)) {\n    const asNum = Number(s);\n    if (Number.isFinite(asNum) && asNum > 20000 && asNum < 90000) {\n      const wholeDays = Math.floor(asNum);\n      const excelEpoch = Date.UTC(1899, 11, 30);\n      const d = new Date(excelEpoch + wholeDays * 86400000);\n      if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n    }\n  }\n  const dmy = s.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (dmy) return `${dmy[3]}-${dmy[2].padStart(2, '0')}-${dmy[1].padStart(2, '0')}`;\n\n  const isoLike = s.match(/^(\\d{4})[-/](\\d{1,2})[-/](\\d{1,2})(?:[T\\s].*)?$/);\n  if (isoLike) {\n    const yyyy = isoLike[1];\n    const mm = isoLike[2].padStart(2, '0');\n    const dd = isoLike[3].padStart(2, '0');\n    const d = new Date(`${yyyy}-${mm}-${dd}T00:00:00Z`);\n    if (!Number.isNaN(d.getTime())) return `${yyyy}-${mm}-${dd}`;\n  }\n\n  return null;\n};\n\nconst sanitizeDate = (dateValue, fieldLabel, rowNumber) => {\n  if (!dateValue) return null;\n  const y = Number(String(dateValue).slice(0, 4));\n  if (!Number.isFinite(y) || y < 2000 || y > 2100) {\n    warnings.push(`Data de ${fieldLabel} fora do intervalo esperado: ${dateValue} (linha ${rowNumber}).`);\n    return null;\n  }\n  return dateValue;\n};\n\nconst parsed = [];\nlet periodStart = null;\nlet periodEnd = null;\n\nfor (let i = 3; i < rows.length; i++) {\n  const row = rows[i];\n  if (!row || row.every((v) => t(v) === '')) continue;\n\n  const situacao = t(row[0]);\n  const fornecedor = t(row[3]);\n  const previsao = sanitizeDate(toDate(row[4]), 'previsão', i + 1);\n  const ultimoPagamento = sanitizeDate(toDate(row[5]), 'último pagamento', i + 1);\n  const valorLiquido = toNumber(row[7]);\n  const categoria = t(row[10]);\n  const contaCorrente = t(row[14]);\n  const vencimento = sanitizeDate(toDate(row[16]), 'vencimento', i + 1);\n\n  if (!situacao && valorLiquido == null) continue;\n  if (valorLiquido == null) {\n    warnings.push(`Linha ${i + 1} no histórico com valor líquido inválido.`);\n    continue;\n  }\n\n  if (vencimento) {\n    if (!periodStart || vencimento < periodStart) periodStart = vencimento;\n    if (!periodEnd || vencimento > periodEnd) periodEnd = vencimento;\n  }\n\n  parsed.push({\n    situacao,\n    fornecedor,\n    previsao,\n    ultimoPagamento,\n    valorLiquido,\n    categoria,\n    contaCorrente,\n    vencimento,\n  });\n}\n\nlet totalPago = 0;\nlet totalAtrasado = 0;\nfor (const r of parsed) {\n  const s = (r.situacao || '').toUpperCase();\n  if (s.includes('PAGO')) totalPago += r.valorLiquido;\n  if (s.includes('ATRAS')) totalAtrasado += r.valorLiquido;\n}\n\nreturn [{\n  json: {\n    kind: 'history',\n    history: {\n      rows: parsed,\n      summary: {\n        totalRecords: parsed.length,\n        periodStart,\n        periodEnd,\n        totalPago: Math.round(totalPago * 100) / 100,\n        totalAtrasado: Math.round(totalAtrasado * 100) / 100,\n      },\n    },\n    warnings,\n    blockingErrors,\n  },\n}];"
      },
      "id": "node-parse-history-v4",
      "name": "Code: Parse History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1190,
        780
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 5
      },
      "id": "node-merge-parsed-v4",
      "name": "Merge Parsed Streams",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1450,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\n\nconst context = all.find((i) => i.json?.kind === 'context')?.json || {};\nconst contasBlock = all.find((i) => i.json?.kind === 'contas')?.json;\nconst recebidoBlock = all.find((i) => i.json?.kind === 'recebido')?.json;\nconst resumoBlock = all.find((i) => i.json?.kind === 'resumo')?.json;\nconst historyBlock = all.find((i) => i.json?.kind === 'history')?.json;\n\nconst dailyWarnings = [];\nconst historyWarnings = [];\nconst blockingErrors = [];\n\nif (Array.isArray(contasBlock?.warnings)) dailyWarnings.push(...contasBlock.warnings);\nif (Array.isArray(recebidoBlock?.warnings)) dailyWarnings.push(...recebidoBlock.warnings);\nif (Array.isArray(resumoBlock?.warnings)) dailyWarnings.push(...resumoBlock.warnings);\nif (Array.isArray(historyBlock?.warnings)) historyWarnings.push(...historyBlock.warnings);\n\nfor (const b of [contasBlock, recebidoBlock, resumoBlock, historyBlock]) {\n  if (!b) continue;\n  if (Array.isArray(b.blockingErrors)) blockingErrors.push(...b.blockingErrors);\n}\n\nconst warnings = [...dailyWarnings, ...historyWarnings];\n\nif (!contasBlock) blockingErrors.push('Bloco Contas ausente após extração.');\nif (!recebidoBlock) blockingErrors.push('Bloco Recebido ausente após extração.');\nif (!historyBlock) blockingErrors.push('Bloco Histórico ausente após extração.');\n\nconst rawData = {\n  daily: {\n    contas: contasBlock?.contas || [],\n    recebido: recebidoBlock?.recebido || [],\n    resumo: resumoBlock?.resumo || {\n      prn_matriz: { despesas: 0, saldos: 0, aplicacoes: 0 },\n      prn_locacao: { despesas: 0, saldos: 0, aplicacoes: 0 },\n      prn_holding: { despesas: 0, saldos: 0, aplicacoes: 0 },\n    },\n    warnings: dailyWarnings.map((w) => ({ severity: 'low', source: 'daily', message: String(w) })),\n  },\n  history: {\n    rows: historyBlock?.history?.rows || [],\n    summary: historyBlock?.history?.summary || { totalRecords: 0, periodStart: null, periodEnd: null, totalPago: 0, totalAtrasado: 0 },\n    warnings: historyWarnings.map((w) => ({ severity: 'low', source: 'history', message: String(w) })),\n  },\n};\n\nreturn [{\n  json: {\n    context,\n    rawData,\n    warnings,\n    blockingErrors,\n  },\n}];"
      },
      "id": "node-assemble-raw-v4",
      "name": "Code: Assemble Raw Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst errors = Array.isArray(item.blockingErrors) ? [...item.blockingErrors] : [];\nconst warnings = Array.isArray(item.warnings) ? [...item.warnings] : [];\n\nconst raw = item.rawData || {};\n\nif (!raw.daily) errors.push('Objeto daily ausente.');\nif (!raw.history) errors.push('Objeto history ausente.');\nif (!Array.isArray(raw.daily?.contas)) errors.push('daily.contas inválido.');\nif (!Array.isArray(raw.daily?.recebido)) errors.push('daily.recebido inválido.');\nif (!raw.daily?.resumo || typeof raw.daily.resumo !== 'object') errors.push('daily.resumo inválido.');\nif (!Array.isArray(raw.history?.rows)) errors.push('history.rows inválido.');\n\nif ((raw.daily?.contas || []).length === 0) {\n  warnings.push('Nenhuma despesa válida encontrada para PRN MATRIZ na diária.');\n}\n\nif ((raw.history?.rows || []).length === 0) {\n  warnings.push('Histórico sem linhas válidas na aba financas.');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      schemaValid: false,\n      requestId: item.context?.requestId || '',\n      errorCode: 'SCHEMA_VALIDATION_ERROR',\n      error: 'Falha na validação estrutural das planilhas.',\n      details: {\n        errors,\n        warnings,\n      },\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    schemaValid: true,\n    context: item.context,\n    rawData: raw,\n    warnings,\n  },\n}];"
      },
      "id": "node-schema-validation-v4",
      "name": "Code: Schema Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-schema-v4",
              "leftValue": "={{ $json.schemaValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-schema-v4",
      "name": "IF: Schema Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// PRN Reporting - Normalizer Module\n// =============================================================================\n// Receives raw parsed data from parser-daily.js and parser-history.js and\n// normalizes it into a unified, canonical structure for downstream reporting.\n//\n// Responsibilities:\n//   - Normalize entity names (PRN MATRIZ, PRN LOCAÇÃO, PRN HOLDING)\n//   - Normalize bank account names (Omie, Unicreds, BB, Bradesco, etc.)\n//   - Normalize expense/receipt categories (aluguel, salarios, impostos, etc.)\n//   - Normalize payment status strings (pago, atrasado, pendente, etc.)\n//   - Filter recebido records to only PRN entities\n//   - Generate warnings for unresolvable aliases (severity: \"low\")\n//   - Coerce dates to ISO strings, values to numbers, trim all text\n//   - Merge warnings from all parsers plus normalization warnings\n// =============================================================================\n\n'use strict';\n\n// =============================================================================\n// Alias Maps\n// =============================================================================\n\n// Maps every known entity name variant to its canonical code.\n// Keys are lower-cased, trimmed for case/accent-insensitive lookup.\nconst ENTITY_ALIASES = {\n  'prn matriz': 'prn_matriz',\n  'prn': 'prn_matriz',\n  'prn diagnosticos': 'prn_matriz',\n  'prn diagnosticos imagem': 'prn_matriz',\n  'prn diagnósticos': 'prn_matriz',\n  'prn diagnósticos imagem': 'prn_matriz',\n  'prn locação': 'prn_locacao',\n  'prn locaçao': 'prn_locacao',\n  'prn locacao': 'prn_locacao',\n  'prn locações': 'prn_locacao',\n  'prn locacões': 'prn_locacao',\n  'prn holding': 'prn_holding',\n  'holding prn': 'prn_holding',\n};\n\n// Canonical display labels keyed by canonical entity code.\nconst ENTITY_LABELS = {\n  prn_matriz: 'PRN MATRIZ',\n  prn_locacao: 'PRN LOCAÇÃO',\n  prn_holding: 'PRN HOLDING',\n};\n\n// Maps every known bank account name variant to its canonical code.\nconst BANK_ALIASES = {\n  'omie.cash': 'omie_cash',\n  'omie cash': 'omie_cash',\n  'omie': 'omie_cash',\n  'centrais unicreds itajaí': 'centrais_unicreds_itajai',\n  'centrais unicreds itajai': 'centrais_unicreds_itajai',\n  'centrais unicreds': 'centrais_unicreds_itajai',\n  'unicreds itajaí': 'centrais_unicreds_itajai',\n  'unicreds itajai': 'centrais_unicreds_itajai',\n  'centrais unicreds ijuí': 'centrais_unicreds_ijui',\n  'centrais unicreds ijui': 'centrais_unicreds_ijui',\n  'unicreds ijuí': 'centrais_unicreds_ijui',\n  'unicreds ijui': 'centrais_unicreds_ijui',\n  'banco do brasil': 'banco_do_brasil',\n  'bb': 'banco_do_brasil',\n  'bradesco': 'bradesco',\n  'santander': 'santander',\n  'caixa econômica': 'caixa',\n  'caixa economica': 'caixa',\n  'caixa': 'caixa',\n  'itau': 'itau',\n  'itú': 'itau',\n  'itu': 'itau',\n  'sicredi': 'sicredi',\n};\n\n// Canonical display labels keyed by canonical bank code.\nconst BANK_LABELS = {\n  omie_cash: 'Omie Cash',\n  centrais_unicreds_itajai: 'Centrais Unicreds Itajaí',\n  centrais_unicreds_ijui: 'Centrais Unicreds Ijuí',\n  banco_do_brasil: 'Banco do Brasil',\n  bradesco: 'Bradesco',\n  santander: 'Santander',\n  caixa: 'Caixa Econômica',\n  itau: 'Itaú',\n  sicredi: 'Sicredi',\n};\n\n// Maps every known category name variant to its canonical key.\n// Covers common Brazilian Portuguese variations including typos.\nconst CATEGORY_ALIASES = {\n  // Aluguel\n  'aluguel': 'aluguel',\n  'alugueis': 'aluguel',\n  'aluguéis': 'aluguel',\n  'alugáreis': 'aluguel',\n  'locacao': 'aluguel',\n  'locação': 'aluguel',\n  'condominio': 'aluguel',\n  'condomínio': 'aluguel',\n  // Energia\n  'energia': 'energia',\n  'energia eletrica': 'energia',\n  'energia elétrica': 'energia',\n  'luz': 'energia',\n  'conta de luz': 'energia',\n  'celesc': 'energia',\n  // Telefonia / Internet\n  'telefonia': 'telefonia',\n  'telefone': 'telefonia',\n  'telefones': 'telefonia',\n  'internet': 'telefonia',\n  'celular': 'telefonia',\n  'celulares': 'telefonia',\n  'vivo': 'telefonia',\n  'claro': 'telefonia',\n  'tim': 'telefonia',\n  'oi': 'telefonia',\n  'operadora': 'telefonia',\n  // Salários\n  'salarios': 'salarios',\n  'salários': 'salarios',\n  'salario': 'salarios',\n  'salário': 'salarios',\n  'folha de pagamento': 'salarios',\n  'folha': 'salarios',\n  'fgts': 'salarios',\n  'inss': 'salarios',\n  'rescisao': 'salarios',\n  'rescisão': 'salarios',\n  '13o salario': 'salarios',\n  'decimo terceiro': 'salarios',\n  'ferias': 'salarios',\n  'férias': 'salarios',\n  'beneficios': 'salarios',\n  'benefícios': 'salarios',\n  'vale transporte': 'salarios',\n  'vale refeicao': 'salarios',\n  'vale alimentacao': 'salarios',\n  'vale alimentação': 'salarios',\n  'plano de saude': 'salarios',\n  'plano de saúde': 'salarios',\n  // Impostos\n  'impostos': 'impostos',\n  'imposto': 'impostos',\n  'tributos': 'impostos',\n  'tributo': 'impostos',\n  'taxas': 'impostos',\n  'irpj': 'impostos',\n  'csll': 'impostos',\n  'pis': 'impostos',\n  'cofins': 'impostos',\n  'icms': 'impostos',\n  'iss': 'impostos',\n  'ipva': 'impostos',\n  'iptu': 'impostos',\n  'darf': 'impostos',\n  'guia de recolhimento': 'impostos',\n  'simples nacional': 'impostos',\n  'das': 'impostos',\n  // Insumos\n  'insumos': 'insumos',\n  'insumo': 'insumos',\n  'materiais': 'insumos',\n  'material': 'insumos',\n  'insumos medicos': 'insumos',\n  'insumos médicos': 'insumos',\n  'suprimentos': 'insumos',\n  'descartaveis': 'insumos',\n  'descartáveis': 'insumos',\n  'consumiveis': 'insumos',\n  'consumíveis': 'insumos',\n  'filmes': 'insumos',\n  'reagentes': 'insumos',\n  'contraste': 'insumos',\n  // Manutenção\n  'manutencao': 'manutencao',\n  'manutenção': 'manutencao',\n  'manutenção preventiva': 'manutencao',\n  'manutencao preventiva': 'manutencao',\n  'manutenção corretiva': 'manutencao',\n  'manutencao corretiva': 'manutencao',\n  'conserto': 'manutencao',\n  'reparo': 'manutencao',\n  'reparos': 'manutencao',\n  'assistencia tecnica': 'manutencao',\n  'assistência técnica': 'manutencao',\n  'conservacao': 'manutencao',\n  'conservação': 'manutencao',\n  // Software / TI\n  'software': 'software',\n  'softwares': 'software',\n  'sistema': 'software',\n  'sistemas': 'software',\n  'licenca': 'software',\n  'licença': 'software',\n  'licencas': 'software',\n  'licenças': 'software',\n  'assinatura': 'software',\n  'assinaturas': 'software',\n  'saas': 'software',\n  'ti': 'software',\n  'tecnologia': 'software',\n  'tecnologia da informacao': 'software',\n  'tecnologia da informação': 'software',\n  'cloud': 'software',\n  'hosting': 'software',\n  'hospedagem': 'software',\n  'dominio': 'software',\n  'domínio': 'software',\n  // Marketing\n  'marketing': 'marketing',\n  'publicidade': 'marketing',\n  'propaganda': 'marketing',\n  'divulgacao': 'marketing',\n  'divulgação': 'marketing',\n  'anuncio': 'marketing',\n  'anúncio': 'marketing',\n  'google ads': 'marketing',\n  'facebook ads': 'marketing',\n  'midia social': 'marketing',\n  'mídia social': 'marketing',\n  'redes sociais': 'marketing',\n  'site': 'marketing',\n  'website': 'marketing',\n  // Transporte\n  'transporte': 'transporte',\n  'transportes': 'transporte',\n  'combustivel': 'transporte',\n  'combustível': 'transporte',\n  'combustiveis': 'transporte',\n  'combustíveis': 'transporte',\n  'gasolina': 'transporte',\n  'etanol': 'transporte',\n  'diesel': 'transporte',\n  'pedagio': 'transporte',\n  'pedágio': 'transporte',\n  'estacionamento': 'transporte',\n  'frota': 'transporte',\n  'veiculo': 'transporte',\n  'veículo': 'transporte',\n  'uber': 'transporte',\n  '99': 'transporte',\n  'corrida': 'transporte',\n  // Seguros\n  'seguros': 'seguros',\n  'seguro': 'seguros',\n  'apolice': 'seguros',\n  'apólice': 'seguros',\n  'seguro de vida': 'seguros',\n  'seguro patrimonial': 'seguros',\n  'seguro empresarial': 'seguros',\n  'responsabilidade civil': 'seguros',\n  // Profissionais\n  'profissionais': 'profissionais',\n  'profissional': 'profissionais',\n  'terceirizados': 'profissionais',\n  'terceirizado': 'profissionais',\n  'consultoria': 'profissionais',\n  'consultor': 'profissionais',\n  'auditoria': 'profissionais',\n  'contabilidade': 'profissionais',\n  'advocacia': 'profissionais',\n  'juridico': 'profissionais',\n  'jurídico': 'profissionais',\n  'honorarios': 'profissionais',\n  'honorários': 'profissionais',\n  'escritorio contabil': 'profissionais',\n  'escritório contábil': 'profissionais',\n  // Utilities (genérico)\n  'utilities': 'utilities',\n  'utilidades': 'utilities',\n  'servicos gerais': 'utilities',\n  'serviços gerais': 'utilities',\n  'diversos': 'utilities',\n  'outros': 'utilities',\n  'geral': 'utilities',\n};\n\n// Canonical display labels keyed by canonical category code.\nconst CATEGORY_LABELS = {\n  aluguel: 'Aluguel',\n  energia: 'Energia',\n  telefonia: 'Telefonia',\n  salarios: 'Salários',\n  impostos: 'Impostos',\n  insumos: 'Insumos',\n  manutencao: 'Manutenção',\n  software: 'Software',\n  marketing: 'Marketing',\n  transporte: 'Transporte',\n  seguros: 'Seguros',\n  profissionais: 'Profissionais',\n  utilities: 'Utilities',\n};\n\n// Maps every known payment status variant to its canonical code.\nconst STATUS_ALIASES = {\n  'pago': 'pago',\n  'paga': 'pago',\n  'pagos': 'pago',\n  'pagas': 'pago',\n  'liquidado': 'pago',\n  'liquidada': 'pago',\n  'quitado': 'pago',\n  'quitada': 'pago',\n  'baixado': 'pago',\n  'atrasado': 'atrasado',\n  'atrasada': 'atrasado',\n  'em atraso': 'atrasado',\n  'vencido': 'atrasado',\n  'vencida': 'atrasado',\n  'inadimplente': 'atrasado',\n  'pago parcialmente': 'pago_parcialmente',\n  'paga parcialmente': 'pago_parcialmente',\n  'pagamento parcial': 'pago_parcialmente',\n  'parcial': 'pago_parcialmente',\n  'pendente': 'pendente',\n  'pendente de pagamento': 'pendente',\n  'a pagar': 'pendente',\n  'aberto': 'pendente',\n  'em aberto': 'pendente',\n  'agendado': 'pendente',\n  'cancelado': 'cancelado',\n  'cancelada': 'cancelado',\n  'estornado': 'cancelado',\n  'estornada': 'cancelado',\n  'excluido': 'cancelado',\n  'excluído': 'cancelado',\n};\n\n// Canonical display labels keyed by canonical status code.\nconst STATUS_LABELS = {\n  pago: 'Pago',\n  atrasado: 'Atrasado',\n  pago_parcialmente: 'Pago Parcialmente',\n  pendente: 'Pendente',\n  cancelado: 'Cancelado',\n};\n\n// Set of known entity codes for filtering recebido records.\nconst PRN_ENTITY_CODES = new Set([\n  'prn_matriz',\n  'prn_locacao',\n  'prn_holding',\n]);\n\n// =============================================================================\n// Lookup Helpers\n// =============================================================================\n\n/**\n * Looks up a value in an alias map using case/accent-insensitive matching.\n * Returns the canonical code, or the original input trimmed if no match.\n */\nfunction resolveAlias(raw, aliasMap) {\n  if (!raw || typeof raw !== 'string') return null;\n  const key = raw.trim().toLowerCase();\n  return aliasMap[key] || null;\n}\n\n/**\n * Normalizes a bank account name: returns the canonical code.\n */\nfunction normalizeBank(raw) {\n  return resolveAlias(raw, BANK_ALIASES);\n}\n\n/**\n * Normalizes an entity name: returns the canonical code.\n */\nfunction normalizeEntity(raw) {\n  return resolveAlias(raw, ENTITY_ALIASES);\n}\n\n/**\n * Normalizes a category name: returns the canonical code.\n */\nfunction normalizeCategory(raw) {\n  return resolveAlias(raw, CATEGORY_ALIASES);\n}\n\n/**\n * Normalizes a payment status: returns the canonical code.\n */\nfunction normalizeStatus(raw) {\n  return resolveAlias(raw, STATUS_ALIASES);\n}\n\n// =============================================================================\n// Date Helpers\n// =============================================================================\n\n/**\n * Attempts to parse a date value into an ISO string.\n * Accepts Date objects, ISO strings, or Brazilian \"dd/mm/yyyy\" strings.\n * Returns null if unparseable.\n */\nfunction toISODate(value) {\n  if (!value) return null;\n  if (value instanceof Date) {\n    return isNaN(value.getTime()) ? null : value.toISOString().slice(0, 10);\n  }\n  if (typeof value !== 'string') return null;\n\n  const trimmed = value.trim();\n  if (!trimmed) return null;\n\n  // Numeric strings are treated as Excel serial dates when plausible.\n  // Plain year-like strings (e.g. \"2502\") are rejected to avoid false positives.\n  if (/^\\d+(\\.\\d+)?$/.test(trimmed)) {\n    const asNum = Number(trimmed);\n    if (Number.isFinite(asNum) && asNum > 20000 && asNum < 90000) {\n      const wholeDays = Math.floor(asNum);\n      const excelEpoch = Date.UTC(1899, 11, 30);\n      const date = new Date(excelEpoch + wholeDays * 86400000);\n      return isNaN(date.getTime()) ? null : date.toISOString().slice(0, 10);\n    }\n    return null;\n  }\n\n  // Try native ISO parse first\n  const isoLike = trimmed.match(/^(\\d{4})[-/](\\d{1,2})[-/](\\d{1,2})(?:[T\\s].*)?$/);\n  if (isoLike) {\n    const [, year, month, day] = isoLike;\n    const parsed = new Date(Date.UTC(Number(year), Number(month) - 1, Number(day)));\n    if (!isNaN(parsed.getTime())) {\n      return parsed.toISOString().slice(0, 10);\n    }\n  }\n\n  // Try Brazilian dd/mm/yyyy or dd/mm/yyyy hh:mm\n  const brMatch = trimmed.match(/^(\\d{1,2})[/\\-.](\\d{1,2})[/\\-.](\\d{4})/);\n  if (brMatch) {\n    const [, day, month, year] = brMatch;\n    const parsed = new Date(Date.UTC(Number(year), Number(month) - 1, Number(day)));\n    if (!isNaN(parsed.getTime())) {\n      return parsed.toISOString().slice(0, 10);\n    }\n  }\n\n  // Last resort only for clearly date-like strings.\n  if (/[\\-/:T]/.test(trimmed)) {\n    const native = new Date(trimmed);\n    if (!isNaN(native.getTime())) {\n      return native.toISOString().slice(0, 10);\n    }\n  }\n\n  return null;\n}\n\n// =============================================================================\n// Value Helpers\n// =============================================================================\n\n/**\n * Coerces a value to a number. Handles string numbers with common\n * Brazilian formatting (dot as thousands separator, comma as decimal).\n * Returns NaN if unparseable.\n */\nfunction toNumber(value) {\n  if (value === null || value === undefined || value === '') return NaN;\n  if (typeof value === 'number') return value;\n\n  if (typeof value === 'string') {\n    // Remove R$ prefix, spaces, and common currency symbols\n    let cleaned = value\n      .replace(/[R$\\s]/g, '')\n      .replace(/\\.(?=\\d{3})/g, '')   // remove thousands separators (dots)\n      .replace(/,/g, '.');            // decimal comma -> dot\n\n    // Handle edge case where cleaned string ends with a dot\n    cleaned = cleaned.replace(/\\.$/, '');\n\n    const parsed = Number(cleaned);\n    return isNaN(parsed) ? NaN : parsed;\n  }\n\n  return NaN;\n}\n\n/**\n * Trims a string value, or returns null for falsy input.\n */\nfunction trimText(value) {\n  if (!value || typeof value !== 'string') return null;\n  return value.trim();\n}\n\n// =============================================================================\n// Warning Helpers\n// =============================================================================\n\n/**\n * Creates a normalization warning object.\n */\nfunction makeWarning(source, field, rawValue, message) {\n  return {\n    severity: 'low',\n    source: `normalizer:${source}`,\n    field,\n    raw: rawValue ?? null,\n    message,\n  };\n}\n\n// =============================================================================\n// Build Entity Summaries\n// =============================================================================\n\n/**\n * Builds the entities array from the daily resumo data.\n * Each entity gets its bank balance, applications, expenses total,\n * and received total from the parsed summary.\n */\nfunction buildEntities(resumo, warnings) {\n  const entityCodes = ['prn_matriz', 'prn_locacao', 'prn_holding'];\n  const entities = [];\n\n  for (const code of entityCodes) {\n    const raw = resumo?.[code] || {};\n    const label = ENTITY_LABELS[code] || code;\n\n    entities.push({\n      code,\n      label,\n      saldoBancario: toNumber(raw.saldos) || 0,\n      saldoAplicacoes: toNumber(raw.aplicacoes) || 0,\n      despesas: toNumber(raw.despesas) || 0,\n      recebido: toNumber(raw.recebido) || 0,\n    });\n  }\n\n  return entities;\n}\n\n// =============================================================================\n// Normalize Expenses (Contas a Pagar)\n// =============================================================================\n\n/**\n * Normalizes the daily contas array into the canonical expense format.\n * Attempts to resolve entity, bank, and category from the raw record.\n */\nfunction normalizeExpenses(contas, warnings) {\n  if (!Array.isArray(contas)) return [];\n\n  let categoryWarningCount = 0;\n\n  return contas.map((item, idx) => {\n    const entity = normalizeEntity(item.empresa || item.entidade || item.favorecido);\n    const contaCorrenteRaw = trimText(item.contaCorrente || item.conta_corrente || item.banco);\n    const contaCorrente = normalizeBank(contaCorrenteRaw);\n    const categoriaRaw = trimText(item.categoria || item.categoria_descricao);\n    const categoria = normalizeCategory(categoriaRaw);\n\n    // Warn about unresolvable aliases\n    if (!entity && contaCorrenteRaw) {\n      // Only warn if there is context suggesting an entity was intended\n    }\n    if (contaCorrenteRaw && !contaCorrente) {\n      warnings.push(\n        makeWarning('expenses', 'contaCorrente', contaCorrenteRaw,\n          `Unknown bank alias \"${contaCorrenteRaw}\" at index ${idx}`)\n      );\n    }\n    if (categoriaRaw && !categoria && categoriaRaw.toLowerCase() !== 'sem categoria' && categoryWarningCount < 10) {\n      categoryWarningCount += 1;\n      warnings.push(\n        makeWarning('expenses', 'categoria', categoriaRaw,\n          `Unknown category alias \"${categoriaRaw}\" at index ${idx}`)\n      );\n    }\n\n    return {\n      entity: entity || null,\n      vencimento: toISODate(item.vencimento),\n      favorecido: trimText(item.favorecido) || trimText(item.fornecedor),\n      categoria,\n      categoriaOriginal: categoriaRaw,\n      departamento: trimText(item.departamento),\n      valor: toNumber(item.valor) || 0,\n      parcela: trimText(item.parcela),\n      contaCorrente: contaCorrente || null,\n      contaCorrenteOriginal: contaCorrenteRaw,\n      observacao: trimText(item.observacao) || trimText(item.obs) || trimText(item.descricao),\n    };\n  });\n}\n\n// =============================================================================\n// Normalize Receipts (Recebido)\n// =============================================================================\n\n/**\n * Normalizes the daily recebido array.\n * Filters to only records belonging to PRN entities.\n */\nfunction normalizeReceipts(recebido, warnings) {\n  if (!Array.isArray(recebido)) return [];\n\n  const filtered = recebido.filter((item) => {\n    const empresa = trimText(item.empresa) || '';\n    const code = normalizeEntity(empresa);\n\n    if (code && PRN_ENTITY_CODES.has(code)) {\n      return true;\n    }\n\n    // If isPrn flag is explicitly set, include it regardless of entity name\n    if (item.isPrn === true || item.isPrn === 'true' || item.isPrn === 1) {\n      return true;\n    }\n\n    return false;\n  });\n\n  return filtered.map((item, idx) => {\n    const empresa = trimText(item.empresa) || '';\n    const entity = normalizeEntity(empresa) || null;\n    const contaCorrenteRaw = trimText(item.contaCorrente || item.conta_corrente || item.banco);\n    const contaCorrente = normalizeBank(contaCorrenteRaw);\n    const categoriaRaw = trimText(item.categoria);\n\n    if (contaCorrenteRaw && !contaCorrente) {\n      warnings.push(\n        makeWarning('receipts', 'contaCorrente', contaCorrenteRaw,\n          `Unknown bank alias \"${contaCorrenteRaw}\" at index ${idx}`)\n      );\n    }\n\n    return {\n      entity,\n      data: toISODate(item.data),\n      descricao: trimText(item.descricao),\n      contaCorrente: contaCorrente || null,\n      contaCorrenteOriginal: contaCorrenteRaw,\n      valor: toNumber(item.valor) || 0,\n      categoria: normalizeCategory(categoriaRaw),\n      categoriaOriginal: categoriaRaw,\n      conciliado: item.conciliado === true || item.conciliado === 'true' || item.conciliado === 1,\n    };\n  });\n}\n\n// =============================================================================\n// Build Balances\n// =============================================================================\n\n/**\n * Builds the balances array from entity summaries.\n * Each entity's saldoBancario is attributed to the \"default\" bank group.\n */\nfunction buildBalances(entities) {\n  const balances = [];\n\n  for (const entity of entities) {\n    // If the entity has bank-level breakdowns in resumo, use those.\n    // Otherwise, report saldoBancario as a single entry.\n    if (entity.saldoBancario !== 0 || entity.saldoAplicacoes !== 0) {\n      balances.push({\n        entity: entity.code,\n        contaCorrente: 'total',\n        saldo: entity.saldoBancario + entity.saldoAplicacoes,\n      });\n    }\n  }\n\n  return balances;\n}\n\n// =============================================================================\n// Normalize History\n// =============================================================================\n\n/**\n * Normalizes the history rows and builds a summary.\n */\nfunction normalizeHistory(history) {\n  if (!history || !history.rows) {\n    return {\n      rows: [],\n      summary: {\n        totalRecords: 0,\n        periodStart: null,\n        periodEnd: null,\n        totalPago: 0,\n        totalAtrasado: 0,\n      },\n    };\n  }\n\n  const normalizedRows = history.rows.map((row) => {\n    const contaCorrenteRaw = trimText(row.contaCorrente || row.conta_corrente || row.banco);\n    const contaCorrente = normalizeBank(contaCorrenteRaw);\n    const categoriaRaw = trimText(row.categoria);\n\n    return {\n      situacao: normalizeStatus(row.situacao || row.status) || trimText(row.situacao),\n      situacaoOriginal: trimText(row.situacao) || trimText(row.status),\n      fornecedor: trimText(row.fornecedor) || trimText(row.favorecido),\n      previsao: toISODate(row.previsao),\n      ultimoPagamento: toISODate(row.ultimoPagamento || row.ultimo_pagamento),\n      valorLiquido: toNumber(row.valorLiquido || row.valor_liquido || row.valor) || 0,\n      categoria: normalizeCategory(categoriaRaw),\n      categoriaOriginal: categoriaRaw,\n      contaCorrente: contaCorrente || null,\n      contaCorrenteOriginal: contaCorrenteRaw,\n      vencimento: toISODate(row.vencimento),\n    };\n  });\n\n  // Build summary by aggregating normalized rows\n  let totalPago = 0;\n  let totalAtrasado = 0;\n  let periodStart = null;\n  let periodEnd = null;\n\n  for (const row of normalizedRows) {\n    const situacao = row.situacao;\n    if (situacao === 'pago' || situacao === 'pago_parcialmente') {\n      totalPago += row.valorLiquido;\n    }\n    if (situacao === 'atrasado') {\n      totalAtrasado += row.valorLiquido;\n    }\n\n    const venc = row.vencimento;\n    if (venc) {\n      if (!periodStart || venc < periodStart) periodStart = venc;\n      if (!periodEnd || venc > periodEnd) periodEnd = venc;\n    }\n  }\n\n  return {\n    rows: normalizedRows,\n    summary: {\n      totalRecords: normalizedRows.length,\n      periodStart,\n      periodEnd,\n      totalPago: Math.round(totalPago * 100) / 100,\n      totalAtrasado: Math.round(totalAtrasado * 100) / 100,\n    },\n  };\n}\n\n// =============================================================================\n// Main Normalizer Function\n// =============================================================================\n\n/**\n * Normalizes raw parsed data from parser-daily.js and parser-history.js.\n *\n * @param {Object} rawData - Raw parsed data with `daily` and `history` keys.\n * @returns {Object} Normalized data with entities, expenses, receipts, balances,\n *                   history, and warnings.\n */\nfunction normalizeData(rawData) {\n  const warnings = [];\n\n  // Collect warnings from both parsers if present\n  const dailyWarnings = rawData?.daily?.warnings || [];\n  const historyWarnings = rawData?.history?.warnings || [];\n\n  for (const w of dailyWarnings) {\n    warnings.push({\n      severity: w.severity || 'low',\n      source: w.source || 'parser:daily',\n      field: w.field || null,\n      raw: w.raw ?? null,\n      message: w.message || String(w),\n    });\n  }\n\n  for (const w of historyWarnings) {\n    warnings.push({\n      severity: w.severity || 'low',\n      source: w.source || 'parser:history',\n      field: w.field || null,\n      raw: w.raw ?? null,\n      message: w.message || String(w),\n    });\n  }\n\n  // Build entities from daily resumo\n  const entities = buildEntities(rawData?.daily?.resumo, warnings);\n\n  // Normalize expenses (contas a pagar)\n  const expenses = normalizeExpenses(rawData?.daily?.contas, warnings);\n\n  // Normalize receipts (recebido) - filtered to PRN entities only\n  const receipts = normalizeReceipts(rawData?.daily?.recebido, warnings);\n\n  // Build balances from entities\n  const balances = buildBalances(entities);\n\n  // Normalize history rows and summary\n  const history = normalizeHistory(rawData?.history);\n\n  return {\n    entities,\n    expenses,\n    receipts,\n    balances,\n    history,\n    warnings,\n  };\n}\n\n// =============================================================================\n// Exports\n// =============================================================================\n\n/**\n * calculator.js - Financial Calculation Engine for PRN Reporting\n *\n * Receives normalized data from normalizer.js and performs all financial\n * calculations needed for the n8n reporting workflow.\n *\n * Input: normalizedData object (see normalizer.js output schema)\n * Output: { summary, topDespesas, despesasPorCategoria, recebidosPorConta, historyAnalysis, warnings }\n */\n\n// --- Helpers ---\n\n/**\n * Rounds a numeric value to 2 decimal places.\n * Uses a multiplier trick to avoid floating-point precision issues.\n * @param {number} value\n * @returns {number}\n */\nfunction round2(value) {\n  if (typeof value !== 'number' || isNaN(value)) return 0;\n  return Math.round((value + Number.EPSILON) * 100) / 100;\n}\n\n/**\n * Safely reads a numeric property, defaulting to 0 if missing or non-numeric.\n * @param {object} obj\n * @param {string} prop\n * @returns {number}\n */\nfunction numProp(obj, prop) {\n  const raw = obj[prop];\n  if (typeof raw === 'number' && !isNaN(raw)) return raw;\n  if (typeof raw === 'string') {\n    const parsed = parseFloat(raw.replace(/[^\\d.,-]/g, '').replace(',', '.'));\n    return isNaN(parsed) ? 0 : parsed;\n  }\n  return 0;\n}\n\n/**\n * Groups an array of objects by a given key, then reduces with a custom\n * accumulator function to produce { [key]: accumulated }.\n *\n * @param {Array} items       - Array of row objects.\n * @param {string} groupKey   - Property name to group by.\n * @param {string} sumKey     - Property name whose numeric values are summed.\n * @returns {Object}          - { groupValue: { total, count } }\n */\nfunction groupAndSum(items, groupKey, sumKey) {\n  const groups = {};\n\n  for (const item of items) {\n    const key = String(item[groupKey] || 'Indefinido').trim();\n    const value = round2(numProp(item, sumKey));\n\n    if (!groups[key]) {\n      groups[key] = { total: 0, count: 0 };\n    }\n    groups[key].total = round2(groups[key].total + value);\n    groups[key].count += 1;\n  }\n\n  return groups;\n}\n\n/**\n * Converts a grouped result object into a sorted array.\n *\n * @param {Object}  groups  - Output of groupAndSum().\n * @param {boolean} desc    - Sort descending when true.\n * @returns {Array<{ key: string, total: number, count: number }>}\n */\nfunction groupedToSortedArray(groups, desc = true) {\n  return Object.entries(groups)\n    .map(([key, data]) => ({ key, ...data }))\n    .sort((a, b) => (desc ? b.total - a.total : a.total - b.total));\n}\n\n/**\n * Remove acentos de uma string (NFD) para facilitar matching textual.\n *\n * @param {string} value\n * @returns {string}\n */\nfunction stripAccents(value) {\n  return String(value || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n}\n\n/**\n * Gera uma chave canônica para cruzamento de nomes (fornecedor/favorecido).\n *\n * @param {string} value\n * @returns {string}\n */\nfunction normalizeNameKey(value) {\n  return stripAccents(value)\n    .toUpperCase()\n    .replace(/[^A-Z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst DIVERGENCE_ALERT_THRESHOLD_PCT = 25;\nconst MIN_MONTHS_FOR_EXACT_ANALYSIS = 2;\nconst EXACT_MONTHLY_TOLERANCE = 0.01;\n\n// --- Main entry point ---\n\n/**\n * Performs all financial calculations on normalized PRN data.\n *\n * @param {object} normalizedData  - The full normalized payload from normalizer.js.\n * @returns {{ summary, topDespesas, despesasPorCategoria, recebidosPorConta, historyAnalysis, warnings }}\n */\nfunction calculateFinancials(normalizedData) {\n  const warnings = [];\n\n  // ------------------------------------------------------------------\n  // 1. Defensive defaults – ensure every expected section exists\n  // ------------------------------------------------------------------\n  const entities  = Array.isArray(normalizedData.entities)  ? normalizedData.entities  : [];\n  const expenses  = Array.isArray(normalizedData.expenses)  ? normalizedData.expenses  : [];\n  const receipts  = Array.isArray(normalizedData.receipts)  ? normalizedData.receipts  : [];\n  const balances  = Array.isArray(normalizedData.balances)  ? normalizedData.balances  : [];\n  const history   = normalizedData.history || {};\n  const historyRows   = Array.isArray(history.rows)          ? history.rows      : [];\n  const historySummary = history.summary || {};\n\n  // ------------------------------------------------------------------\n  // 2. Summary calculations\n  // ------------------------------------------------------------------\n\n  // Sum all expense valores across every entity\n  const totalDespesas = round2(\n    expenses.reduce((acc, e) => acc + numProp(e, 'valor'), 0)\n  );\n\n  // Sum all receipt valores across every entity\n  const totalRecebido = round2(\n    receipts.reduce((acc, r) => acc + numProp(r, 'valor'), 0)\n  );\n\n  // Aggregate bank and investment balances from entity metadata\n  const saldoBancario = round2(\n    entities.reduce((acc, e) => acc + numProp(e, 'saldoBancario'), 0)\n  );\n  const saldoAplicacoes = round2(\n    entities.reduce((acc, e) => acc + numProp(e, 'saldoAplicacoes'), 0)\n  );\n\n  // Placeholder – future versions will compute the required transfer amount\n  const transferenciaNecessaria = 0;\n\n  const summary = {\n    totalDespesas,\n    totalRecebido,\n    saldoBancario,\n    saldoAplicacoes,\n    transferenciaNecessaria,\n  };\n\n  // ------------------------------------------------------------------\n  // 3. Top 10 despesas by valor (descending)\n  // ------------------------------------------------------------------\n  const topDespesas = [...expenses]\n    .sort((a, b) => numProp(b, 'valor') - numProp(a, 'valor'))\n    .slice(0, 10)\n    .map(e => ({\n      favorecido: e.favorecido || '',\n      categoria:  e.categoria  || '',\n      valor:      round2(numProp(e, 'valor')),\n      vencimento: e.vencimento || '',\n      entity:     e.entity     || '',\n    }));\n\n  // ------------------------------------------------------------------\n  // 4. Despesas grouped by categoria\n  // ------------------------------------------------------------------\n  const despesasPorCategoria = groupedToSortedArray(\n    groupAndSum(expenses, 'categoria', 'valor')\n  ).map(({ key, total, count }) => ({\n    categoria: key,\n    total,\n    count,\n  }));\n\n  // ------------------------------------------------------------------\n  // 5. Recebidos grouped by contaCorrente\n  // ------------------------------------------------------------------\n  const recebidosPorConta = groupedToSortedArray(\n    groupAndSum(receipts, 'contaCorrente', 'valor')\n  ).map(({ key, total, count }) => ({\n    contaCorrente: key,\n    total,\n    count,\n  }));\n\n  // ------------------------------------------------------------------\n  // 6. History analysis\n  // ------------------------------------------------------------------\n\n  // Pass-through scalar fields from the history summary\n  const totalRecords = historySummary.totalRecords || 0;\n  const periodStart  = historySummary.periodStart  || '';\n  const periodEnd    = historySummary.periodEnd    || '';\n\n  // totalPago – sum valorLiquido where situacao === \"pago\"\n  const totalPago = round2(\n    historyRows\n      .filter(r => (r.situacao || '').toLowerCase() === 'pago')\n      .reduce((acc, r) => acc + numProp(r, 'valorLiquido'), 0)\n  );\n\n  // totalAtrasado – sum valorLiquido where situacao === \"atrasado\"\n  const totalAtrasado = round2(\n    historyRows\n      .filter(r => (r.situacao || '').toLowerCase() === 'atrasado')\n      .reduce((acc, r) => acc + numProp(r, 'valorLiquido'), 0)\n  );\n\n  // topCategorias – group history rows by categoria, sum valorLiquido, top 10\n  const historyCatGroups = groupAndSum(historyRows, 'categoria', 'valorLiquido');\n  const topCategorias = groupedToSortedArray(historyCatGroups)\n    .slice(0, 10)\n    .map(({ key, total }) => ({ categoria: key, total }));\n\n  // topFornecedores – group history rows by fornecedor, sum valorLiquido, top 10\n  const historyForGroups = groupAndSum(historyRows, 'fornecedor', 'valorLiquido');\n  const topFornecedores = groupedToSortedArray(historyForGroups)\n    .slice(0, 10)\n    .map(({ key, total }) => ({ fornecedor: key, total }));\n\n  // distribuicaoContas – group history rows by contaCorrente, sum valorLiquido\n  const historyContaGroups = groupAndSum(historyRows, 'contaCorrente', 'valorLiquido');\n  const totalHistoricoContas = round2(\n    Object.values(historyContaGroups).reduce((acc, d) => acc + numProp(d, 'total'), 0)\n  );\n\n  const distribuicaoContas = groupedToSortedArray(historyContaGroups)\n    .map(({ key, total }) => ({\n      conta: key,\n      total,\n      percentual: totalHistoricoContas > 0 ? round2((total / totalHistoricoContas) * 100) : 0,\n    }));\n\n  const historyAnalysis = {\n    totalRecords,\n    periodStart,\n    periodEnd,\n    totalPago,\n    totalAtrasado,\n    topCategorias,\n    topFornecedores,\n    distribuicaoContas,\n  };\n\n  // ------------------------------------------------------------------\n  // 6.1 Cruzamento principal: nomes da diária x histórico por mês\n  // ------------------------------------------------------------------\n  const dailyByName = {};\n  for (const e of expenses) {\n    const nome = String(e.favorecido || e.fornecedor || '').trim();\n    const valor = round2(numProp(e, 'valor'));\n\n    if (!nome || nome.toUpperCase() === 'N/D') continue;\n    if (valor === 0) continue;\n\n    const key = normalizeNameKey(nome);\n    if (!key) continue;\n\n    if (!dailyByName[key]) {\n      dailyByName[key] = {\n        nome,\n        valorDia: 0,\n        qtdTitulosDia: 0,\n      };\n    }\n\n    dailyByName[key].valorDia = round2(dailyByName[key].valorDia + valor);\n    dailyByName[key].qtdTitulosDia += 1;\n  }\n\n  const historyByName = {};\n  const monthSet = new Set();\n  for (const r of historyRows) {\n    const situacao = String(r.situacao || '').toLowerCase();\n    // Para o objetivo atual, considerar apenas pagamentos efetivados\n    if (!(situacao === 'pago' || situacao === 'pago_parcialmente' || situacao.includes('pago'))) {\n      continue;\n    }\n\n    const nome = String(r.fornecedor || r.favorecido || '').trim();\n    if (!nome) continue;\n\n    const valor = round2(numProp(r, 'valorLiquido'));\n    if (valor === 0) continue;\n\n    const dataRef = r.ultimoPagamento || r.vencimento || r.previsao || '';\n    const monthKey = typeof dataRef === 'string' && /^\\d{4}-\\d{2}-\\d{2}$/.test(dataRef)\n      ? dataRef.slice(0, 7)\n      : '';\n\n    const key = normalizeNameKey(nome);\n    if (!key) continue;\n\n    if (!historyByName[key]) {\n      historyByName[key] = {\n        nome,\n        totalHistorico: 0,\n        qtdHistorico: 0,\n        ultimoPagamento: '',\n        meses: {},\n      };\n    }\n\n    historyByName[key].totalHistorico = round2(historyByName[key].totalHistorico + valor);\n    historyByName[key].qtdHistorico += 1;\n\n    if (monthKey) {\n      monthSet.add(monthKey);\n      historyByName[key].meses[monthKey] = round2((historyByName[key].meses[monthKey] || 0) + valor);\n    }\n\n    if (typeof dataRef === 'string' && /^\\d{4}-\\d{2}-\\d{2}$/.test(dataRef)) {\n      if (!historyByName[key].ultimoPagamento || dataRef > historyByName[key].ultimoPagamento) {\n        historyByName[key].ultimoPagamento = dataRef;\n      }\n    }\n  }\n\n  const months = Array.from(monthSet).sort();\n  const crossRows = Object.entries(dailyByName)\n    .map(([key, d]) => {\n      const h = historyByName[key] || {\n        totalHistorico: 0,\n        qtdHistorico: 0,\n        ultimoPagamento: '',\n        meses: {},\n      };\n\n      const meses = {};\n      for (const m of months) {\n        meses[m] = round2(h.meses[m] || 0);\n      }\n\n      const monthlyValues = Object.values(meses)\n        .map((v) => round2(Number(v) || 0))\n        .filter((v) => v > 0);\n\n      const qtdMesesComPagamento = monthlyValues.length;\n      const temHistorico = h.qtdHistorico > 0 && h.totalHistorico > 0;\n\n      const mediaHistoricaMensal = temHistorico && qtdMesesComPagamento > 0\n        ? round2(monthlyValues.reduce((acc, v) => acc + v, 0) / qtdMesesComPagamento)\n        : 0;\n\n      const minMensal = qtdMesesComPagamento > 0 ? Math.min(...monthlyValues) : 0;\n      const maxMensal = qtdMesesComPagamento > 0 ? Math.max(...monthlyValues) : 0;\n\n      const pagamentoExatoMensal = temHistorico\n        && qtdMesesComPagamento >= MIN_MONTHS_FOR_EXACT_ANALYSIS\n        && Math.abs(maxMensal - minMensal) <= EXACT_MONTHLY_TOLERANCE;\n\n      const pagamentoDiferenteMensal = temHistorico && !pagamentoExatoMensal;\n\n      const divergenciaPct = temHistorico && mediaHistoricaMensal > 0\n        ? round2(((round2(d.valorDia) - mediaHistoricaMensal) / mediaHistoricaMensal) * 100)\n        : null;\n\n      const alertaDivergencia25 = divergenciaPct !== null\n        && Math.abs(divergenciaPct) > DIVERGENCE_ALERT_THRESHOLD_PCT;\n\n      const direcaoDivergencia = divergenciaPct === null\n        ? 'sem_base'\n        : divergenciaPct > 0\n          ? 'acima'\n          : divergenciaPct < 0\n            ? 'abaixo'\n            : 'estavel';\n\n      const grupoMensal = !temHistorico\n        ? 'sem_historico'\n        : pagamentoExatoMensal\n          ? 'exato'\n          : qtdMesesComPagamento < MIN_MONTHS_FOR_EXACT_ANALYSIS\n            ? 'historico_insuficiente'\n            : 'diferente';\n\n      return {\n        nome: d.nome,\n        valorDia: round2(d.valorDia),\n        qtdTitulosDia: d.qtdTitulosDia,\n        totalHistorico: round2(h.totalHistorico),\n        qtdHistorico: h.qtdHistorico,\n        ultimoPagamento: h.ultimoPagamento || null,\n        meses,\n        qtdMesesComPagamento,\n        temHistorico,\n        mediaHistoricaMensal,\n        divergenciaPct,\n        alertaDivergencia25,\n        direcaoDivergencia,\n        pagamentoExatoMensal,\n        pagamentoDiferenteMensal,\n        grupoMensal,\n      };\n    })\n    .sort((a, b) => b.valorDia - a.valorDia);\n\n  const summarizeGroup = (rows) => ({\n    totalNomes: rows.length,\n    totalValorDia: round2(rows.reduce((acc, r) => acc + round2(r.valorDia), 0)),\n    totalHistorico: round2(rows.reduce((acc, r) => acc + round2(r.totalHistorico), 0)),\n    rows,\n  });\n\n  const comHistoricoRows = crossRows.filter((r) => r.temHistorico);\n  const semHistoricoRows = crossRows.filter((r) => !r.temHistorico);\n  const exatoTodosMesesRows = crossRows.filter((r) => r.temHistorico && r.pagamentoExatoMensal);\n  const diferenteEntreMesesRows = crossRows.filter((r) => r.temHistorico && !r.pagamentoExatoMensal);\n  const alertaAnaliseManualRows = crossRows.filter((r) => r.alertaDivergencia25);\n\n  const crossAnalysis = {\n    months,\n    rows: crossRows,\n    config: {\n      divergenceThresholdPct: DIVERGENCE_ALERT_THRESHOLD_PCT,\n      minMonthsForExactAnalysis: MIN_MONTHS_FOR_EXACT_ANALYSIS,\n      divergenceBase: 'media_historica_mensal_com_pagamento',\n    },\n    totalNomesDia: crossRows.length,\n    totalValorDia: round2(crossRows.reduce((acc, r) => acc + r.valorDia, 0)),\n    totalHistoricoCruzado: round2(crossRows.reduce((acc, r) => acc + r.totalHistorico, 0)),\n    groups: {\n      comHistorico: summarizeGroup(comHistoricoRows),\n      semHistorico: summarizeGroup(semHistoricoRows),\n      exatoTodosMeses: summarizeGroup(exatoTodosMesesRows),\n      diferenteEntreMeses: summarizeGroup(diferenteEntreMesesRows),\n      alertaAnaliseManual: summarizeGroup(alertaAnaliseManualRows),\n    },\n  };\n\n  if (alertaAnaliseManualRows.length > 0) {\n    warnings.push(\n      `${alertaAnaliseManualRows.length} pagamento(s) diário(s) com divergência acima de ${DIVERGENCE_ALERT_THRESHOLD_PCT}% versus média histórica mensal.`\n    );\n  }\n\n  // ------------------------------------------------------------------\n  // 7. Warnings / alerts\n  // ------------------------------------------------------------------\n\n  // Warn if totalRecebido is more than 30% below totalDespesas\n  if (totalDespesas > 0) {\n    const ratio = totalRecebido / totalDespesas;\n    if (ratio < 0.70) {\n      const deficitPercent = round2((1 - ratio) * 100);\n      warnings.push(\n        `Receita significativamente inferior a despesas (${deficitPercent}% abaixo). ` +\n        `Recebido: R$ ${totalRecebido.toFixed(2)} | Despesas: R$ ${totalDespesas.toFixed(2)}`\n      );\n    }\n  }\n\n  // Warn if aggregate saldoBancario is negative\n  if (saldoBancario < 0) {\n    warnings.push(\n      `Saldo bancario total negativo: R$ ${saldoBancario.toFixed(2)}`\n    );\n  }\n\n  // Warn for each entity with a negative saldoBancario\n  for (const entity of entities) {\n    const entitySaldo = numProp(entity, 'saldoBancario');\n    if (entitySaldo < 0) {\n      warnings.push(\n        `Entidade \"${entity.label || entity.code}\" com saldo bancario negativo: R$ ${entitySaldo.toFixed(2)}`\n      );\n    }\n  }\n\n  // Carry forward any warnings that arrived with the input (idempotent merge)\n  if (Array.isArray(normalizedData.warnings)) {\n    for (const w of normalizedData.warnings) {\n      const msg = typeof w === 'string' ? w : (w && w.message ? w.message : '');\n      if (msg && !warnings.includes(msg)) {\n        warnings.push(msg);\n      }\n    }\n  }\n\n  // ------------------------------------------------------------------\n  // 8. Return the complete result\n  // ------------------------------------------------------------------\n  return {\n    summary,\n    topDespesas,\n    despesasPorCategoria,\n    recebidosPorConta,\n    historyAnalysis,\n    crossAnalysis,\n    warnings,\n  };\n}\n\n// Export for use in n8n (CommonJS) and ES module environments\n\nconst item = $input.first().json;\n\ntry {\n  const normalizedData = normalizeData(item.rawData);\n  const financials = calculateFinancials(normalizedData);\n\n  const warnings = [];\n  if (Array.isArray(item.warnings)) warnings.push(...item.warnings);\n  if (Array.isArray(financials?.warnings)) warnings.push(...financials.warnings);\n\n  return [{\n    json: {\n      processingValid: true,\n      context: item.context,\n      normalizedData,\n      financials,\n      warnings,\n    },\n  }];\n} catch (error) {\n  return [{\n    json: {\n      processingValid: false,\n      requestId: item.context?.requestId || '',\n      errorCode: 'PROCESSING_ERROR',\n      error: error.message || 'Erro no cálculo financeiro.',\n      details: { stage: 'normalize-calculate' },\n    },\n  }];\n}"
      },
      "id": "node-normalize-calc-v4",
      "name": "Code: Normalize + Calculate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2450,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-processing-v4",
              "leftValue": "={{ $json.processingValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-processing-v4",
      "name": "IF: Processing Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2700,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * report-builder.js\n *\n * Monta o modelo final do relatório financeiro PRN a partir dos dados\n * normalizados e dos cálculos financeiros produzidos pelos módulos anteriores.\n *\n * Este módulo é consumido pelo html-renderer.js para gerar a página HTML final.\n *\n * Contrato de entrada:\n *   requestInfo: {\n *     requestId:            string  — identificador único da requisição (UUID)\n *     referenceDateUsed:    string  — data de referência no formato \"YYYY-MM-DD\"\n *     dailyFilename:        string  — nome do arquivo Excel diário processado\n *     historyFilename:      string  — nome do arquivo Excel histórico processado\n *     dailySheetsFound:    string[] — nomes das abas encontradas no arquivo diário\n *     historySheetsFound:  string[] — nomes das abas encontradas no arquivo histórico\n *   }\n *\n *   normalizedData: {\n *     entities: [ ... ],   — lista de entidades normalizadas (PRN MATRIZ, PRN LOCAÇÃO, etc.)\n *     expenses: [ ... ],   — lista de despesas normalizadas\n *     receipts: [ ... ],   — lista de recebidos normalizados\n *     balances: [ ... ],   — lista de saldos normalizados\n *     warnings: [ ... ]    — avisos produzidos durante a normalização\n *   }\n *\n *   financials: {\n *     totalDespesas:           number — soma de todas as despesas\n *     totalRecebido:           number — soma de todos os recebidos\n *     saldoBancario:           number — saldo total em contas bancárias\n *     saldoAplicacoes:         number — saldo total em aplicações financeiras\n *     transferenciaNecessaria: number — valor necessário de transferência entre contas\n *     historyAnalysis: {       object — análise consolidada do histórico\n *       totalRecords:    number\n *       totalPago:        number\n *       totalAtrasado:    number\n *       period:           { start: string, end: string }\n *       topCategorias:    [ { categoria: string, total: number, count: number } ]\n *       topFornecedores:  [ { fornecedor: string, total: number, count: number } ]\n *       distribuicaoContas:[ { conta: string, total: number, percentual: number } ]\n *     }\n *     warnings: [ ... ]    — avisos produzidos durante os cálculos financeiros\n *   }\n *\n * Retorno:\n *   Objeto completo do relatório seguindo o schemaVersion 1.\n */\n\n// ---------------------------------------------------------------------------\n// Helpers internos\n// ---------------------------------------------------------------------------\n\n/**\n * Normaliza um valor numérico para dois decimais.\n * Se o valor for null, undefined ou NaN, retorna 0.\n *\n * @param {*} value — valor a normalizar\n * @returns {number} valor numérico com duas casas decimais\n */\nfunction _normalizeNumber(value) {\n  if (value === null || value === undefined || Number.isNaN(value)) {\n    return 0;\n  }\n  const num = Number(value);\n  return Number.isFinite(num) ? parseFloat(num.toFixed(2)) : 0;\n}\n\n/**\n * Mescla duas listas de warnings em uma única lista, deduplicando por\n * combinação de \"code\" + \"message\" (case-insensitive).\n * Cada warning deve ter a estrutura: { code, severity, message, [context] }\n *\n * @param {Array} listA — primeira lista de warnings\n * @param {Array} listB — segunda lista de warnings\n * @returns {Array} lista mesclada sem duplicatas\n */\nfunction _mergeWarnings(listA, listB) {\n  const a = Array.isArray(listA) ? listA : [];\n  const b = Array.isArray(listB) ? listB : [];\n\n  const seen = new Set();\n  const merged = [];\n\n  for (const w of [...a, ...b]) {\n    if (!w || !w.message) continue;\n    const key = `${String(w.code || '').toLowerCase()}|${String(w.message).toLowerCase()}`;\n    if (seen.has(key)) continue;\n    seen.add(key);\n    merged.push({\n      code: String(w.code || 'UNKNOWN'),\n      severity: String(w.severity || 'info').toLowerCase(),\n      message: String(w.message),\n      context: w.context || undefined,\n      source: w.source || undefined,\n    });\n  }\n\n  return merged;\n}\n\n// ---------------------------------------------------------------------------\n// Função principal exportada\n// ---------------------------------------------------------------------------\n\n/**\n * Monta o modelo completo do relatório financeiro PRN.\n *\n * @param {object} requestInfo   — metadados da requisição\n * @param {object} normalizedData — dados normalizados pelo módulo normalizer\n * @param {object} financials     — cálculos financeiros pelo módulo financial-calculator\n * @returns {object} modelo do relatório (schemaVersion 1)\n */\nfunction buildReportModel(requestInfo, normalizedData, financials) {\n  const info = requestInfo || {};\n  const norm = normalizedData || {};\n  const fin = financials || {};\n\n  // -- Normaliza os campos obrigatórios do requestInfo --\n  const requestId = String(info.requestId || 'unknown');\n  const referenceDateUsed = String(info.referenceDateUsed || '');\n  const dailyFilename = String(info.dailyFilename || 'N/A');\n  const historyFilename = String(info.historyFilename || 'N/A');\n  const dailySheetsFound = Array.isArray(info.dailySheetsFound)\n    ? [...info.dailySheetsFound]\n    : [];\n  const historySheetsFound = Array.isArray(info.historySheetsFound)\n    ? [...info.historySheetsFound]\n    : [];\n\n  // -- Extrai os arrays de dados normalizados (garante que sejam arrays) --\n  const entities = Array.isArray(norm.entities) ? [...norm.entities] : [];\n  const expenses = Array.isArray(norm.expenses) ? [...norm.expenses] : [];\n  const receipts = Array.isArray(norm.receipts) ? [...norm.receipts] : [];\n  const balances = Array.isArray(norm.balances) ? [...norm.balances] : [];\n\n  // -- Extrai os valores financeiros calculados --\n  // Compatível com ambas estruturas:\n  // 1) fin.summary.totalDespesas\n  // 2) fin.totalDespesas (legado)\n  const finSummary = fin.summary || {};\n  const totalDespesas = _normalizeNumber(\n    finSummary.totalDespesas !== undefined ? finSummary.totalDespesas : fin.totalDespesas\n  );\n  const totalRecebido = _normalizeNumber(\n    finSummary.totalRecebido !== undefined ? finSummary.totalRecebido : fin.totalRecebido\n  );\n  const saldoBancario = _normalizeNumber(\n    finSummary.saldoBancario !== undefined ? finSummary.saldoBancario : fin.saldoBancario\n  );\n  const saldoAplicacoes = _normalizeNumber(\n    finSummary.saldoAplicacoes !== undefined ? finSummary.saldoAplicacoes : fin.saldoAplicacoes\n  );\n  const transferenciaNecessaria = _normalizeNumber(\n    finSummary.transferenciaNecessaria !== undefined\n      ? finSummary.transferenciaNecessaria\n      : fin.transferenciaNecessaria\n  );\n\n  // -- Extrai a análise de histórico --\n  const history = fin.historyAnalysis || {};\n\n  // -- Extrai agregacoes calculadas para facilitar consumo em dashboards --\n  const topDespesas = Array.isArray(fin.topDespesas) ? [...fin.topDespesas] : [];\n  const despesasPorCategoria = Array.isArray(fin.despesasPorCategoria) ? [...fin.despesasPorCategoria] : [];\n  const recebidosPorConta = Array.isArray(fin.recebidosPorConta) ? [...fin.recebidosPorConta] : [];\n\n  // -- Extrai o cruzamento diária x histórico (foco inicial do usuário) --\n  const crossAnalysis = fin.crossAnalysis || {\n    months: [],\n    rows: [],\n    config: {\n      divergenceThresholdPct: 25,\n      minMonthsForExactAnalysis: 2,\n      divergenceBase: 'media_historica_mensal_com_pagamento',\n    },\n    totalNomesDia: 0,\n    totalValorDia: 0,\n    totalHistoricoCruzado: 0,\n    groups: {\n      comHistorico: { totalNomes: 0, totalValorDia: 0, totalHistorico: 0, rows: [] },\n      semHistorico: { totalNomes: 0, totalValorDia: 0, totalHistorico: 0, rows: [] },\n      exatoTodosMeses: { totalNomes: 0, totalValorDia: 0, totalHistorico: 0, rows: [] },\n      diferenteEntreMeses: { totalNomes: 0, totalValorDia: 0, totalHistorico: 0, rows: [] },\n      alertaAnaliseManual: { totalNomes: 0, totalValorDia: 0, totalHistorico: 0, rows: [] },\n    },\n  };\n\n  // -- Mescla warnings de ambas as fontes --\n  const warnings = _mergeWarnings(norm.warnings, fin.warnings);\n\n  // -- Coleta erros (se houver campo errors em qualquer fonte) --\n  const errors = [];\n  const normErrors = Array.isArray(norm.errors) ? norm.errors : [];\n  const finErrors = Array.isArray(fin.errors) ? fin.errors : [];\n  for (const e of [...normErrors, ...finErrors]) {\n    if (e && e.message) {\n      errors.push({\n        code: String(e.code || 'UNKNOWN'),\n        severity: String(e.severity || 'high').toLowerCase(),\n        message: String(e.message),\n        context: e.context || undefined,\n        source: e.source || undefined,\n      });\n    }\n  }\n\n  // -- Determina o status do relatório --\n  let status = 'success';\n  if (errors.length > 0) {\n    status = 'error';\n  } else if (warnings.length > 0) {\n    status = 'warning';\n  }\n\n  // -- Monta o objeto final --\n  const reportModel = {\n    schemaVersion: 1,\n    status,\n    requestId,\n    referenceDateUsed,\n    request: {\n      scope: 'prn',\n      dailyFilename,\n      historyFilename,\n      dailySheetsFound,\n      historySheetsFound,\n    },\n    summary: {\n      totalDespesas,\n      totalRecebido,\n      saldoBancario,\n      saldoAplicacoes,\n      transferenciaNecessaria,\n    },\n    entities,\n    expenses,\n    receipts,\n    balances,\n    topDespesas,\n    despesasPorCategoria,\n    recebidosPorConta,\n    history,\n    crossAnalysis,\n    warnings,\n    errors,\n  };\n\n  return reportModel;\n}\n\n// ---------------------------------------------------------------------------\n// Exports\n// ---------------------------------------------------------------------------\n\nconst item = $input.first().json;\n\ntry {\n  const context = item.context || {};\n  const requestInfo = {\n    requestId: context.requestId || '',\n    referenceDateUsed: context.referenceDateUsed || new Date().toISOString().slice(0, 10),\n    dailyFilename: context.dailyFilename || 'daily.xlsx',\n    historyFilename: context.historyFilename || 'history.xlsx',\n    dailySheetsFound: ['Contas', 'Recebido', 'Resumo'],\n    historySheetsFound: ['financas'],\n  };\n\n  const reportModel = buildReportModel(requestInfo, item.normalizedData, item.financials);\n\n  return [{\n    json: {\n      requestId: context.requestId || '',\n      reportModel,\n    },\n  }];\n} catch (error) {\n  return [{\n    json: {\n      requestId: item.context?.requestId || '',\n      errorCode: 'REPORT_BUILD_ERROR',\n      error: error.message || 'Erro ao montar o relatório.',\n      details: { stage: 'build-report-model' },\n    },\n  }];\n}"
      },
      "id": "node-build-report-v4",
      "name": "Code: Build Report Model",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2950,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\n\nconst asArray = (v) => (Array.isArray(v) ? v : []);\nconst asObject = (v) => (v && typeof v === 'object' && !Array.isArray(v) ? v : {});\nconst toNumber = (v) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n};\nconst round2 = (v) => Math.round((toNumber(v) + Number.EPSILON) * 100) / 100;\n\nconst buildGroupBySum = (rows, keyField, valueField) => {\n  const acc = {};\n  for (const row of rows) {\n    const key = String(row?.[keyField] || 'Indefinido').trim() || 'Indefinido';\n    const value = round2(toNumber(row?.[valueField]));\n    if (!acc[key]) {\n      acc[key] = { key, total: 0, count: 0 };\n    }\n    acc[key].total = round2(acc[key].total + value);\n    acc[key].count += 1;\n  }\n  return Object.values(acc).sort((a, b) => b.total - a.total);\n};\n\nconst buildGroupInfo = (groupObj, rows) => {\n  const safeRows = asArray(rows);\n  return {\n    totalNomes: Number.isFinite(Number(groupObj?.totalNomes))\n      ? Number(groupObj.totalNomes)\n      : safeRows.length,\n    totalValorDia: Number.isFinite(Number(groupObj?.totalValorDia))\n      ? round2(groupObj.totalValorDia)\n      : round2(safeRows.reduce((acc, r) => acc + toNumber(r?.valorDia), 0)),\n    totalHistorico: Number.isFinite(Number(groupObj?.totalHistorico))\n      ? round2(groupObj.totalHistorico)\n      : round2(safeRows.reduce((acc, r) => acc + toNumber(r?.totalHistorico), 0)),\n  };\n};\n\nconst reportModel = item.reportModel;\n\nif (!reportModel) {\n  return [{\n    json: {\n      ok: false,\n      schemaVersion: 1,\n      error: {\n        code: item.errorCode || 'REPORT_MODEL_MISSING',\n        message: item.error || 'Modelo de relatório ausente.',\n        details: item.details || null,\n      },\n      meta: {\n        requestId: item.requestId || '',\n        generatedAt: new Date().toISOString(),\n        httpStatus: 500,\n      },\n    },\n  }];\n}\n\nconst rm = asObject(reportModel);\nconst summary = asObject(rm.summary);\nconst history = asObject(rm.history);\nconst cross = asObject(rm.crossAnalysis);\nconst groups = asObject(cross.groups);\nconst expenses = asArray(rm.expenses);\nconst receipts = asArray(rm.receipts);\nconst crossRows = asArray(cross.rows);\n\nconst groupedByCategory = buildGroupBySum(expenses, 'categoria', 'valor').map((it) => ({\n  categoria: it.key,\n  total: round2(it.total),\n  count: it.count,\n}));\n\nconst groupedByAccount = buildGroupBySum(receipts, 'contaCorrente', 'valor').map((it) => ({\n  contaCorrente: it.key,\n  total: round2(it.total),\n  count: it.count,\n}));\n\nconst topDespesas = asArray(rm.topDespesas).length > 0\n  ? asArray(rm.topDespesas)\n  : [...expenses]\n      .sort((a, b) => toNumber(b?.valor) - toNumber(a?.valor))\n      .slice(0, 10);\n\nconst despesasPorCategoria = asArray(rm.despesasPorCategoria).length > 0\n  ? asArray(rm.despesasPorCategoria)\n  : groupedByCategory;\n\nconst recebidosPorConta = asArray(rm.recebidosPorConta).length > 0\n  ? asArray(rm.recebidosPorConta)\n  : groupedByAccount;\n\nconst groupRows = {\n  comHistorico: asArray(groups.comHistorico?.rows),\n  semHistorico: asArray(groups.semHistorico?.rows),\n  exatoTodosMeses: asArray(groups.exatoTodosMeses?.rows),\n  diferenteEntreMeses: asArray(groups.diferenteEntreMeses?.rows),\n  alertaAnaliseManual: asArray(groups.alertaAnaliseManual?.rows),\n};\n\nconst groupMetrics = {\n  comHistorico: buildGroupInfo(groups.comHistorico, groupRows.comHistorico),\n  semHistorico: buildGroupInfo(groups.semHistorico, groupRows.semHistorico),\n  exatoTodosMeses: buildGroupInfo(groups.exatoTodosMeses, groupRows.exatoTodosMeses),\n  diferenteEntreMeses: buildGroupInfo(groups.diferenteEntreMeses, groupRows.diferenteEntreMeses),\n  alertaAnaliseManual: buildGroupInfo(groups.alertaAnaliseManual, groupRows.alertaAnaliseManual),\n};\n\nconst requestId = String(rm.requestId || item.requestId || '');\n\nreturn [{\n  json: {\n    ok: true,\n    schemaVersion: Number(rm.schemaVersion || 1),\n    type: 'prn_dashboard_payload',\n    status: String(rm.status || 'success'),\n    requestId,\n    referenceDateUsed: rm.referenceDateUsed || null,\n    generatedAt: new Date().toISOString(),\n    request: asObject(rm.request),\n    summary,\n    dashboard: {\n      cards: {\n        totalDespesas: round2(summary.totalDespesas),\n        totalRecebido: round2(summary.totalRecebido),\n        saldoBancario: round2(summary.saldoBancario),\n        saldoAplicacoes: round2(summary.saldoAplicacoes),\n        transferenciaNecessaria: round2(summary.transferenciaNecessaria),\n      },\n      crossAnalysis: {\n        months: asArray(cross.months),\n        totals: {\n          totalNomesDia: Number(cross.totalNomesDia || crossRows.length),\n          totalValorDia: round2(cross.totalValorDia),\n          totalHistoricoCruzado: round2(cross.totalHistoricoCruzado),\n        },\n        config: asObject(cross.config),\n        groups: groupMetrics,\n      },\n      alerts: {\n        manualAnalysisCount: groupMetrics.alertaAnaliseManual.totalNomes,\n        warningCount: asArray(rm.warnings).length,\n        errorCount: asArray(rm.errors).length,\n      },\n    },\n    data: {\n      entities: asArray(rm.entities),\n      expenses,\n      receipts,\n      balances: asArray(rm.balances),\n      topDespesas,\n      despesasPorCategoria,\n      recebidosPorConta,\n      history,\n      crossAnalysis: {\n        months: asArray(cross.months),\n        rows: crossRows,\n        groups: {\n          comHistorico: groupRows.comHistorico,\n          semHistorico: groupRows.semHistorico,\n          exatoTodosMeses: groupRows.exatoTodosMeses,\n          diferenteEntreMeses: groupRows.diferenteEntreMeses,\n          alertaAnaliseManual: groupRows.alertaAnaliseManual,\n        },\n      },\n    },\n    warnings: asArray(rm.warnings),\n    errors: asArray(rm.errors),\n    meta: {\n      requestId,\n      httpStatus: 200,\n    },\n  },\n}];"
      },
      "id": "node-render-report-v4",
      "name": "Code: Render Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.meta && $json.meta.httpStatus ? $json.meta.httpStatus : 200 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "node-respond-report-v4",
      "name": "Respond Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3450,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\n\nreturn [{\n  json: {\n    ok: false,\n    schemaVersion: 1,\n    error: {\n      code: item.errorCode || 'UNKNOWN_ERROR',\n      message: item.error || 'Erro inesperado no processamento.',\n      details: item.details || null,\n    },\n    meta: {\n      requestId: item.requestId || '',\n      generatedAt: new Date().toISOString(),\n      httpStatus: 400,\n    },\n  },\n}];"
      },
      "id": "node-render-error-v4",
      "name": "Code: Render Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2950,
        760
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.meta && $json.meta.httpStatus ? $json.meta.httpStatus : 400 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "node-respond-error-v4",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3200,
        760
      ]
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Code: Serve Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Serve Form": {
      "main": [
        [
          {
            "node": "Respond Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Code: Initialize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Initialize Request": {
      "main": [
        [
          {
            "node": "IF: Required Files Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Required Files Present": {
      "main": [
        [
          {
            "node": "Extract Daily Contas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Daily Recebido",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Daily Resumo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract History Financas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Parsed Streams",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "Code: Render Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Daily Contas": {
      "main": [
        [
          {
            "node": "Code: Parse Contas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Contas": {
      "main": [
        [
          {
            "node": "Merge Parsed Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Daily Recebido": {
      "main": [
        [
          {
            "node": "Code: Parse Recebido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Recebido": {
      "main": [
        [
          {
            "node": "Merge Parsed Streams",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Daily Resumo": {
      "main": [
        [
          {
            "node": "Code: Parse Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Resumo": {
      "main": [
        [
          {
            "node": "Merge Parsed Streams",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract History Financas": {
      "main": [
        [
          {
            "node": "Code: Parse History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse History": {
      "main": [
        [
          {
            "node": "Merge Parsed Streams",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Parsed Streams": {
      "main": [
        [
          {
            "node": "Code: Assemble Raw Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Assemble Raw Payload": {
      "main": [
        [
          {
            "node": "Code: Schema Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Schema Validation": {
      "main": [
        [
          {
            "node": "IF: Schema Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Schema Valid": {
      "main": [
        [
          {
            "node": "Code: Normalize + Calculate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Render Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Normalize + Calculate": {
      "main": [
        [
          {
            "node": "IF: Processing Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Processing Valid": {
      "main": [
        [
          {
            "node": "Code: Build Report Model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Render Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Report Model": {
      "main": [
        [
          {
            "node": "Code: Render Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Render Report": {
      "main": [
        [
          {
            "node": "Respond Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Render Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4.0.0",
  "meta": {
    "instanceId": "prn-reporting-v4"
  },
  "pinData": {}
}