backend/src/n8n/workflows/WF-PRN-MAIN-v3.json
{
  "name": "PRN Financial Report v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "prn/app",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-get-001",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        200
      ],
      "webhookId": "wh-get-prn-app-001"
    },
    {
      "parameters": {
        "jsCode": "const html = \"<!DOCTYPE html>\\n<html lang=\\\"pt-BR\\\">\\n<head>\\n<meta charset=\\\"UTF-8\\\">\\n<meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1.0\\\">\\n<title>Relatório Financeiro PRN</title>\\n<style>\\n*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}\\nbody{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;background:#f0f2f5;min-height:100vh;display:flex;align-items:center;justify-content:center;padding:20px;color:#1a1a2e}\\n.container{background:#fff;border-radius:12px;box-shadow:0 4px 24px rgba(0,0,0,.08);width:100%;max-width:520px;padding:40px 36px}\\n.header{text-align:center;margin-bottom:32px}\\n.header h1{font-size:1.6rem;font-weight:700;color:#1a3a5c;margin-bottom:8px;letter-spacing:-.3px}\\n.header p{font-size:.92rem;color:#6b7a8d;line-height:1.5}\\n.form-group{margin-bottom:22px}\\n.form-group label{display:block;font-size:.85rem;font-weight:600;color:#2c3e50;margin-bottom:8px}\\n.form-group label .required{color:#e74c3c;margin-left:2px}\\n.file-upload-wrapper{position:relative}\\n.file-upload-wrapper input[type=\\\"file\\\"]{display:none}\\n.file-upload-btn{display:flex;align-items:center;justify-content:center;gap:10px;width:100%;padding:18px 16px;border:2px dashed #b0c4d8;border-radius:8px;background:#f8fafc;color:#4a6fa5;font-size:.9rem;font-weight:500;cursor:pointer;transition:all .2s ease}\\n.file-upload-btn:hover{border-color:#2e6da4;background:#eef3f9}\\n.file-upload-btn svg{width:22px;height:22px;flex-shrink:0}\\n.file-upload-btn .file-name{font-weight:600;color:#1a3a5c;text-align:center;word-break:break-all}\\n.file-upload-btn.has-file{border-color:#27ae60;border-style:solid;background:#f0faf4;color:#1e8449}\\n.file-upload-btn.has-file svg{color:#27ae60}\\n.file-size-error{font-size:.8rem;color:#e74c3c;margin-top:6px;display:none}\\n.date-input{width:100%;padding:12px 14px;border:1.5px solid #cdd6e0;border-radius:8px;font-size:.9rem;color:#2c3e50;background:#f8fafc;transition:border-color .2s ease;font-family:inherit}\\n.date-input:focus{outline:none;border-color:#2e6da4;background:#fff}\\n.submit-btn{width:100%;padding:15px;background:linear-gradient(135deg,#1a5276,#2e86c1);color:#fff;border:none;border-radius:8px;font-size:1rem;font-weight:600;cursor:pointer;transition:all .2s ease;margin-top:8px;letter-spacing:.2px}\\n.submit-btn:hover{background:linear-gradient(135deg,#154360,#2471a3);transform:translateY(-1px);box-shadow:0 4px 12px rgba(26,82,118,.3)}\\n.submit-btn:active{transform:translateY(0)}\\n.submit-btn:disabled{background:#95a5b6;cursor:not-allowed;transform:none;box-shadow:none}\\n.spinner{display:inline-block;width:18px;height:18px;border:2.5px solid rgba(255,255,255,.3);border-top-color:#fff;border-radius:50%;animation:spin .7s linear infinite;margin-right:8px;vertical-align:middle}\\n@keyframes spin{to{transform:rotate(360deg)}}\\n.error-message{background:#fef2f2;border:1px solid #f5c6cb;border-radius:8px;padding:14px 16px;margin-top:20px;display:none}\\n.error-message .error-title{font-weight:600;color:#c0392b;font-size:.88rem;margin-bottom:4px}\\n.error-message .error-text{font-size:.84rem;color:#721c24;line-height:1.5}\\n.footer{text-align:center;margin-top:28px;font-size:.78rem;color:#95a5b6}\\n@media(max-width:560px){\\n  .container{padding:28px 20px;border-radius:10px}\\n  .header h1{font-size:1.3rem}\\n  .file-upload-btn{padding:14px 12px;font-size:.85rem}\\n}\\n</style>\\n</head>\\n<body>\\n<div class=\\\"container\\\">\\n  <div class=\\\"header\\\">\\n    <h1>Relatório Financeiro PRN</h1>\\n    <p>Upload das planilhas para geração do relatório</p>\\n  </div>\\n\\n  <form id=\\\"reportForm\\\" method=\\\"POST\\\" enctype=\\\"multipart/form-data\\\" action=\\\"https://prndiag1.app.n8n.cloud/webhook/prn/report\\\" novalidate>\\n    <div class=\\\"form-group\\\">\\n      <label>Planilha Diária <span class=\\\"required\\\">*</span></label>\\n      <div class=\\\"file-upload-wrapper\\\">\\n        <div class=\\\"file-upload-btn\\\" id=\\\"dailyDropZone\\\" tabindex=\\\"0\\\" role=\\\"button\\\" aria-label=\\\"Selecionar Planilha Diária\\\">\\n          <svg xmlns=\\\"http://www.w3.org/2000/svg\\\" fill=\\\"none\\\" viewBox=\\\"0 0 24 24\\\" stroke=\\\"currentColor\\\" stroke-width=\\\"2\\\"><path stroke-linecap=\\\"round\\\" stroke-linejoin=\\\"round\\\" d=\\\"M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12\\\"/></svg>\\n          <span id=\\\"dailyLabel\\\">Clique ou arraste a planilha (.xlsx)</span>\\n        </div>\\n        <input type=\\\"file\\\" id=\\\"dailyFile\\\" name=\\\"daily_file\\\" accept=\\\".xlsx\\\">\\n      </div>\\n      <div class=\\\"file-size-error\\\" id=\\\"dailySizeError\\\">O arquivo excede o limite de 10MB.</div>\\n    </div>\\n\\n    <div class=\\\"form-group\\\">\\n      <label>Planilha Histórica PRN <span class=\\\"required\\\">*</span></label>\\n      <div class=\\\"file-upload-wrapper\\\">\\n        <div class=\\\"file-upload-btn\\\" id=\\\"historicalDropZone\\\" tabindex=\\\"0\\\" role=\\\"button\\\" aria-label=\\\"Selecionar Planilha Histórica PRN\\\">\\n          <svg xmlns=\\\"http://www.w3.org/2000/svg\\\" fill=\\\"none\\\" viewBox=\\\"0 0 24 24\\\" stroke=\\\"currentColor\\\" stroke-width=\\\"2\\\"><path stroke-linecap=\\\"round\\\" stroke-linejoin=\\\"round\\\" d=\\\"M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12\\\"/></svg>\\n          <span id=\\\"historicalLabel\\\">Clique ou arraste a planilha (.xlsx)</span>\\n        </div>\\n        <input type=\\\"file\\\" id=\\\"historicalFile\\\" name=\\\"historical_file\\\" accept=\\\".xlsx\\\">\\n      </div>\\n      <div class=\\\"file-size-error\\\" id=\\\"historicalSizeError\\\">O arquivo excede o limite de 10MB.</div>\\n    </div>\\n\\n    <div class=\\\"form-group\\\">\\n      <label for=\\\"referenceDate\\\">Data de Referência <span style=\\\"color:#95a5b6;font-weight:400\\\">(opcional)</span></label>\\n      <input type=\\\"date\\\" id=\\\"referenceDate\\\" name=\\\"reference_date\\\" class=\\\"date-input\\\">\\n    </div>\\n\\n    <button type=\\\"submit\\\" class=\\\"submit-btn\\\" id=\\\"submitBtn\\\">Gerar Relatório</button>\\n  </form>\\n\\n  <div class=\\\"error-message\\\" id=\\\"errorMessage\\\">\\n    <div class=\\\"error-title\\\">Erro ao processar</div>\\n    <div class=\\\"error-text\\\" id=\\\"errorText\\\"></div>\\n  </div>\\n\\n  <div class=\\\"footer\\\">Sistema de Relatórios Financeiros</div>\\n</div>\\n\\n<script>\\n(function() {\\n  var MAX_SIZE = 10 * 1024 * 1024;\\n  var dailyFileInput = document.getElementById('dailyFile');\\n  var historicalFileInput = document.getElementById('historicalFile');\\n  var dailyDropZone = document.getElementById('dailyDropZone');\\n  var historicalDropZone = document.getElementById('historicalDropZone');\\n  var dailyLabel = document.getElementById('dailyLabel');\\n  var historicalLabel = document.getElementById('historicalLabel');\\n  var dailySizeError = document.getElementById('dailySizeError');\\n  var historicalSizeError = document.getElementById('historicalSizeError');\\n  var form = document.getElementById('reportForm');\\n  var submitBtn = document.getElementById('submitBtn');\\n  var errorMessage = document.getElementById('errorMessage');\\n  var errorText = document.getElementById('errorText');\\n\\n  function handleFileSelect(input, dropZone, label, sizeError) {\\n    input.addEventListener('change', function() {\\n      sizeError.style.display = 'none';\\n      if (input.files && input.files.length > 0) {\\n        var file = input.files[0];\\n        if (file.size > MAX_SIZE) {\\n          input.value = '';\\n          label.textContent = 'Clique ou arraste a planilha (.xlsx)';\\n          dropZone.classList.remove('has-file');\\n          sizeError.style.display = 'block';\\n          return;\\n        }\\n        label.textContent = file.name;\\n        dropZone.classList.add('has-file');\\n      } else {\\n        label.textContent = 'Clique ou arraste a planilha (.xlsx)';\\n        dropZone.classList.remove('has-file');\\n      }\\n    });\\n\\n    dropZone.addEventListener('click', function() { input.click(); });\\n    dropZone.addEventListener('keydown', function(e) {\\n      if (e.key === 'Enter' || e.key === ' ') { e.preventDefault(); input.click(); }\\n    });\\n\\n    dropZone.addEventListener('dragover', function(e) { e.preventDefault(); dropZone.style.borderColor = '#2e86c1'; });\\n    dropZone.addEventListener('dragleave', function(e) {\\n      e.preventDefault();\\n      dropZone.style.borderColor = dropZone.classList.contains('has-file') ? '#27ae60' : '#b0c4d8';\\n    });\\n    dropZone.addEventListener('drop', function(e) {\\n      e.preventDefault();\\n      dropZone.style.borderColor = '';\\n      var files = e.dataTransfer.files;\\n      if (files.length > 0) {\\n        input.files = files;\\n        input.dispatchEvent(new Event('change'));\\n      }\\n    });\\n  }\\n\\n  handleFileSelect(dailyFileInput, dailyDropZone, dailyLabel, dailySizeError);\\n  handleFileSelect(historicalFileInput, historicalDropZone, historicalLabel, historicalSizeError);\\n\\n  function showError(msg) {\\n    errorText.textContent = msg;\\n    errorMessage.style.display = 'block';\\n  }\\n\\n  form.addEventListener('submit', function(e) {\\n    e.preventDefault();\\n    errorMessage.style.display = 'none';\\n    dailySizeError.style.display = 'none';\\n    historicalSizeError.style.display = 'none';\\n\\n    if (!dailyFileInput.files || dailyFileInput.files.length === 0) {\\n      showError('Selecione a Planilha Diária para continuar.');\\n      return;\\n    }\\n    if (!historicalFileInput.files || historicalFileInput.files.length === 0) {\\n      showError('Selecione a Planilha Histórica PRN para continuar.');\\n      return;\\n    }\\n    if (dailyFileInput.files[0].size > MAX_SIZE) {\\n      dailySizeError.style.display = 'block';\\n      return;\\n    }\\n    if (historicalFileInput.files[0].size > MAX_SIZE) {\\n      historicalSizeError.style.display = 'block';\\n      return;\\n    }\\n\\n    submitBtn.disabled = true;\\n    submitBtn.innerHTML = '<span class=\\\"spinner\\\"></span>Processando...';\\n\\n    form.submit();\\n  });\\n})();\\n</script>\\n</body>\\n</html>\\n\";\nreturn [{ json: { html } }];"
      },
      "id": "node-code-form-001",
      "name": "Code: Serve Form",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}"
      },
      "id": "node-respond-form-001",
      "name": "Respond Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prn/report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-post-001",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        600
      ],
      "webhookId": "wh-post-prn-report-001"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0] || {};\nconst binary = item.binary || {};\nconst hasDaily = !!binary.daily_file;\nconst hasHistorical = !!binary.historical_file;\n\nif (!hasDaily && !hasHistorical) {\n  return [{ json: { valid: false, errorCode: 'VALIDATION_ERROR', error: 'Nenhum arquivo encontrado. Envie a Planilha Di\\u00e1ria e a Planilha Hist\\u00f3rica PRN.', requestId: '' } }];\n}\nif (!hasDaily) {\n  return [{ json: { valid: false, errorCode: 'VALIDATION_ERROR', error: 'Planilha Di\\u00e1ria n\\u00e3o encontrada.', requestId: '' } }];\n}\nif (!hasHistorical) {\n  return [{ json: { valid: false, errorCode: 'VALIDATION_ERROR', error: 'Planilha Hist\\u00f3rica PRN n\\u00e3o encontrada.', requestId: '' } }];\n}\n\nconst crypto = require('crypto');\nconst requestId = crypto.randomUUID ? crypto.randomUUID() : ('req-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9));\n\nreturn [{\n  json: {\n    valid: true,\n    requestId: requestId,\n    dailyFilename: binary.daily_file.fileName || 'daily.xlsx',\n    historicalFilename: binary.historical_file.fileName || 'historical.xlsx',\n    referenceDate: item.json.reference_date || '',\n    dailyB64: binary.daily_file.data,\n    historicalB64: binary.historical_file.data\n  }\n}];"
      },
      "id": "node-code-init-001",
      "name": "Code: Initialize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid-001",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-if-valid-001",
      "name": "IF: Valid Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const XLSX = require('xlsx');\n\nconst data = $input.first().json;\nconst dailyBuf = Buffer.from(data.dailyB64, 'base64');\nconst histBuf = Buffer.from(data.historicalB64, 'base64');\n\nconst dailyWb = XLSX.read(dailyBuf, { type: 'buffer', cellDates: true });\nconst histWb = XLSX.read(histBuf, { type: 'buffer', cellDates: true });\n\nfunction sheetTo2D(ws) {\n  if (!ws || !ws['!ref']) return [];\n  const range = XLSX.utils.decode_range(ws['!ref']);\n  const rows = [];\n  for (let r = range.s.r; r <= range.e.r; r++) {\n    const row = [];\n    for (let c = range.s.c; c <= range.e.c; c++) {\n      const addr = XLSX.utils.encode_cell({ r, c });\n      const cell = ws[addr];\n      row.push(cell ? (cell.v !== undefined ? cell.v : null) : null);\n    }\n    rows.push(row);\n  }\n  return rows;\n}\n\nconst dailyData = {};\nfor (const name of dailyWb.SheetNames) { dailyData[name] = sheetTo2D(dailyWb.Sheets[name]); }\nconst histData = {};\nfor (const name of histWb.SheetNames) { histData[name] = sheetTo2D(histWb.Sheets[name]); }\n\n// ===== PARSER DAILY =====\n/**\n * parser-daily.js\n *\n * Module for parsing the daily financial spreadsheet used in the n8n reporting workflow.\n *\n * Expected input format (workbookData):\n *   {\n *     \"Contas\":  [[row1col1, row1col2, ...], [row2col1, ...], ...],\n *     \"Recebido\": [[...], ...],\n *     \"Resumo\":  [[...], ...]\n *   }\n *\n * Sheets may be absent (will generate warnings).\n * Each cell may be: string, number, Date object, or null (from merged cells).\n *\n * Exports:\n *   parseDailyWorkbook(workbookData) -> { contas, recebido, resumo, warnings }\n */\n\n// ---------------------------------------------------------------------------\n// Helpers\n// ---------------------------------------------------------------------------\n\n/**\n * Normalise a value that might be a Date, number, or string into a string.\n * Dates become ISO date strings (YYYY-MM-DD).\n * Everything else is coerced via String().\n * Returns null for null / undefined.\n */\nfunction toString(val) {\n  if (val == null) return null;\n  if (val instanceof Date) {\n    return isNaN(val.getTime()) ? null : val.toISOString().slice(0, 10);\n  }\n  return String(val).trim();\n}\n\n/**\n * Coerce a value to a finite number.\n * Accepts strings like \"1.234,56\" (Brazilian format), plain numbers, etc.\n * Returns null when the value cannot be parsed.\n */\nfunction toNumber(val) {\n  if (typeof val === 'number') return isFinite(val) ? val : null;\n  if (val == null) return null;\n\n  let raw = String(val).trim();\n  if (raw === '') return null;\n\n  // Handle Brazilian number format: \"1.234.567,89\"  ->  \"1234567.89\"\n  // We only apply this when the string contains a comma as the LAST separator.\n  if (raw.includes(',') && !raw.includes('.')) {\n    raw = raw.replace(',', '.');\n  } else if (raw.includes(',') && raw.includes('.')) {\n    // \"1.234.567,89\" pattern — dots are thousand separators, comma is decimal.\n    raw = raw.replace(/\\./g, '').replace(',', '.');\n  }\n\n  const num = Number(raw);\n  return isFinite(num) ? num : null;\n}\n\n/**\n * Return a lower-cased, trimmed string or null.\n */\nfunction toLower(val) {\n  const s = toString(val);\n  return s ? s.toLowerCase() : null;\n}\n\n/**\n * Check whether a cell value (after lower-casing) contains the given substring.\n */\nfunction cellContains(val, substr) {\n  const s = toLower(val);\n  return s ? s.includes(substr) : false;\n}\n\n// ---------------------------------------------------------------------------\n// Sheet: Contas  (expenses)\n// ---------------------------------------------------------------------------\n\n/**\n * Locate the PRN MATRIZ block inside the \"Contas\" sheet.\n *\n * Strategy:\n *   1. Scan every cell in the first ~20 rows for a cell whose text contains\n *      \"prn matriz\" (case-insensitive). This is the company header.\n *   2. Once found, the 7 columns starting at that column index form the block.\n *   3. Walk further rows until we hit another company header or end of data,\n *      collecting data rows.\n *\n * Expected column layout (relative to block start col):\n *   0: Vencimento (date)\n *   1: Favorecido  (string)\n *   2: Departamento (string)\n *   3: Categoria   (string)\n *   4: Valor       (number)\n *   5: Parcela     (string, e.g. \"3/12\")\n *   6: Observação  (string)\n *\n * Returns { rows, warnings }\n */\nfunction parseContas(sheet) {\n  const warnings = [];\n  const rows = [];\n\n  if (!sheet || sheet.length === 0) {\n    warnings.push('Sheet \"Contas\" is missing or empty');\n    return { rows, warnings };\n  }\n\n  const maxScanRows = 20;\n\n  // ---- Step 1: Find the \"PRN MATRIZ\" header cell ----\n  let headerRow = -1;\n  let blockStartCol = -1;\n\n  for (let r = 0; r < Math.min(sheet.length, maxScanRows); r++) {\n    const row = sheet[r];\n    if (!row) continue;\n    for (let c = 0; c < row.length; c++) {\n      if (cellContains(row[c], 'prn matriz')) {\n        headerRow = r;\n        blockStartCol = c;\n        break;\n      }\n    }\n    if (headerRow >= 0) break;\n  }\n\n  if (headerRow < 0) {\n    warnings.push('Could not locate \"PRN MATRIZ\" header in sheet \"Contas\"');\n    return { rows, warnings };\n  }\n\n  // ---- Step 2: Identify column headers (Vencimento, Favorecido, etc.) ----\n  //\n  // The header row for column names is typically 1-2 rows BELOW the\n  // \"PRN MATRIZ\" merged header. We scan the next few rows for a row that\n  // contains at least some of the expected column names.\n  const expectedHeaders = ['vencimento', 'favorecido', 'departamento', 'categoria', 'valor', 'parcela', 'observa'];\n  let colHeaderRow = -1;\n\n  for (let r = headerRow + 1; r <= headerRow + 4 && r < sheet.length; r++) {\n    const row = sheet[r];\n    if (!row) continue;\n\n    let matchCount = 0;\n    for (let c = blockStartCol; c < blockStartCol + 7 && c < row.length; c++) {\n      if (cellContains(row[c], 'vencimento')) matchCount++;\n      if (cellContains(row[c], 'favorecido')) matchCount++;\n      if (cellContains(row[c], 'departamento')) matchCount++;\n      if (cellContains(row[c], 'categoria')) matchCount++;\n      if (cellContains(row[c], 'valor')) matchCount++;\n    }\n\n    // At least 2 header keywords found -> this is the column header row\n    if (matchCount >= 2) {\n      colHeaderRow = r;\n      break;\n    }\n  }\n\n  if (colHeaderRow < 0) {\n    // Fallback: assume data starts 2 rows below the company header\n    colHeaderRow = headerRow + 2;\n    warnings.push('Could not find column headers in \"Contas\" — assuming data starts 2 rows below \"PRN MATRIZ\" header');\n  }\n\n  // ---- Step 3: Build a mapping from expected field -> absolute column index ----\n  //\n  // We inspect the column header row to figure out which column holds which\n  // field. This handles columns that may be in different order.\n  const fieldMap = {};\n  const fieldKeywords = {\n    vencimento: ['vencimento', 'venc', 'data venc'],\n    favorecido: ['favorecido', 'fornecedor', 'credor', 'benefici'],\n    departamento: ['departamento', 'depto', 'dept'],\n    categoria: ['categoria', 'cat'],\n    valor: ['valor', 'vlr', 'valor r$'],\n    parcela: ['parcela', 'parc'],\n    observacao: ['observa', 'obs', 'hist', 'descri']\n  };\n\n  // By default, assume the standard left-to-right order starting at blockStartCol\n  const defaultOrder = ['vencimento', 'favorecido', 'departamento', 'categoria', 'valor', 'parcela', 'observacao'];\n\n  // Try to detect by scanning the header row\n  let detectedAny = false;\n  const headerRowData = sheet[colHeaderRow] || [];\n\n  for (let c = blockStartCol; c < blockStartCol + 7 && c < headerRowData.length; c++) {\n    const cellVal = toLower(headerRowData[c]);\n    if (!cellVal) continue;\n\n    for (const [field, keywords] of Object.entries(fieldKeywords)) {\n      if (fieldMap[field] !== undefined) continue; // already mapped\n      if (keywords.some(kw => cellVal.includes(kw))) {\n        fieldMap[field] = c;\n        detectedAny = true;\n        break;\n      }\n    }\n  }\n\n  // If detection found fewer than 3 fields, fall back to positional defaults\n  if (!detectedAny || Object.keys(fieldMap).length < 3) {\n    for (let i = 0; i < defaultOrder.length; i++) {\n      if (fieldMap[defaultOrder[i]] === undefined) {\n        fieldMap[defaultOrder[i]] = blockStartCol + i;\n      }\n    }\n  }\n\n  // ---- Step 4: Extract data rows ----\n  //\n  // Data rows start immediately after the column header row.\n  // We stop when:\n  //   - We encounter another company header (e.g. \"CAMBORIU\", \"PALHOCA\")\n  //   - A row has no meaningful data at all\n  //   - We reach the end of the sheet\n  //\n  // Subtotal / total rows are detected by keywords like \"total\", \"subtotal\",\n  // or by the \"favorecido\" cell being empty while \"valor\" is present\n  // (or by a numeric value in the \"valor\" column that looks like a sum).\n\n  const companyBlockMarkers = ['camboriu', 'palhoca', 'medimagem', 'prn locacao', 'prn holding'];\n  const subtotalKeywords = ['total', 'subtotal', 'saldo', 'sub total'];\n\n  for (let r = colHeaderRow + 1; r < sheet.length; r++) {\n    const row = sheet[r];\n    if (!row) continue;\n\n    // Check if this row starts a new company block (look across the whole row)\n    let isCompanyHeader = false;\n    for (let c = 0; c < row.length; c++) {\n      const cell = toLower(row[c]);\n      if (cell && companyBlockMarkers.some(m => cell.includes(m))) {\n        isCompanyHeader = true;\n        break;\n      }\n    }\n    if (isCompanyHeader) break; // stop — we've left the PRN MATRIZ block\n\n    // Extract raw cell values using the field map\n    const raw = {};\n    for (const [field, colIdx] of Object.entries(fieldMap)) {\n      raw[field] = colIdx < row.length ? row[colIdx] : null;\n    }\n\n    // Determine the \"favorecido\" text for subtotal detection\n    const favorecidoText = toLower(raw.favorecido);\n\n    // Skip rows that are clearly subtotal / total rows\n    if (favorecidoText && subtotalKeywords.some(kw => favorecidoText.includes(kw))) {\n      continue;\n    }\n\n    // Build the record\n    const vencimento = toString(raw.vencimento);\n    const favorecido = toString(raw.favorecido);\n    const departamento = toString(raw.departamento);\n    const categoria = toString(raw.categoria);\n    const valor = toNumber(raw.valor);\n    const parcela = toString(raw.parcela);\n    const observacao = toString(raw.observacao);\n\n    // Skip entirely empty rows (no meaningful data in any field)\n    const hasAnyData = [vencimento, favorecido, departamento, categoria, parcela, observacao]\n      .some(v => v !== null) || valor !== null;\n    if (!hasAnyData) continue;\n\n    // Warn about rows where valor is missing but there is other data\n    if (valor === null && (favorecido || categoria)) {\n      warnings.push(\n        `Contas row ${r + 1}: has data (favorecido=\"${favorecido}\") but no parseable valor`\n      );\n    }\n\n    rows.push({\n      _row: r + 1, // 1-based row number for traceability\n      vencimento,\n      favorecido,\n      departamento,\n      categoria,\n      valor,\n      parcela,\n      observacao\n    });\n  }\n\n  if (rows.length === 0) {\n    warnings.push('No expense rows extracted from \"Contas\" for PRN MATRIZ');\n  }\n\n  return { rows, warnings };\n}\n\n// ---------------------------------------------------------------------------\n// Sheet: Recebido  (receipts)\n// ---------------------------------------------------------------------------\n\n/**\n * Parse the \"Recebido\" sheet.\n *\n * Expected columns (detected by header keywords, NOT fixed positions):\n *   - Data / Date           -> data\n *   - Identificador / Doc   -> identificador\n *   - Descrição / Desc      -> descricao\n *   - Empresa               -> empresa\n *   - Conta Corrente        -> contaCorrente\n *   - Valor                 -> valor\n *   - Conciliação / Status  -> conciliacao\n *\n * All rows are returned. Rows whose \"empresa\" field matches PRN-related names\n * are flagged with isPRN = true.\n *\n * Returns { rows, warnings }\n */\nfunction parseRecebido(sheet) {\n  const warnings = [];\n  const rows = [];\n\n  if (!sheet || sheet.length === 0) {\n    warnings.push('Sheet \"Recebido\" is missing or empty');\n    return { rows, warnings };\n  }\n\n  // ---- Locate the header row ----\n  const headerKeywords = {\n    data: ['data', 'date', 'dt'],\n    identificador: ['identificador', 'id', 'doc', 'documento', 'número', 'numero'],\n    descricao: ['descri', 'hist', 'desc'],\n    empresa: ['empresa'],\n    contaCorrente: ['conta corrente', 'conta', 'banco'],\n    valor: ['valor', 'vlr'],\n    conciliacao: ['concili', 'status', 'situação', 'situacao']\n  };\n\n  let headerRowIdx = -1;\n  const colMap = {};\n\n  // Scan the first 15 rows for a row that looks like a header\n  for (let r = 0; r < Math.min(sheet.length, 15); r++) {\n    const row = sheet[r];\n    if (!row) continue;\n\n    let found = 0;\n    for (let c = 0; c < row.length; c++) {\n      const cell = toLower(row[c]);\n      if (!cell) continue;\n\n      for (const [field, keywords] of Object.entries(headerKeywords)) {\n        if (colMap[field] !== undefined) continue; // already mapped in this row\n        if (keywords.some(kw => cell.includes(kw))) {\n          colMap[field] = c;\n          found++;\n          break;\n        }\n      }\n    }\n\n    if (found >= 3) {\n      headerRowIdx = r;\n      break;\n    }\n    // Reset mapping for next row attempt\n    if (found < 3) {\n      for (const key of Object.keys(colMap)) delete colMap[key];\n    }\n  }\n\n  if (headerRowIdx < 0) {\n    warnings.push('Could not find header row in sheet \"Recebido\"');\n    return { rows, warnings };\n  }\n\n  // ---- PRN-related company name fragments ----\n  const prnFragments = ['prn', 'medimagem', 'matriz', 'camboriu', 'palhoca', 'locação', 'locação', 'holding'];\n\n  // ---- Extract data rows ----\n  for (let r = headerRowIdx + 1; r < sheet.length; r++) {\n    const row = sheet[r];\n    if (!row) continue;\n\n    const data = toString(colMap.data !== undefined && colMap.data < row.length ? row[colMap.data] : null);\n    const identificador = toString(colMap.identificador !== undefined && colMap.identificador < row.length ? row[colMap.identificador] : null);\n    const descricao = toString(colMap.descricao !== undefined && colMap.descricao < row.length ? row[colMap.descricao] : null);\n    const empresa = toString(colMap.empresa !== undefined && colMap.empresa < row.length ? row[colMap.empresa] : null);\n    const contaCorrente = toString(colMap.contaCorrente !== undefined && colMap.contaCorrente < row.length ? row[colMap.contaCorrente] : null);\n    const valor = toNumber(colMap.valor !== undefined && colMap.valor < row.length ? row[colMap.valor] : null);\n    const conciliacao = toString(colMap.conciliacao !== undefined && colMap.conciliacao < row.length ? row[colMap.conciliacao] : null);\n\n    // Skip empty rows\n    const hasAnyData = [data, identificador, descricao, empresa, contaCorrente, conciliacao]\n      .some(v => v !== null) || valor !== null;\n    if (!hasAnyData) continue;\n\n    // Determine if this receipt is PRN-related\n    const empresaLower = toLower(empresa);\n    const isPRN = empresaLower ? prnFragments.some(f => empresaLower.includes(f)) : false;\n\n    rows.push({\n      _row: r + 1,\n      data,\n      identificador,\n      descricao,\n      empresa,\n      contaCorrente,\n      valor,\n      conciliacao,\n      isPRN\n    });\n  }\n\n  if (rows.length === 0) {\n    warnings.push('No receipt rows extracted from \"Recebido\"');\n  }\n\n  // Warn about potential filtered data (if the sheet seems sparse —\n  // many consecutive empty rows in the middle could indicate hidden rows)\n  const totalRows = sheet.length - headerRowIdx - 1;\n  const filledRows = rows.length;\n  if (totalRows > 0 && filledRows / totalRows < 0.3 && filledRows > 5) {\n    warnings.push(\n      `Recebido: only ${filledRows} of ${totalRows} rows have data — ` +\n      'this may indicate filtered/hidden rows in the source spreadsheet'\n    );\n  }\n\n  return { rows, warnings };\n}\n\n// ---------------------------------------------------------------------------\n// Sheet: Resumo  (summary — cross-check only)\n// ---------------------------------------------------------------------------\n\n/**\n * Parse the \"Resumo\" sheet for entity-level consolidated values.\n *\n * The Resumo sheet is FRAGILE — it often uses fixed cell references.\n * We try to detect entity names and associated financial metrics by scanning\n * for known entity strings and then reading nearby cells.\n *\n * Entities we care about:\n *   - PRN MATRIZ\n *   - MEDIMAGEM CAMBORIU\n *   - MEDIMAGEM PALHOCA\n *   - PRN LOCAÇÃO\n *   - PRN HOLDING\n *\n * Metrics (detected by column headers or nearby labels):\n *   - Despesas  (expenses)\n *   - Saldos    (balances)\n *   - Aplicações (investments)\n *\n * Returns { entities: { [entityName]: { despesas, saldos, aplicacoes } }, warnings }\n */\nfunction parseResumo(sheet) {\n  const warnings = [];\n  const entities = {};\n\n  if (!sheet || sheet.length === 0) {\n    warnings.push('Sheet \"Resumo\" is missing or empty — cross-checking will be skipped');\n    return { entities, warnings };\n  }\n\n  // Known entity names (normalised to lower-case for matching)\n  const knownEntities = [\n    'prn matriz',\n    'medimagem camboriu',\n    'medimagem palhoca',\n    'prn locação',\n    'prn holding'\n  ];\n\n  // Known metric labels\n  const metricKeywords = {\n    despesas: ['despesa', 'total despesa'],\n    saldos: ['saldo'],\n    aplicacoes: ['aplicação', 'aplicacao', 'aplic']\n  };\n\n  // ---- Strategy: scan every cell for entity names ----\n  // When found, look at cells to the right for numeric values, and look at\n  // rows above for metric labels that could tell us what those numbers mean.\n\n  for (let r = 0; r < sheet.length; r++) {\n    const row = sheet[r];\n    if (!row) continue;\n\n    for (let c = 0; c < row.length; c++) {\n      const cell = toLower(row[c]);\n      if (!cell) continue;\n\n      // Check if this cell matches a known entity\n      let matchedEntity = null;\n      for (const entity of knownEntities) {\n        if (cell.includes(entity)) {\n          matchedEntity = entity;\n          break;\n        }\n      }\n\n      if (!matchedEntity) continue;\n\n      // Use the display-form entity name (first-letter upper-case)\n      const displayEntity = toUpperTitle(toString(row[c])) || matchedEntity.toUpperCase();\n\n      // Collect numeric values to the right of the entity cell (next ~6 columns)\n      const nearbyValues = [];\n      for (let nc = c + 1; nc <= c + 6 && nc < row.length; nc++) {\n        const num = toNumber(row[nc]);\n        if (num !== null) {\n          nearbyValues.push({ col: nc, value: num });\n        }\n      }\n\n      // Now try to associate these values with metric labels.\n      // Look at the rows ABOVE the entity row (typically 0-3 rows up) for\n      // labels that are in the same column as each numeric value.\n      const metrics = {};\n\n      for (const nv of nearbyValues) {\n        let matchedMetric = null;\n\n        // Scan up to 4 rows above for a label in the same column\n        for (let ur = Math.max(0, r - 4); ur < r; ur++) {\n          const upRow = sheet[ur];\n          if (!upRow || nv.col >= upRow.length) continue;\n          const upCell = toLower(upRow[nv.col]);\n          if (!upCell) continue;\n\n          for (const [metric, keywords] of Object.entries(metricKeywords)) {\n            if (keywords.some(kw => upCell.includes(kw))) {\n              matchedMetric = metric;\n              break;\n            }\n          }\n          if (matchedMetric) break;\n        }\n\n        // If no label matched above, also check the header row at r-1 or r-2\n        // in a broader search (some layouts have labels above and values below)\n        if (!matchedMetric) {\n          // As a heuristic, the first numeric is often despesas, second is saldos, etc.\n          const idx = nearbyValues.indexOf(nv);\n          const fallbackOrder = ['despesas', 'saldos', 'aplicacoes'];\n          if (idx < fallbackOrder.length) {\n            matchedMetric = fallbackOrder[idx];\n          }\n        }\n\n        if (matchedMetric && metrics[matchedMetric] === undefined) {\n          metrics[matchedMetric] = nv.value;\n        }\n      }\n\n      entities[displayEntity] = metrics;\n    }\n  }\n\n  if (Object.keys(entities).length === 0) {\n    warnings.push('Could not extract any entity data from \"Resumo\" — cross-checking will be limited');\n  }\n\n  return { entities, warnings };\n}\n\n/**\n * Convert a string to title case for display purposes.\n * E.g. \"prn matriz\" -> \"Prn Matriz\"\n */\nfunction toUpperTitle(str) {\n  if (!str) return null;\n  return str.replace(/\\b\\w+/g, w => w.charAt(0).toUpperCase() + w.slice(1).toLowerCase());\n}\n\n// ---------------------------------------------------------------------------\n// Cross-checking: Contas totals vs Resumo\n// ---------------------------------------------------------------------------\n\n/**\n * Compare the sum of PRN MATRIZ expenses from \"Contas\" with the \"Despesas\"\n * value from \"Resumo\". Generate warnings if they diverge significantly.\n *\n * We allow a tolerance of 0.01 (R$ 0.01) to account for rounding.\n */\nfunction crossCheck(contasRows, resumoEntities, warnings) {\n  // Sum all valor fields from contas\n  let contasTotal = 0;\n  let hasValues = false;\n  for (const row of contasRows) {\n    if (row.valor !== null) {\n      contasTotal += row.valor;\n      hasValues = true;\n    }\n  }\n\n  if (!hasValues) return;\n\n  // Find the PRN MATRIZ entity in resumo\n  const prnResumo = resumoEntities['Prn Matriz'] || resumoEntities['PRN MATRIZ'] || resumoEntities['PRN MATRIZ'];\n  if (!prnResumo || prnResumo.despesas === undefined) {\n    warnings.push(\n      'Cross-check skipped: could not find \"Despesas\" for PRN MATRIZ in Resumo sheet'\n    );\n    return;\n  }\n\n  const resumoDespesas = prnResumo.despesas;\n  const diff = Math.abs(contasTotal - resumoDespesas);\n\n  if (diff > 0.01) {\n    warnings.push(\n      `Cross-check mismatch (PRN MATRIZ despesas): Contas sum = ${contasTotal.toFixed(2)}, ` +\n      `Resumo = ${resumoDespesas.toFixed(2)}, diff = ${diff.toFixed(2)}`\n    );\n  }\n}\n\n// ---------------------------------------------------------------------------\n// Main exported function\n// ---------------------------------------------------------------------------\n\n/**\n * Parse the daily financial workbook.\n *\n * @param {Object} workbookData - Object with sheet names as keys, each value\n *   being a 2D array (rows x columns) of cell values.\n * @returns {{ contas: Array, recebido: Array, resumo: Object, warnings: Array }}\n */\nfunction parseDailyWorkbook(workbookData) {\n  const warnings = [];\n\n  // ---- Parse each sheet ----\n  const contasResult = parseContas(workbookData['Contas'] || null);\n  const recebidoResult = parseRecebido(workbookData['Recebido'] || null);\n  const resumoResult = parseResumo(workbookData['Resumo'] || null);\n\n  // Collect warnings from all parsers\n  warnings.push(...contasResult.warnings);\n  warnings.push(...recebidoResult.warnings);\n  warnings.push(...resumoResult.warnings);\n\n  // ---- Cross-check Contas vs Resumo ----\n  crossCheck(contasResult.rows, resumoResult.entities, warnings);\n\n  // ---- Check for missing sheets ----\n  const expectedSheets = ['Contas', 'Recebido', 'Resumo'];\n  for (const sheetName of expectedSheets) {\n    if (!workbookData[sheetName]) {\n      warnings.push(`Sheet \"${sheetName}\" is not present in the workbook`);\n    }\n  }\n\n  return {\n    contas: contasResult.rows,\n    recebido: recebidoResult.rows,\n    resumo: resumoResult.entities,\n    warnings\n  };\n}\n\n// ---------------------------------------------------------------------------\n// Export (works in both CommonJS and ES module environments)\n// ---------------------------------------------------------------------------\n\n\n// ===== PARSER HISTORY =====\n/**\n * parser-history.js\n *\n * Parses the historical financial spreadsheet (\"financas\" sheet) from OMIE.\n *\n * Expected workbook structure (object with sheet names as keys):\n *   {\n *     \"financas\": [\n *       [row0_header],   // row 1 — main header (merged cells, labels)\n *       [row1_header],   // row 2 — sub-header\n *       [row2_header],   // row 3 — sub-header\n *       [row3_data],     // row 4 — first data row\n *       ...\n *     ]\n *   }\n *\n * Column map (0-indexed, based on real sample inspection):\n *   0  – Situação          (payment status: Pago, Atrasado, Pago Parcialmente, …)\n *   3  – Fornecedor        (vendor / payee name)\n *   4  – Previsão          (forecast date, may be datetime string)\n *   5  – Último Pagamento  (last payment date, datetime string)\n *   7  – Valor Líquido     (net value, numeric or numeric string)\n *  10  – Categoria          (expense / revenue category)\n *  14  – Conta Corrente     (bank account)\n *  16  – Vencimento         (due date, datetime string)\n *\n * Returned parsed row shape:\n *   {\n *     situacao:        string,\n *     fornecedor:      string,\n *     previsao:        \"YYYY-MM-DD\" | null,\n *     ultimoPagamento: \"YYYY-MM-DD\" | null,\n *     valorLiquido:    number,\n *     categoria:       string,\n *     contaCorrente:   string,\n *     vencimento:      \"YYYY-MM-DD\" | null\n *   }\n *\n * Return value:\n *   { rows: ParsedRow[], summary: Summary, warnings: string[] }\n */\n\n\"use strict\";\n\n// ---------------------------------------------------------------------------\n// Constants\n// ---------------------------------------------------------------------------\n\n/** Number of header rows at the top of the sheet that must be skipped. */\nconst HEADER_ROW_COUNT = 3;\n\n/** Column indices (0-based) for each field in the raw spreadsheet rows. */\nconst COL = Object.freeze({\n  SITUACAO:         0,\n  FORNECEDOR:       3,\n  PREVISAO:         4,\n  ULTIMO_PAGAMENTO: 5,\n  VALOR_LIQUIDO:    7,\n  CATEGORIA:       10,\n  CONTA_CORRENTE:  14,\n  VENCIMENTO:      16,\n});\n\n/**\n * If any parsed date's year falls outside this window we emit a warning.\n * The sample data spans 2026-01 through 2026-03, so a 5-year window is generous.\n */\nconst EXPECTED_YEAR_MIN = 2020;\nconst EXPECTED_YEAR_MAX = 2035;\n\n/** Date regex that matches \"YYYY-MM-DD\" or \"YYYY-MM-DD HH:mm:ss\" (ISO-ish). */\nconst ISO_DATE_RE = /^\\s*(\\d{4})-(\\d{2})-(\\d{2})(?:\\s+\\d{2}:\\d{2}(?::\\d{2})?)?\\s*$/;\n\n/**\n * Serial number epoch for Excel / LibreOffice date handling.\n * Both treat 1900-01-01 as serial day 1 (with the intentional Lotus 1-2-3\n * leap-year bug where 1900-02-29 is considered valid, making day 60 = 1900-02-29\n * and day 61 = 1900-03-01).\n */\nconst EXCEL_EPOCH = new Date(Date.UTC(1899, 11, 30)); // 1899-12-30 00:00 UTC\nconst MS_PER_DAY = 86_400_000;\n\n// ---------------------------------------------------------------------------\n// Helpers\n// ---------------------------------------------------------------------------\n\n/**\n * Attempt to parse a value that may be a Date object, an Excel serial number,\n * or an ISO-like string into \"YYYY-MM-DD\".\n *\n * @param {*} raw\n * @returns {{ iso: string | null, warning: string | null }}\n */\nfunction parseDateValue(raw) {\n  if (raw === null || raw === undefined || raw === \"\") {\n    return { iso: null, warning: null };\n  }\n\n  // 1. Native Date object (already decoded by the spreadsheet reader).\n  if (raw instanceof Date) {\n    if (isNaN(raw.getTime())) {\n      return { iso: null, warning: `Invalid Date object: ${raw}` };\n    }\n    const iso = formatDate(raw);\n    return validateDateRange(iso);\n  }\n\n  // 2. Excel / LibreOffice serial number (integer or float).\n  if (typeof raw === \"number\" && isFinite(raw) && raw > 0) {\n    const date = new Date(EXCEL_EPOCH.getTime() + raw * MS_PER_DAY);\n    if (isNaN(date.getTime())) {\n      return { iso: null, warning: `Invalid serial number date: ${raw}` };\n    }\n    const iso = formatDate(date);\n    return validateDateRange(iso);\n  }\n\n  // 3. String — try ISO \"YYYY-MM-DD [HH:mm:ss]\" pattern.\n  if (typeof raw === \"string\") {\n    const str = raw.trim();\n    if (str === \"\") {\n      return { iso: null, warning: null };\n    }\n\n    const match = str.match(ISO_DATE_RE);\n    if (match) {\n      const [, yearStr, monthStr, dayStr] = match;\n      const year = Number(yearStr);\n      const month = Number(monthStr) - 1;   // 0-based\n      const day = Number(dayStr);\n\n      const date = new Date(Date.UTC(year, month, day));\n      if (isNaN(date.getTime())) {\n        return { iso: null, warning: `Unparseable date string: \"${str}\"` };\n      }\n\n      const iso = `${yearStr}-${monthStr}-${dayStr}`;\n      return validateDateRange(iso);\n    }\n\n    // Fallback: let the JS engine try (handles \"MM/DD/YYYY\", \"DD/MM/YYYY\", etc.).\n    const fallback = new Date(str);\n    if (!isNaN(fallback.getTime())) {\n      const iso = formatDate(fallback);\n      return validateDateRange(iso);\n    }\n\n    return { iso: null, warning: `Unparseable date string: \"${str}\"` };\n  }\n\n  return { iso: null, warning: `Unsupported date type: ${typeof raw}` };\n}\n\n/**\n * Format a Date object to \"YYYY-MM-DD\".\n * @param {Date} date\n * @returns {string}\n */\nfunction formatDate(date) {\n  const y = date.getUTCFullYear();\n  const m = String(date.getUTCMonth() + 1).padStart(2, \"0\");\n  const d = String(date.getUTCDate()).padStart(2, \"0\");\n  return `${y}-${m}-${d}`;\n}\n\n/**\n * Check whether a date string is within a reasonable year range.\n * @param {string} iso\n * @returns {{ iso: string | null, warning: string | null }}\n */\nfunction validateDateRange(iso) {\n  const year = Number(iso.slice(0, 4));\n\n  if (year < EXPECTED_YEAR_MIN || year > EXPECTED_YEAR_MAX) {\n    const warning =\n      `Date \"${iso}\" is far outside the expected range ` +\n      `(${EXPECTED_YEAR_MIN}–${EXPECTED_YEAR_MAX}). Possible data error.`;\n    return { iso, warning };\n  }\n\n  return { iso, warning: null };\n}\n\n/**\n * Safely convert a raw value to a number.\n *\n * Handles numeric strings, native numbers, and strings with common\n * formatting characters (dot-thousands, comma-decimal, currency symbols).\n *\n * @param {*} raw\n * @returns {{ value: number, warning: string | null }}\n */\nfunction parseNumericValue(raw) {\n  if (raw === null || raw === undefined || raw === \"\") {\n    return { value: 0, warning: null };\n  }\n\n  if (typeof raw === \"number\") {\n    if (!isFinite(raw)) {\n      return { value: 0, warning: `Non-finite numeric value: ${raw}` };\n    }\n    return { value: raw, warning: null };\n  }\n\n  if (typeof raw === \"string\") {\n    // Strip currency symbols, whitespace, and parentheses.\n    let cleaned = raw\n      .trim()\n      .replace(/[R$\\s€£¥\"()]/g, \"\");\n\n    if (cleaned === \"\") {\n      return { value: 0, warning: null };\n    }\n\n    // Normalise European-style \"1.234,56\" → \"1234.56\".\n    if (cleaned.includes(\",\") && !cleaned.includes(\".\")) {\n      cleaned = cleaned.replace(\",\", \".\");\n    } else if (cleaned.includes(\".\") && cleaned.includes(\",\")) {\n      // \"1.234,56\" → remove dot-thousands separator, then comma→dot.\n      cleaned = cleaned.replace(/\\./g, \"\").replace(\",\", \".\");\n    }\n\n    const num = Number(cleaned);\n    if (!isFinite(num)) {\n      return { value: 0, warning: `Invalid numeric string: \"${raw}\"` };\n    }\n    return { value: num, warning: null };\n  }\n\n  // Date objects from spreadsheet cells that were mistakenly read as dates.\n  if (raw instanceof Date) {\n    return { value: 0, warning: `Date object where number expected: ${raw}` };\n  }\n\n  return { value: 0, warning: `Unsupported numeric type (${typeof raw}): ${raw}` };\n}\n\n/**\n * Return a trimmed string, or empty string if the value is nullish.\n * @param {*} raw\n * @returns {string}\n */\nfunction parseStringValue(raw) {\n  if (raw === null || raw === undefined) return \"\";\n  if (typeof raw === \"string\") return raw.trim();\n  if (typeof raw === \"number\") return String(raw);\n  if (raw instanceof Date) return String(raw);\n  return String(raw).trim();\n}\n\n/**\n * Check whether a row is completely empty (all cells null / undefined / \"\").\n * @param {Array} row\n * @returns {boolean}\n */\nfunction isRowEmpty(row) {\n  if (!Array.isArray(row) || row.length === 0) return true;\n  return row.every(\n    (cell) => cell === null || cell === undefined || cell === \"\"\n  );\n}\n\n// ---------------------------------------------------------------------------\n// Main parser\n// ---------------------------------------------------------------------------\n\n/**\n * Parse the historical financial workbook and extract structured records.\n *\n * @param {Object} workbookData — `{ \"financas\": [[row], [row], …] }`\n * @returns {{\n *   rows: Array<{\n *     situacao: string,\n *     fornecedor: string,\n *     previsao: string | null,\n *     ultimoPagamento: string | null,\n *     valorLiquido: number,\n *     categoria: string,\n *     contaCorrente: string,\n *     vencimento: string | null,\n *   }>,\n *   summary: {\n *     totalRecords: number,\n *     periodStart: string | null,\n *     periodEnd: string | null,\n *     totalPago: number,\n *     totalAtrasado: number,\n *   },\n *   warnings: string[],\n * }}\n */\nfunction parseHistoryWorkbook(workbookData) {\n  const rows = [];\n  const warnings = [];\n\n  // -- Resolve the sheet data ------------------------------------------------\n  const sheet = workbookData && workbookData[\"financas\"];\n  if (!Array.isArray(sheet)) {\n    warnings.push(\n      'Sheet \"financas\" not found or is not an array in the workbook data.'\n    );\n    return {\n      rows,\n      summary: {\n        totalRecords: 0,\n        periodStart: null,\n        periodEnd: null,\n        totalPago: 0,\n        totalAtrasado: 0,\n      },\n      warnings,\n    };\n  }\n\n  // -- Running accumulators for the summary ---------------------------------\n  let totalPago = 0;\n  let totalAtrasado = 0;\n  let periodStart = null;   // earliest valid date seen\n  let periodEnd = null;     // latest  valid date seen\n\n  // -- Iterate data rows (skip the header rows) -----------------------------\n  const dataRows = sheet.slice(HEADER_ROW_COUNT);\n\n  for (let i = 0; i < dataRows.length; i++) {\n    const raw = dataRows[i];\n    const rowNum = i + HEADER_ROW_COUNT + 1; // 1-based row number for messages\n\n    // Skip entirely empty rows.\n    if (isRowEmpty(raw)) {\n      continue;\n    }\n\n    // -- Parse each field ----------------------------------------------------\n\n    const situacao = parseStringValue(raw[COL.SITUACAO]);\n    const fornecedor = parseStringValue(raw[COL.FORNECEDOR]);\n\n    const { iso: previsao, warning: wPrevisao } = parseDateValue(raw[COL.PREVISAO]);\n    if (wPrevisao) warnings.push(`Row ${rowNum} – Previsão: ${wPrevisao}`);\n\n    const { iso: ultimoPagamento, warning: wUltimo } = parseDateValue(\n      raw[COL.ULTIMO_PAGAMENTO]\n    );\n    if (wUltimo) warnings.push(`Row ${rowNum} – Último Pagamento: ${wUltimo}`);\n\n    const { value: valorLiquido, warning: wValor } = parseNumericValue(\n      raw[COL.VALOR_LIQUIDO]\n    );\n    if (wValor) warnings.push(`Row ${rowNum} – Valor Líquido: ${wValor}`);\n\n    const categoria = parseStringValue(raw[COL.CATEGORIA]);\n    const contaCorrente = parseStringValue(raw[COL.CONTA_CORRENTE]);\n\n    const { iso: vencimento, warning: wVenc } = parseDateValue(raw[COL.VENCIMENTO]);\n    if (wVenc) warnings.push(`Row ${rowNum} – Vencimento: ${wVenc}`);\n\n    // -- Validation warnings -------------------------------------------------\n\n    if (situacao === \"\") {\n      warnings.push(\n        `Row ${rowNum} – Situação is empty (required field).`\n      );\n    }\n\n    if (valorLiquido === 0 && raw[COL.VALOR_LIQUIDO] !== \"\" &&\n        raw[COL.VALOR_LIQUIDO] !== null && raw[COL.VALOR_LIQUIDO] !== undefined) {\n      // Value parsed to 0 but the raw cell was not empty — likely a format issue.\n      warnings.push(\n        `Row ${rowNum} – Valor Líquido is 0 but the cell is not empty (raw: \"${raw[COL.VALOR_LIQUIDO]}\").`\n      );\n    }\n\n    // -- Track summary accumulators ------------------------------------------\n\n    const normalisedSituacao = situacao.toUpperCase();\n\n    if (normalisedSituacao === \"PAGO\") {\n      totalPago += valorLiquido;\n    }\n    if (normalisedSituacao === \"ATRASADO\") {\n      totalAtrasado += valorLiquido;\n    }\n\n    // Update period boundaries using any valid date from the row.\n    const validDates = [previsao, ultimoPagamento, vencimento].filter(\n      (d) => d !== null\n    );\n    for (const d of validDates) {\n      if (periodStart === null || d < periodStart) {\n        periodStart = d;\n      }\n      if (periodEnd === null || d > periodEnd) {\n        periodEnd = d;\n      }\n    }\n\n    // -- Build the parsed row ------------------------------------------------\n\n    rows.push({\n      situacao,\n      fornecedor,\n      previsao,\n      ultimoPagamento,\n      valorLiquido,\n      categoria,\n      contaCorrente,\n      vencimento,\n    });\n  }\n\n  // -- Assemble the result ---------------------------------------------------\n  const summary = {\n    totalRecords: rows.length,\n    periodStart,\n    periodEnd,\n    totalPago: Math.round(totalPago * 100) / 100,       // avoid floating-point drift\n    totalAtrasado: Math.round(totalAtrasado * 100) / 100,\n  };\n\n  return { rows, summary, warnings };\n}\n\n// ---------------------------------------------------------------------------\n// Exports\n// ---------------------------------------------------------------------------\n\n\n// ===== NORMALIZER =====\n// =============================================================================\n// PRN Reporting - Normalizer Module\n// =============================================================================\n// Receives raw parsed data from parser-daily.js and parser-history.js and\n// normalizes it into a unified, canonical structure for downstream reporting.\n//\n// Responsibilities:\n//   - Normalize entity names (PRN MATRIZ, PRN LOCAÇÃO, PRN HOLDING)\n//   - Normalize bank account names (Omie, Unicreds, BB, Bradesco, etc.)\n//   - Normalize expense/receipt categories (aluguel, salarios, impostos, etc.)\n//   - Normalize payment status strings (pago, atrasado, pendente, etc.)\n//   - Filter recebido records to only PRN entities\n//   - Generate warnings for unresolvable aliases (severity: \"low\")\n//   - Coerce dates to ISO strings, values to numbers, trim all text\n//   - Merge warnings from all parsers plus normalization warnings\n// =============================================================================\n\n'use strict';\n\n// =============================================================================\n// Alias Maps\n// =============================================================================\n\n// Maps every known entity name variant to its canonical code.\n// Keys are lower-cased, trimmed for case/accent-insensitive lookup.\nconst ENTITY_ALIASES = {\n  'prn matriz': 'prn_matriz',\n  'prn': 'prn_matriz',\n  'prn diagnosticos': 'prn_matriz',\n  'prn diagnosticos imagem': 'prn_matriz',\n  'prn diagnósticos': 'prn_matriz',\n  'prn diagnósticos imagem': 'prn_matriz',\n  'prn locação': 'prn_locacao',\n  'prn locaçao': 'prn_locacao',\n  'prn locacao': 'prn_locacao',\n  'prn locações': 'prn_locacao',\n  'prn locacões': 'prn_locacao',\n  'prn holding': 'prn_holding',\n  'holding prn': 'prn_holding',\n};\n\n// Canonical display labels keyed by canonical entity code.\nconst ENTITY_LABELS = {\n  prn_matriz: 'PRN MATRIZ',\n  prn_locacao: 'PRN LOCAÇÃO',\n  prn_holding: 'PRN HOLDING',\n};\n\n// Maps every known bank account name variant to its canonical code.\nconst BANK_ALIASES = {\n  'omie.cash': 'omie_cash',\n  'omie cash': 'omie_cash',\n  'omie': 'omie_cash',\n  'centrais unicreds itajaí': 'centrais_unicreds_itajai',\n  'centrais unicreds itajai': 'centrais_unicreds_itajai',\n  'centrais unicreds': 'centrais_unicreds_itajai',\n  'unicreds itajaí': 'centrais_unicreds_itajai',\n  'unicreds itajai': 'centrais_unicreds_itajai',\n  'centrais unicreds ijuí': 'centrais_unicreds_ijui',\n  'centrais unicreds ijui': 'centrais_unicreds_ijui',\n  'unicreds ijuí': 'centrais_unicreds_ijui',\n  'unicreds ijui': 'centrais_unicreds_ijui',\n  'banco do brasil': 'banco_do_brasil',\n  'bb': 'banco_do_brasil',\n  'bradesco': 'bradesco',\n  'santander': 'santander',\n  'caixa econômica': 'caixa',\n  'caixa economica': 'caixa',\n  'caixa': 'caixa',\n  'itau': 'itau',\n  'itú': 'itau',\n  'itu': 'itau',\n  'sicredi': 'sicredi',\n};\n\n// Canonical display labels keyed by canonical bank code.\nconst BANK_LABELS = {\n  omie_cash: 'Omie Cash',\n  centrais_unicreds_itajai: 'Centrais Unicreds Itajaí',\n  centrais_unicreds_ijui: 'Centrais Unicreds Ijuí',\n  banco_do_brasil: 'Banco do Brasil',\n  bradesco: 'Bradesco',\n  santander: 'Santander',\n  caixa: 'Caixa Econômica',\n  itau: 'Itaú',\n  sicredi: 'Sicredi',\n};\n\n// Maps every known category name variant to its canonical key.\n// Covers common Brazilian Portuguese variations including typos.\nconst CATEGORY_ALIASES = {\n  // Aluguel\n  'aluguel': 'aluguel',\n  'alugueis': 'aluguel',\n  'aluguéis': 'aluguel',\n  'alugáreis': 'aluguel',\n  'locacao': 'aluguel',\n  'locação': 'aluguel',\n  'condominio': 'aluguel',\n  'condomínio': 'aluguel',\n  // Energia\n  'energia': 'energia',\n  'energia eletrica': 'energia',\n  'energia elétrica': 'energia',\n  'luz': 'energia',\n  'conta de luz': 'energia',\n  'celesc': 'energia',\n  // Telefonia / Internet\n  'telefonia': 'telefonia',\n  'telefone': 'telefonia',\n  'telefones': 'telefonia',\n  'internet': 'telefonia',\n  'celular': 'telefonia',\n  'celulares': 'telefonia',\n  'vivo': 'telefonia',\n  'claro': 'telefonia',\n  'tim': 'telefonia',\n  'oi': 'telefonia',\n  'operadora': 'telefonia',\n  // Salários\n  'salarios': 'salarios',\n  'salários': 'salarios',\n  'salario': 'salarios',\n  'salário': 'salarios',\n  'folha de pagamento': 'salarios',\n  'folha': 'salarios',\n  'fgts': 'salarios',\n  'inss': 'salarios',\n  'rescisao': 'salarios',\n  'rescisão': 'salarios',\n  '13o salario': 'salarios',\n  'decimo terceiro': 'salarios',\n  'ferias': 'salarios',\n  'férias': 'salarios',\n  'beneficios': 'salarios',\n  'benefícios': 'salarios',\n  'vale transporte': 'salarios',\n  'vale refeicao': 'salarios',\n  'vale alimentacao': 'salarios',\n  'vale alimentação': 'salarios',\n  'plano de saude': 'salarios',\n  'plano de saúde': 'salarios',\n  // Impostos\n  'impostos': 'impostos',\n  'imposto': 'impostos',\n  'tributos': 'impostos',\n  'tributo': 'impostos',\n  'taxas': 'impostos',\n  'irpj': 'impostos',\n  'csll': 'impostos',\n  'pis': 'impostos',\n  'cofins': 'impostos',\n  'icms': 'impostos',\n  'iss': 'impostos',\n  'ipva': 'impostos',\n  'iptu': 'impostos',\n  'darf': 'impostos',\n  'guia de recolhimento': 'impostos',\n  'simples nacional': 'impostos',\n  'das': 'impostos',\n  // Insumos\n  'insumos': 'insumos',\n  'insumo': 'insumos',\n  'materiais': 'insumos',\n  'material': 'insumos',\n  'insumos medicos': 'insumos',\n  'insumos médicos': 'insumos',\n  'suprimentos': 'insumos',\n  'descartaveis': 'insumos',\n  'descartáveis': 'insumos',\n  'consumiveis': 'insumos',\n  'consumíveis': 'insumos',\n  'filmes': 'insumos',\n  'reagentes': 'insumos',\n  'contraste': 'insumos',\n  // Manutenção\n  'manutencao': 'manutencao',\n  'manutenção': 'manutencao',\n  'manutenção preventiva': 'manutencao',\n  'manutencao preventiva': 'manutencao',\n  'manutenção corretiva': 'manutencao',\n  'manutencao corretiva': 'manutencao',\n  'conserto': 'manutencao',\n  'reparo': 'manutencao',\n  'reparos': 'manutencao',\n  'assistencia tecnica': 'manutencao',\n  'assistência técnica': 'manutencao',\n  'conservacao': 'manutencao',\n  'conservação': 'manutencao',\n  // Software / TI\n  'software': 'software',\n  'softwares': 'software',\n  'sistema': 'software',\n  'sistemas': 'software',\n  'licenca': 'software',\n  'licença': 'software',\n  'licencas': 'software',\n  'licenças': 'software',\n  'assinatura': 'software',\n  'assinaturas': 'software',\n  'saas': 'software',\n  'ti': 'software',\n  'tecnologia': 'software',\n  'tecnologia da informacao': 'software',\n  'tecnologia da informação': 'software',\n  'cloud': 'software',\n  'hosting': 'software',\n  'hospedagem': 'software',\n  'dominio': 'software',\n  'domínio': 'software',\n  // Marketing\n  'marketing': 'marketing',\n  'publicidade': 'marketing',\n  'propaganda': 'marketing',\n  'divulgacao': 'marketing',\n  'divulgação': 'marketing',\n  'anuncio': 'marketing',\n  'anúncio': 'marketing',\n  'google ads': 'marketing',\n  'facebook ads': 'marketing',\n  'midia social': 'marketing',\n  'mídia social': 'marketing',\n  'redes sociais': 'marketing',\n  'site': 'marketing',\n  'website': 'marketing',\n  // Transporte\n  'transporte': 'transporte',\n  'transportes': 'transporte',\n  'combustivel': 'transporte',\n  'combustível': 'transporte',\n  'combustiveis': 'transporte',\n  'combustíveis': 'transporte',\n  'gasolina': 'transporte',\n  'etanol': 'transporte',\n  'diesel': 'transporte',\n  'pedagio': 'transporte',\n  'pedágio': 'transporte',\n  'estacionamento': 'transporte',\n  'frota': 'transporte',\n  'veiculo': 'transporte',\n  'veículo': 'transporte',\n  'uber': 'transporte',\n  '99': 'transporte',\n  'corrida': 'transporte',\n  // Seguros\n  'seguros': 'seguros',\n  'seguro': 'seguros',\n  'apolice': 'seguros',\n  'apólice': 'seguros',\n  'seguro de vida': 'seguros',\n  'seguro patrimonial': 'seguros',\n  'seguro empresarial': 'seguros',\n  'responsabilidade civil': 'seguros',\n  // Profissionais\n  'profissionais': 'profissionais',\n  'profissional': 'profissionais',\n  'terceirizados': 'profissionais',\n  'terceirizado': 'profissionais',\n  'consultoria': 'profissionais',\n  'consultor': 'profissionais',\n  'auditoria': 'profissionais',\n  'contabilidade': 'profissionais',\n  'advocacia': 'profissionais',\n  'juridico': 'profissionais',\n  'jurídico': 'profissionais',\n  'honorarios': 'profissionais',\n  'honorários': 'profissionais',\n  'escritorio contabil': 'profissionais',\n  'escritório contábil': 'profissionais',\n  // Utilities (genérico)\n  'utilities': 'utilities',\n  'utilidades': 'utilities',\n  'servicos gerais': 'utilities',\n  'serviços gerais': 'utilities',\n  'diversos': 'utilities',\n  'outros': 'utilities',\n  'geral': 'utilities',\n};\n\n// Canonical display labels keyed by canonical category code.\nconst CATEGORY_LABELS = {\n  aluguel: 'Aluguel',\n  energia: 'Energia',\n  telefonia: 'Telefonia',\n  salarios: 'Salários',\n  impostos: 'Impostos',\n  insumos: 'Insumos',\n  manutencao: 'Manutenção',\n  software: 'Software',\n  marketing: 'Marketing',\n  transporte: 'Transporte',\n  seguros: 'Seguros',\n  profissionais: 'Profissionais',\n  utilities: 'Utilities',\n};\n\n// Maps every known payment status variant to its canonical code.\nconst STATUS_ALIASES = {\n  'pago': 'pago',\n  'paga': 'pago',\n  'pagos': 'pago',\n  'pagas': 'pago',\n  'liquidado': 'pago',\n  'liquidada': 'pago',\n  'quitado': 'pago',\n  'quitada': 'pago',\n  'baixado': 'pago',\n  'atrasado': 'atrasado',\n  'atrasada': 'atrasado',\n  'em atraso': 'atrasado',\n  'vencido': 'atrasado',\n  'vencida': 'atrasado',\n  'inadimplente': 'atrasado',\n  'pago parcialmente': 'pago_parcialmente',\n  'paga parcialmente': 'pago_parcialmente',\n  'pagamento parcial': 'pago_parcialmente',\n  'parcial': 'pago_parcialmente',\n  'pendente': 'pendente',\n  'pendente de pagamento': 'pendente',\n  'a pagar': 'pendente',\n  'aberto': 'pendente',\n  'em aberto': 'pendente',\n  'agendado': 'pendente',\n  'cancelado': 'cancelado',\n  'cancelada': 'cancelado',\n  'estornado': 'cancelado',\n  'estornada': 'cancelado',\n  'excluido': 'cancelado',\n  'excluído': 'cancelado',\n};\n\n// Canonical display labels keyed by canonical status code.\nconst STATUS_LABELS = {\n  pago: 'Pago',\n  atrasado: 'Atrasado',\n  pago_parcialmente: 'Pago Parcialmente',\n  pendente: 'Pendente',\n  cancelado: 'Cancelado',\n};\n\n// Set of known entity codes for filtering recebido records.\nconst PRN_ENTITY_CODES = new Set([\n  'prn_matriz',\n  'prn_locacao',\n  'prn_holding',\n]);\n\n// =============================================================================\n// Lookup Helpers\n// =============================================================================\n\n/**\n * Looks up a value in an alias map using case/accent-insensitive matching.\n * Returns the canonical code, or the original input trimmed if no match.\n */\nfunction resolveAlias(raw, aliasMap) {\n  if (!raw || typeof raw !== 'string') return null;\n  const key = raw.trim().toLowerCase();\n  return aliasMap[key] || null;\n}\n\n/**\n * Normalizes a bank account name: returns the canonical code.\n */\nfunction normalizeBank(raw) {\n  return resolveAlias(raw, BANK_ALIASES);\n}\n\n/**\n * Normalizes an entity name: returns the canonical code.\n */\nfunction normalizeEntity(raw) {\n  return resolveAlias(raw, ENTITY_ALIASES);\n}\n\n/**\n * Normalizes a category name: returns the canonical code.\n */\nfunction normalizeCategory(raw) {\n  return resolveAlias(raw, CATEGORY_ALIASES);\n}\n\n/**\n * Normalizes a payment status: returns the canonical code.\n */\nfunction normalizeStatus(raw) {\n  return resolveAlias(raw, STATUS_ALIASES);\n}\n\n// =============================================================================\n// Date Helpers\n// =============================================================================\n\n/**\n * Attempts to parse a date value into an ISO string.\n * Accepts Date objects, ISO strings, or Brazilian \"dd/mm/yyyy\" strings.\n * Returns null if unparseable.\n */\nfunction toISODate(value) {\n  if (!value) return null;\n  if (value instanceof Date) {\n    return isNaN(value.getTime()) ? null : value.toISOString();\n  }\n  if (typeof value !== 'string') return null;\n\n  const trimmed = value.trim();\n  if (!trimmed) return null;\n\n  // Try native ISO parse first\n  const native = new Date(trimmed);\n  if (!isNaN(native.getTime())) {\n    return native.toISOString();\n  }\n\n  // Try Brazilian dd/mm/yyyy or dd/mm/yyyy hh:mm\n  const brMatch = trimmed.match(/^(\\d{1,2})[/\\-.](\\d{1,2})[/\\-.](\\d{4})/);\n  if (brMatch) {\n    const [, day, month, year] = brMatch;\n    const parsed = new Date(Number(year), Number(month) - 1, Number(day));\n    if (!isNaN(parsed.getTime())) {\n      return parsed.toISOString();\n    }\n  }\n\n  return null;\n}\n\n// =============================================================================\n// Value Helpers\n// =============================================================================\n\n/**\n * Coerces a value to a number. Handles string numbers with common\n * Brazilian formatting (dot as thousands separator, comma as decimal).\n * Returns NaN if unparseable.\n */\nfunction toNumber(value) {\n  if (value === null || value === undefined || value === '') return NaN;\n  if (typeof value === 'number') return value;\n\n  if (typeof value === 'string') {\n    // Remove R$ prefix, spaces, and common currency symbols\n    let cleaned = value\n      .replace(/[R$\\s]/g, '')\n      .replace(/\\.(?=\\d{3})/g, '')   // remove thousands separators (dots)\n      .replace(/,/g, '.');            // decimal comma -> dot\n\n    // Handle edge case where cleaned string ends with a dot\n    cleaned = cleaned.replace(/\\.$/, '');\n\n    const parsed = Number(cleaned);\n    return isNaN(parsed) ? NaN : parsed;\n  }\n\n  return NaN;\n}\n\n/**\n * Trims a string value, or returns null for falsy input.\n */\nfunction trimText(value) {\n  if (!value || typeof value !== 'string') return null;\n  return value.trim();\n}\n\n// =============================================================================\n// Warning Helpers\n// =============================================================================\n\n/**\n * Creates a normalization warning object.\n */\nfunction makeWarning(source, field, rawValue, message) {\n  return {\n    severity: 'low',\n    source: `normalizer:${source}`,\n    field,\n    raw: rawValue ?? null,\n    message,\n  };\n}\n\n// =============================================================================\n// Build Entity Summaries\n// =============================================================================\n\n/**\n * Builds the entities array from the daily resumo data.\n * Each entity gets its bank balance, applications, expenses total,\n * and received total from the parsed summary.\n */\nfunction buildEntities(resumo, warnings) {\n  const entityCodes = ['prn_matriz', 'prn_locacao', 'prn_holding'];\n  const entities = [];\n\n  for (const code of entityCodes) {\n    const raw = resumo?.[code] || {};\n    const label = ENTITY_LABELS[code] || code;\n\n    entities.push({\n      code,\n      label,\n      saldoBancario: toNumber(raw.saldos) || 0,\n      saldoAplicacoes: toNumber(raw.aplicacoes) || 0,\n      despesas: toNumber(raw.despesas) || 0,\n      recebido: toNumber(raw.recebido) || 0,\n    });\n  }\n\n  return entities;\n}\n\n// =============================================================================\n// Normalize Expenses (Contas a Pagar)\n// =============================================================================\n\n/**\n * Normalizes the daily contas array into the canonical expense format.\n * Attempts to resolve entity, bank, and category from the raw record.\n */\nfunction normalizeExpenses(contas, warnings) {\n  if (!Array.isArray(contas)) return [];\n\n  return contas.map((item, idx) => {\n    const entity = normalizeEntity(item.empresa || item.entidade || item.favorecido);\n    const contaCorrenteRaw = trimText(item.contaCorrente || item.conta_corrente || item.banco);\n    const contaCorrente = normalizeBank(contaCorrenteRaw);\n    const categoriaRaw = trimText(item.categoria || item.categoria_descricao);\n    const categoria = normalizeCategory(categoriaRaw);\n\n    // Warn about unresolvable aliases\n    if (!entity && contaCorrenteRaw) {\n      // Only warn if there is context suggesting an entity was intended\n    }\n    if (contaCorrenteRaw && !contaCorrente) {\n      warnings.push(\n        makeWarning('expenses', 'contaCorrente', contaCorrenteRaw,\n          `Unknown bank alias \"${contaCorrenteRaw}\" at index ${idx}`)\n      );\n    }\n    if (categoriaRaw && !categoria) {\n      warnings.push(\n        makeWarning('expenses', 'categoria', categoriaRaw,\n          `Unknown category alias \"${categoriaRaw}\" at index ${idx}`)\n      );\n    }\n\n    return {\n      entity: entity || null,\n      vencimento: toISODate(item.vencimento),\n      favorecido: trimText(item.favorecido) || trimText(item.fornecedor),\n      categoria,\n      categoriaOriginal: categoriaRaw,\n      departamento: trimText(item.departamento),\n      valor: toNumber(item.valor) || 0,\n      parcela: trimText(item.parcela),\n      contaCorrente: contaCorrente || null,\n      contaCorrenteOriginal: contaCorrenteRaw,\n      observacao: trimText(item.observacao) || trimText(item.obs) || trimText(item.descricao),\n    };\n  });\n}\n\n// =============================================================================\n// Normalize Receipts (Recebido)\n// =============================================================================\n\n/**\n * Normalizes the daily recebido array.\n * Filters to only records belonging to PRN entities.\n */\nfunction normalizeReceipts(recebido, warnings) {\n  if (!Array.isArray(recebido)) return [];\n\n  const filtered = recebido.filter((item) => {\n    const empresa = trimText(item.empresa) || '';\n    const code = normalizeEntity(empresa);\n\n    if (code && PRN_ENTITY_CODES.has(code)) {\n      return true;\n    }\n\n    // If isPrn flag is explicitly set, include it regardless of entity name\n    if (item.isPrn === true || item.isPrn === 'true' || item.isPrn === 1) {\n      return true;\n    }\n\n    return false;\n  });\n\n  return filtered.map((item, idx) => {\n    const empresa = trimText(item.empresa) || '';\n    const entity = normalizeEntity(empresa) || null;\n    const contaCorrenteRaw = trimText(item.contaCorrente || item.conta_corrente || item.banco);\n    const contaCorrente = normalizeBank(contaCorrenteRaw);\n    const categoriaRaw = trimText(item.categoria);\n\n    if (contaCorrenteRaw && !contaCorrente) {\n      warnings.push(\n        makeWarning('receipts', 'contaCorrente', contaCorrenteRaw,\n          `Unknown bank alias \"${contaCorrenteRaw}\" at index ${idx}`)\n      );\n    }\n\n    return {\n      entity,\n      data: toISODate(item.data),\n      descricao: trimText(item.descricao),\n      contaCorrente: contaCorrente || null,\n      contaCorrenteOriginal: contaCorrenteRaw,\n      valor: toNumber(item.valor) || 0,\n      categoria: normalizeCategory(categoriaRaw),\n      categoriaOriginal: categoriaRaw,\n      conciliado: item.conciliado === true || item.conciliado === 'true' || item.conciliado === 1,\n    };\n  });\n}\n\n// =============================================================================\n// Build Balances\n// =============================================================================\n\n/**\n * Builds the balances array from entity summaries.\n * Each entity's saldoBancario is attributed to the \"default\" bank group.\n */\nfunction buildBalances(entities) {\n  const balances = [];\n\n  for (const entity of entities) {\n    // If the entity has bank-level breakdowns in resumo, use those.\n    // Otherwise, report saldoBancario as a single entry.\n    if (entity.saldoBancario !== 0 || entity.saldoAplicacoes !== 0) {\n      balances.push({\n        entity: entity.code,\n        contaCorrente: 'total',\n        saldo: entity.saldoBancario + entity.saldoAplicacoes,\n      });\n    }\n  }\n\n  return balances;\n}\n\n// =============================================================================\n// Normalize History\n// =============================================================================\n\n/**\n * Normalizes the history rows and builds a summary.\n */\nfunction normalizeHistory(history) {\n  if (!history || !history.rows) {\n    return {\n      rows: [],\n      summary: {\n        totalRecords: 0,\n        periodStart: null,\n        periodEnd: null,\n        totalPago: 0,\n        totalAtrasado: 0,\n      },\n    };\n  }\n\n  const normalizedRows = history.rows.map((row) => {\n    const contaCorrenteRaw = trimText(row.contaCorrente || row.conta_corrente || row.banco);\n    const contaCorrente = normalizeBank(contaCorrenteRaw);\n    const categoriaRaw = trimText(row.categoria);\n\n    return {\n      situacao: normalizeStatus(row.situacao || row.status) || trimText(row.situacao),\n      situacaoOriginal: trimText(row.situacao) || trimText(row.status),\n      fornecedor: trimText(row.fornecedor) || trimText(row.favorecido),\n      previsao: toISODate(row.previsao),\n      ultimoPagamento: toISODate(row.ultimoPagamento || row.ultimo_pagamento),\n      valorLiquido: toNumber(row.valorLiquido || row.valor_liquido || row.valor) || 0,\n      categoria: normalizeCategory(categoriaRaw),\n      categoriaOriginal: categoriaRaw,\n      contaCorrente: contaCorrente || null,\n      contaCorrenteOriginal: contaCorrenteRaw,\n      vencimento: toISODate(row.vencimento),\n    };\n  });\n\n  // Build summary by aggregating normalized rows\n  let totalPago = 0;\n  let totalAtrasado = 0;\n  let periodStart = null;\n  let periodEnd = null;\n\n  for (const row of normalizedRows) {\n    const situacao = row.situacao;\n    if (situacao === 'pago' || situacao === 'pago_parcialmente') {\n      totalPago += row.valorLiquido;\n    }\n    if (situacao === 'atrasado') {\n      totalAtrasado += row.valorLiquido;\n    }\n\n    const venc = row.vencimento;\n    if (venc) {\n      if (!periodStart || venc < periodStart) periodStart = venc;\n      if (!periodEnd || venc > periodEnd) periodEnd = venc;\n    }\n  }\n\n  return {\n    rows: normalizedRows,\n    summary: {\n      totalRecords: normalizedRows.length,\n      periodStart,\n      periodEnd,\n      totalPago: Math.round(totalPago * 100) / 100,\n      totalAtrasado: Math.round(totalAtrasado * 100) / 100,\n    },\n  };\n}\n\n// =============================================================================\n// Main Normalizer Function\n// =============================================================================\n\n/**\n * Normalizes raw parsed data from parser-daily.js and parser-history.js.\n *\n * @param {Object} rawData - Raw parsed data with `daily` and `history` keys.\n * @returns {Object} Normalized data with entities, expenses, receipts, balances,\n *                   history, and warnings.\n */\nfunction normalizeData(rawData) {\n  const warnings = [];\n\n  // Collect warnings from both parsers if present\n  const dailyWarnings = rawData?.daily?.warnings || [];\n  const historyWarnings = rawData?.history?.warnings || [];\n\n  for (const w of dailyWarnings) {\n    warnings.push({\n      severity: w.severity || 'low',\n      source: w.source || 'parser:daily',\n      field: w.field || null,\n      raw: w.raw ?? null,\n      message: w.message || String(w),\n    });\n  }\n\n  for (const w of historyWarnings) {\n    warnings.push({\n      severity: w.severity || 'low',\n      source: w.source || 'parser:history',\n      field: w.field || null,\n      raw: w.raw ?? null,\n      message: w.message || String(w),\n    });\n  }\n\n  // Build entities from daily resumo\n  const entities = buildEntities(rawData?.daily?.resumo, warnings);\n\n  // Normalize expenses (contas a pagar)\n  const expenses = normalizeExpenses(rawData?.daily?.contas, warnings);\n\n  // Normalize receipts (recebido) - filtered to PRN entities only\n  const receipts = normalizeReceipts(rawData?.daily?.recebido, warnings);\n\n  // Build balances from entities\n  const balances = buildBalances(entities);\n\n  // Normalize history rows and summary\n  const history = normalizeHistory(rawData?.history);\n\n  return {\n    entities,\n    expenses,\n    receipts,\n    balances,\n    history,\n    warnings,\n  };\n}\n\n// =============================================================================\n// Exports\n// =============================================================================\n\n\n// ===== CALCULATOR =====\n/**\n * calculator.js - Financial Calculation Engine for PRN Reporting\n *\n * Receives normalized data from normalizer.js and performs all financial\n * calculations needed for the n8n reporting workflow.\n *\n * Input: normalizedData object (see normalizer.js output schema)\n * Output: { summary, topDespesas, despesasPorCategoria, recebidosPorConta, historyAnalysis, warnings }\n */\n\n// --- Helpers ---\n\n/**\n * Rounds a numeric value to 2 decimal places.\n * Uses a multiplier trick to avoid floating-point precision issues.\n * @param {number} value\n * @returns {number}\n */\nfunction round2(value) {\n  if (typeof value !== 'number' || isNaN(value)) return 0;\n  return Math.round((value + Number.EPSILON) * 100) / 100;\n}\n\n/**\n * Safely reads a numeric property, defaulting to 0 if missing or non-numeric.\n * @param {object} obj\n * @param {string} prop\n * @returns {number}\n */\nfunction numProp(obj, prop) {\n  const raw = obj[prop];\n  if (typeof raw === 'number' && !isNaN(raw)) return raw;\n  if (typeof raw === 'string') {\n    const parsed = parseFloat(raw.replace(/[^\\d.,-]/g, '').replace(',', '.'));\n    return isNaN(parsed) ? 0 : parsed;\n  }\n  return 0;\n}\n\n/**\n * Groups an array of objects by a given key, then reduces with a custom\n * accumulator function to produce { [key]: accumulated }.\n *\n * @param {Array} items       - Array of row objects.\n * @param {string} groupKey   - Property name to group by.\n * @param {string} sumKey     - Property name whose numeric values are summed.\n * @returns {Object}          - { groupValue: { total, count } }\n */\nfunction groupAndSum(items, groupKey, sumKey) {\n  const groups = {};\n\n  for (const item of items) {\n    const key = String(item[groupKey] || 'Indefinido').trim();\n    const value = round2(numProp(item, sumKey));\n\n    if (!groups[key]) {\n      groups[key] = { total: 0, count: 0 };\n    }\n    groups[key].total = round2(groups[key].total + value);\n    groups[key].count += 1;\n  }\n\n  return groups;\n}\n\n/**\n * Converts a grouped result object into a sorted array.\n *\n * @param {Object}  groups  - Output of groupAndSum().\n * @param {boolean} desc    - Sort descending when true.\n * @returns {Array<{ key: string, total: number, count: number }>}\n */\nfunction groupedToSortedArray(groups, desc = true) {\n  return Object.entries(groups)\n    .map(([key, data]) => ({ key, ...data }))\n    .sort((a, b) => (desc ? b.total - a.total : a.total - b.total));\n}\n\n// --- Main entry point ---\n\n/**\n * Performs all financial calculations on normalized PRN data.\n *\n * @param {object} normalizedData  - The full normalized payload from normalizer.js.\n * @returns {{ summary, topDespesas, despesasPorCategoria, recebidosPorConta, historyAnalysis, warnings }}\n */\nfunction calculateFinancials(normalizedData) {\n  const warnings = [];\n\n  // ------------------------------------------------------------------\n  // 1. Defensive defaults – ensure every expected section exists\n  // ------------------------------------------------------------------\n  const entities  = Array.isArray(normalizedData.entities)  ? normalizedData.entities  : [];\n  const expenses  = Array.isArray(normalizedData.expenses)  ? normalizedData.expenses  : [];\n  const receipts  = Array.isArray(normalizedData.receipts)  ? normalizedData.receipts  : [];\n  const balances  = Array.isArray(normalizedData.balances)  ? normalizedData.balances  : [];\n  const history   = normalizedData.history || {};\n  const historyRows   = Array.isArray(history.rows)          ? history.rows      : [];\n  const historySummary = history.summary || {};\n\n  // ------------------------------------------------------------------\n  // 2. Summary calculations\n  // ------------------------------------------------------------------\n\n  // Sum all expense valores across every entity\n  const totalDespesas = round2(\n    expenses.reduce((acc, e) => acc + numProp(e, 'valor'), 0)\n  );\n\n  // Sum all receipt valores across every entity\n  const totalRecebido = round2(\n    receipts.reduce((acc, r) => acc + numProp(r, 'valor'), 0)\n  );\n\n  // Aggregate bank and investment balances from entity metadata\n  const saldoBancario = round2(\n    entities.reduce((acc, e) => acc + numProp(e, 'saldoBancario'), 0)\n  );\n  const saldoAplicacoes = round2(\n    entities.reduce((acc, e) => acc + numProp(e, 'saldoAplicacoes'), 0)\n  );\n\n  // Placeholder – future versions will compute the required transfer amount\n  const transferenciaNecessaria = 0;\n\n  const summary = {\n    totalDespesas,\n    totalRecebido,\n    saldoBancario,\n    saldoAplicacoes,\n    transferenciaNecessaria,\n  };\n\n  // ------------------------------------------------------------------\n  // 3. Top 10 despesas by valor (descending)\n  // ------------------------------------------------------------------\n  const topDespesas = [...expenses]\n    .sort((a, b) => numProp(b, 'valor') - numProp(a, 'valor'))\n    .slice(0, 10)\n    .map(e => ({\n      favorecido: e.favorecido || '',\n      categoria:  e.categoria  || '',\n      valor:      round2(numProp(e, 'valor')),\n      vencimento: e.vencimento || '',\n      entity:     e.entity     || '',\n    }));\n\n  // ------------------------------------------------------------------\n  // 4. Despesas grouped by categoria\n  // ------------------------------------------------------------------\n  const despesasPorCategoria = groupedToSortedArray(\n    groupAndSum(expenses, 'categoria', 'valor')\n  ).map(({ key, total, count }) => ({\n    categoria: key,\n    total,\n    count,\n  }));\n\n  // ------------------------------------------------------------------\n  // 5. Recebidos grouped by contaCorrente\n  // ------------------------------------------------------------------\n  const recebidosPorConta = groupedToSortedArray(\n    groupAndSum(receipts, 'contaCorrente', 'valor')\n  ).map(({ key, total, count }) => ({\n    contaCorrente: key,\n    total,\n    count,\n  }));\n\n  // ------------------------------------------------------------------\n  // 6. History analysis\n  // ------------------------------------------------------------------\n\n  // Pass-through scalar fields from the history summary\n  const totalRecords = historySummary.totalRecords || 0;\n  const periodStart  = historySummary.periodStart  || '';\n  const periodEnd    = historySummary.periodEnd    || '';\n\n  // totalPago – sum valorLiquido where situacao === \"pago\"\n  const totalPago = round2(\n    historyRows\n      .filter(r => (r.situacao || '').toLowerCase() === 'pago')\n      .reduce((acc, r) => acc + numProp(r, 'valorLiquido'), 0)\n  );\n\n  // totalAtrasado – sum valorLiquido where situacao === \"atrasado\"\n  const totalAtrasado = round2(\n    historyRows\n      .filter(r => (r.situacao || '').toLowerCase() === 'atrasado')\n      .reduce((acc, r) => acc + numProp(r, 'valorLiquido'), 0)\n  );\n\n  // topCategorias – group history rows by categoria, sum valorLiquido, top 10\n  const historyCatGroups = groupAndSum(historyRows, 'categoria', 'valorLiquido');\n  const topCategorias = groupedToSortedArray(historyCatGroups)\n    .slice(0, 10)\n    .map(({ key, total }) => ({ categoria: key, total }));\n\n  // topFornecedores – group history rows by fornecedor, sum valorLiquido, top 10\n  const historyForGroups = groupAndSum(historyRows, 'fornecedor', 'valorLiquido');\n  const topFornecedores = groupedToSortedArray(historyForGroups)\n    .slice(0, 10)\n    .map(({ key, total }) => ({ fornecedor: key, total }));\n\n  // distribuicaoContas – group history rows by contaCorrente, sum valorLiquido\n  const historyContaGroups = groupAndSum(historyRows, 'contaCorrente', 'valorLiquido');\n  const distribuicaoContas = groupedToSortedArray(historyContaGroups, false)\n    .map(({ key, total }) => ({ conta: key, total }));\n\n  const historyAnalysis = {\n    totalRecords,\n    periodStart,\n    periodEnd,\n    totalPago,\n    totalAtrasado,\n    topCategorias,\n    topFornecedores,\n    distribuicaoContas,\n  };\n\n  // ------------------------------------------------------------------\n  // 7. Warnings / alerts\n  // ------------------------------------------------------------------\n\n  // Warn if totalRecebido is more than 30% below totalDespesas\n  if (totalDespesas > 0) {\n    const ratio = totalRecebido / totalDespesas;\n    if (ratio < 0.70) {\n      const deficitPercent = round2((1 - ratio) * 100);\n      warnings.push(\n        `Receita significativamente inferior a despesas (${deficitPercent}% abaixo). ` +\n        `Recebido: R$ ${totalRecebido.toFixed(2)} | Despesas: R$ ${totalDespesas.toFixed(2)}`\n      );\n    }\n  }\n\n  // Warn if aggregate saldoBancario is negative\n  if (saldoBancario < 0) {\n    warnings.push(\n      `Saldo bancario total negativo: R$ ${saldoBancario.toFixed(2)}`\n    );\n  }\n\n  // Warn for each entity with a negative saldoBancario\n  for (const entity of entities) {\n    const entitySaldo = numProp(entity, 'saldoBancario');\n    if (entitySaldo < 0) {\n      warnings.push(\n        `Entidade \"${entity.label || entity.code}\" com saldo bancario negativo: R$ ${entitySaldo.toFixed(2)}`\n      );\n    }\n  }\n\n  // Carry forward any warnings that arrived with the input (idempotent merge)\n  if (Array.isArray(normalizedData.warnings)) {\n    for (const w of normalizedData.warnings) {\n      if (typeof w === 'string' && w.length > 0 && !warnings.includes(w)) {\n        warnings.push(w);\n      }\n    }\n  }\n\n  // ------------------------------------------------------------------\n  // 8. Return the complete result\n  // ------------------------------------------------------------------\n  return {\n    summary,\n    topDespesas,\n    despesasPorCategoria,\n    recebidosPorConta,\n    historyAnalysis,\n    warnings,\n  };\n}\n\n// Export for use in n8n (CommonJS) and ES module environments\n\n// ===== REPORT BUILDER =====\n/**\n * report-builder.js\n *\n * Monta o modelo final do relatório financeiro PRN a partir dos dados\n * normalizados e dos cálculos financeiros produzidos pelos módulos anteriores.\n *\n * Este módulo é consumido pelo html-renderer.js para gerar a página HTML final.\n *\n * Contrato de entrada:\n *   requestInfo: {\n *     requestId:            string  — identificador único da requisição (UUID)\n *     referenceDateUsed:    string  — data de referência no formato \"YYYY-MM-DD\"\n *     dailyFilename:        string  — nome do arquivo Excel diário processado\n *     historyFilename:      string  — nome do arquivo Excel histórico processado\n *     dailySheetsFound:    string[] — nomes das abas encontradas no arquivo diário\n *     historySheetsFound:  string[] — nomes das abas encontradas no arquivo histórico\n *   }\n *\n *   normalizedData: {\n *     entities: [ ... ],   — lista de entidades normalizadas (PRN MATRIZ, PRN LOCAÇÃO, etc.)\n *     expenses: [ ... ],   — lista de despesas normalizadas\n *     receipts: [ ... ],   — lista de recebidos normalizados\n *     balances: [ ... ],   — lista de saldos normalizados\n *     warnings: [ ... ]    — avisos produzidos durante a normalização\n *   }\n *\n *   financials: {\n *     totalDespesas:           number — soma de todas as despesas\n *     totalRecebido:           number — soma de todos os recebidos\n *     saldoBancario:           number — saldo total em contas bancárias\n *     saldoAplicacoes:         number — saldo total em aplicações financeiras\n *     transferenciaNecessaria: number — valor necessário de transferência entre contas\n *     historyAnalysis: {       object — análise consolidada do histórico\n *       totalRecords:    number\n *       totalPago:        number\n *       totalAtrasado:    number\n *       period:           { start: string, end: string }\n *       topCategorias:    [ { categoria: string, total: number, count: number } ]\n *       topFornecedores:  [ { fornecedor: string, total: number, count: number } ]\n *       distribuicaoContas:[ { conta: string, total: number, percentual: number } ]\n *     }\n *     warnings: [ ... ]    — avisos produzidos durante os cálculos financeiros\n *   }\n *\n * Retorno:\n *   Objeto completo do relatório seguindo o schemaVersion 1.\n */\n\n// ---------------------------------------------------------------------------\n// Helpers internos\n// ---------------------------------------------------------------------------\n\n/**\n * Normaliza um valor numérico para dois decimais.\n * Se o valor for null, undefined ou NaN, retorna 0.\n *\n * @param {*} value — valor a normalizar\n * @returns {number} valor numérico com duas casas decimais\n */\nfunction _normalizeNumber(value) {\n  if (value === null || value === undefined || Number.isNaN(value)) {\n    return 0;\n  }\n  const num = Number(value);\n  return Number.isFinite(num) ? parseFloat(num.toFixed(2)) : 0;\n}\n\n/**\n * Mescla duas listas de warnings em uma única lista, deduplicando por\n * combinação de \"code\" + \"message\" (case-insensitive).\n * Cada warning deve ter a estrutura: { code, severity, message, [context] }\n *\n * @param {Array} listA — primeira lista de warnings\n * @param {Array} listB — segunda lista de warnings\n * @returns {Array} lista mesclada sem duplicatas\n */\nfunction _mergeWarnings(listA, listB) {\n  const a = Array.isArray(listA) ? listA : [];\n  const b = Array.isArray(listB) ? listB : [];\n\n  const seen = new Set();\n  const merged = [];\n\n  for (const w of [...a, ...b]) {\n    if (!w || !w.message) continue;\n    const key = `${String(w.code || '').toLowerCase()}|${String(w.message).toLowerCase()}`;\n    if (seen.has(key)) continue;\n    seen.add(key);\n    merged.push({\n      code: String(w.code || 'UNKNOWN'),\n      severity: String(w.severity || 'info').toLowerCase(),\n      message: String(w.message),\n      context: w.context || undefined,\n      source: w.source || undefined,\n    });\n  }\n\n  return merged;\n}\n\n// ---------------------------------------------------------------------------\n// Função principal exportada\n// ---------------------------------------------------------------------------\n\n/**\n * Monta o modelo completo do relatório financeiro PRN.\n *\n * @param {object} requestInfo   — metadados da requisição\n * @param {object} normalizedData — dados normalizados pelo módulo normalizer\n * @param {object} financials     — cálculos financeiros pelo módulo financial-calculator\n * @returns {object} modelo do relatório (schemaVersion 1)\n */\nfunction buildReportModel(requestInfo, normalizedData, financials) {\n  const info = requestInfo || {};\n  const norm = normalizedData || {};\n  const fin = financials || {};\n\n  // -- Normaliza os campos obrigatórios do requestInfo --\n  const requestId = String(info.requestId || 'unknown');\n  const referenceDateUsed = String(info.referenceDateUsed || '');\n  const dailyFilename = String(info.dailyFilename || 'N/A');\n  const historyFilename = String(info.historyFilename || 'N/A');\n  const dailySheetsFound = Array.isArray(info.dailySheetsFound)\n    ? [...info.dailySheetsFound]\n    : [];\n  const historySheetsFound = Array.isArray(info.historySheetsFound)\n    ? [...info.historySheetsFound]\n    : [];\n\n  // -- Extrai os arrays de dados normalizados (garante que sejam arrays) --\n  const entities = Array.isArray(norm.entities) ? [...norm.entities] : [];\n  const expenses = Array.isArray(norm.expenses) ? [...norm.expenses] : [];\n  const receipts = Array.isArray(norm.receipts) ? [...norm.receipts] : [];\n  const balances = Array.isArray(norm.balances) ? [...norm.balances] : [];\n\n  // -- Extrai os valores financeiros calculados --\n  const totalDespesas = _normalizeNumber(fin.totalDespesas);\n  const totalRecebido = _normalizeNumber(fin.totalRecebido);\n  const saldoBancario = _normalizeNumber(fin.saldoBancario);\n  const saldoAplicacoes = _normalizeNumber(fin.saldoAplicacoes);\n  const transferenciaNecessaria = _normalizeNumber(fin.transferenciaNecessaria);\n\n  // -- Extrai a análise de histórico --\n  const history = fin.historyAnalysis || {};\n\n  // -- Mescla warnings de ambas as fontes --\n  const warnings = _mergeWarnings(norm.warnings, fin.warnings);\n\n  // -- Coleta erros (se houver campo errors em qualquer fonte) --\n  const errors = [];\n  const normErrors = Array.isArray(norm.errors) ? norm.errors : [];\n  const finErrors = Array.isArray(fin.errors) ? fin.errors : [];\n  for (const e of [...normErrors, ...finErrors]) {\n    if (e && e.message) {\n      errors.push({\n        code: String(e.code || 'UNKNOWN'),\n        severity: String(e.severity || 'high').toLowerCase(),\n        message: String(e.message),\n        context: e.context || undefined,\n        source: e.source || undefined,\n      });\n    }\n  }\n\n  // -- Determina o status do relatório --\n  let status = 'success';\n  if (errors.length > 0) {\n    status = 'error';\n  } else if (warnings.length > 0) {\n    status = 'warning';\n  }\n\n  // -- Monta o objeto final --\n  const reportModel = {\n    schemaVersion: 1,\n    status,\n    requestId,\n    referenceDateUsed,\n    request: {\n      scope: 'prn',\n      dailyFilename,\n      historyFilename,\n      dailySheetsFound,\n      historySheetsFound,\n    },\n    summary: {\n      totalDespesas,\n      totalRecebido,\n      saldoBancario,\n      saldoAplicacoes,\n      transferenciaNecessaria,\n    },\n    entities,\n    expenses,\n    receipts,\n    balances,\n    history,\n    warnings,\n    errors,\n  };\n\n  return reportModel;\n}\n\n// ---------------------------------------------------------------------------\n// Exports\n// ---------------------------------------------------------------------------\n\n// ===== EXECUTE =====\ntry {\n  const dailyParsed = parseDailyWorkbook(dailyData);\n  const historyParsed = parseHistoryWorkbook(histData);\n  const rawData = { daily: dailyParsed, history: historyParsed };\n  const normalized = normalizeData(rawData);\n  const financials = calculateFinancials(normalized);\n  const requestInfo = {\n    requestId: data.requestId,\n    referenceDateUsed: data.referenceDate || new Date().toISOString().slice(0, 10),\n    dailyFilename: data.dailyFilename,\n    historicalFilename: data.historicalFilename,\n    dailySheetsFound: Object.keys(dailyData),\n    historySheetsFound: Object.keys(histData)\n  };\n  const reportModel = buildReportModel(requestInfo, normalized, financials);\n  return [{ json: { success: true, report: reportModel } }];\n} catch (err) {\n  return [{ json: { success: false, errorCode: 'PROCESSING_ERROR', error: err.message, requestId: data.requestId } }];\n}\n"
      },
      "id": "node-code-parse-001",
      "name": "Code: Parse Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (!input.success) {\nfunction renderErrorPage(errorCode, errorMessage, details, requestId) {\n  const timestamp = new Date().toLocaleString('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    dateStyle: 'long',\n    timeStyle: 'medium',\n  });\n\n  const detailsHtml = details\n    ? `<div class=\"details-card\">\n        <h3>Detalhes</h3>\n        <ul class=\"details-list\">\n          ${Object.entries(details)\n            .map(\n              ([key, value]) =>\n                `<li><span class=\"detail-key\">${escapeHtml(key)}</span><span class=\"detail-value\">${escapeHtml(String(value ?? ''))}</span></li>`\n            )\n            .join('')}\n        </ul>\n      </div>`\n    : '';\n\n  const requestIdHtml = requestId\n    ? `<div class=\"request-id-card\">\n        <span class=\"label\">ID da Requisição:</span>\n        <code>${escapeHtml(requestId)}</code>\n      </div>`\n    : '';\n\n  return `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Erro ${escapeHtml(errorCode)}</title>\n  <style>\n    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif;\n      background-color: #f0f4f8;\n      color: #1e293b;\n      line-height: 1.6;\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 1.5rem;\n    }\n\n    .container {\n      background: #ffffff;\n      border-radius: 12px;\n      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);\n      max-width: 560px;\n      width: 100%;\n      overflow: hidden;\n    }\n\n    .header {\n      background: linear-gradient(135deg, #1e3a5f 0%, #2563eb 100%);\n      padding: 2rem 2rem 1.75rem;\n      text-align: center;\n    }\n\n    .header .icon {\n      display: inline-flex;\n      align-items: center;\n      justify-content: center;\n      width: 64px;\n      height: 64px;\n      border-radius: 50%;\n      background: rgba(255, 255, 255, 0.15);\n      margin-bottom: 1rem;\n    }\n\n    .header .icon svg {\n      width: 36px;\n      height: 36px;\n      stroke: #ffffff;\n      fill: none;\n      stroke-width: 2;\n      stroke-linecap: round;\n      stroke-linejoin: round;\n    }\n\n    .header h1 {\n      color: #ffffff;\n      font-size: 1.5rem;\n      font-weight: 700;\n      margin-bottom: 0.25rem;\n    }\n\n    .header .subtitle {\n      color: rgba(255, 255, 255, 0.8);\n      font-size: 0.9rem;\n    }\n\n    .body { padding: 2rem; }\n\n    .error-code-badge {\n      display: inline-block;\n      background: #fef2f2;\n      color: #dc2626;\n      font-size: 0.8rem;\n      font-weight: 700;\n      padding: 0.25rem 0.75rem;\n      border-radius: 9999px;\n      letter-spacing: 0.025em;\n      margin-bottom: 0.75rem;\n    }\n\n    .error-message {\n      font-size: 1.1rem;\n      color: #334155;\n      margin-bottom: 1.5rem;\n    }\n\n    .details-card,\n    .request-id-card {\n      background: #f8fafc;\n      border: 1px solid #e2e8f0;\n      border-radius: 8px;\n      padding: 1.25rem;\n      margin-bottom: 1rem;\n    }\n\n    .details-card h3 {\n      font-size: 0.85rem;\n      font-weight: 600;\n      color: #475569;\n      text-transform: uppercase;\n      letter-spacing: 0.05em;\n      margin-bottom: 0.75rem;\n    }\n\n    .details-list {\n      list-style: none;\n    }\n\n    .details-list li {\n      display: flex;\n      justify-content: space-between;\n      align-items: baseline;\n      padding: 0.5rem 0;\n      border-bottom: 1px solid #e2e8f0;\n      font-size: 0.9rem;\n    }\n\n    .details-list li:last-child { border-bottom: none; }\n\n    .detail-key {\n      color: #64748b;\n      font-weight: 500;\n      margin-right: 1rem;\n      flex-shrink: 0;\n    }\n\n    .detail-value {\n      color: #1e293b;\n      text-align: right;\n      word-break: break-word;\n    }\n\n    .request-id-card .label {\n      font-size: 0.8rem;\n      color: #64748b;\n      font-weight: 500;\n      text-transform: uppercase;\n      letter-spacing: 0.04em;\n      display: block;\n      margin-bottom: 0.35rem;\n    }\n\n    .request-id-card code {\n      display: block;\n      font-family: \"SFMono-Regular\", Consolas, \"Liberation Mono\", Menlo, monospace;\n      font-size: 0.85rem;\n      color: #475569;\n      background: #e2e8f0;\n      padding: 0.5rem 0.75rem;\n      border-radius: 6px;\n      word-break: break-all;\n    }\n\n    .footer {\n      padding: 1.25rem 2rem;\n      border-top: 1px solid #e2e8f0;\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      flex-wrap: wrap;\n      gap: 0.75rem;\n    }\n\n    .timestamp {\n      font-size: 0.8rem;\n      color: #94a3b8;\n    }\n\n    .btn-voltar {\n      display: inline-flex;\n      align-items: center;\n      gap: 0.4rem;\n      background: #2563eb;\n      color: #ffffff;\n      text-decoration: none;\n      font-size: 0.9rem;\n      font-weight: 600;\n      padding: 0.55rem 1.25rem;\n      border-radius: 8px;\n      transition: background 0.2s;\n    }\n\n    .btn-voltar:hover { background: #1d4ed8; }\n\n    .btn-voltar svg {\n      width: 16px;\n      height: 16px;\n      stroke: currentColor;\n      fill: none;\n      stroke-width: 2;\n      stroke-linecap: round;\n      stroke-linejoin: round;\n    }\n\n    @media (max-width: 480px) {\n      .header { padding: 1.5rem 1.25rem 1.25rem; }\n      .header h1 { font-size: 1.25rem; }\n      .body { padding: 1.25rem; }\n      .footer {\n        flex-direction: column-reverse;\n        text-align: center;\n        padding: 1.25rem;\n      }\n      .btn-voltar { width: 100%; justify-content: center; }\n      .details-list li { flex-direction: column; align-items: flex-start; gap: 0.15rem; }\n      .detail-value { text-align: left; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"icon\">\n        <svg viewBox=\"0 0 24 24\"><circle cx=\"12\" cy=\"12\" r=\"10\"/><line x1=\"15\" y1=\"9\" x2=\"9\" y2=\"15\"/><line x1=\"9\" y1=\"9\" x2=\"15\" y2=\"15\"/></svg>\n      </div>\n      <h1>Erro no Processamento</h1>\n      <p class=\"subtitle\">Ocorreu um erro ao processar sua solicitação</p>\n    </div>\n\n    <div class=\"body\">\n      <span class=\"error-code-badge\">${escapeHtml(errorCode)}</span>\n      <p class=\"error-message\">${escapeHtml(errorMessage)}</p>\n\n      ${detailsHtml}\n      ${requestIdHtml}\n    </div>\n\n    <div class=\"footer\">\n      <span class=\"timestamp\">${escapeHtml(timestamp)}</span>\n      <a href=\"https://prndiag1.app.n8n.cloud/webhook/prn/app\" class=\"btn-voltar\">\n        <svg viewBox=\"0 0 24 24\"><line x1=\"19\" y1=\"12\" x2=\"5\" y2=\"12\"/><polyline points=\"12 19 5 12 12 5\"/></svg>\n        Voltar\n      </a>\n    </div>\n  </div>\n</body>\n</html>`;\n}\n\nfunction escapeHtml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\n  const html = renderErrorPage(input.errorCode || 'PROCESSING_ERROR', input.error || 'Erro desconhecido', input.details || null, input.requestId || '');\n  return [{ json: { html } }];\n}\n\n/**\n * html-renderer.js\n *\n * Converte o modelo do relatório financeiro PRN (produzido por report-builder.js)\n * em uma página HTML completa, autocontida, responsiva e pronta para impressão.\n *\n * Características:\n *   - CSS 100% inline (sem CDN, sem dependências externas)\n *   - Idioma: Português do Brasil\n *   - Responsivo para dispositivos móveis\n *   - Esquema de cores profissional azul/cinza\n *   - Regras @media print para impressão limpa\n *   - Valores monetários formatados como BRL (R$ X.XXX,XX)\n *   - Datas formatadas como DD/MM/YYYY\n *   - Valores negativos exibidos em vermelho\n */\n\n// ---------------------------------------------------------------------------\n// Helpers de formatação\n// ---------------------------------------------------------------------------\n\nconst APP_URL = 'https://prndiag1.app.n8n.cloud/webhook/prn/app';\n\n/**\n * Formata um número como moeda brasileira (BRL).\n * Exemplo: 1234.56 => \"R$ 1.234,56\"\n *         -500.00 => <span class=\"negative\">-R$ 500,00</span>\n *\n * @param {number} value — valor numérico\n * @param {boolean} [html=true] — se true, retorna HTML com <span> para negativos\n * @returns {string} valor formatado\n */\nfunction _formatBRL(value, html = true) {\n  const num = Number(value) || 0;\n  const isNegative = num < 0;\n  const abs = Math.abs(num);\n  const formatted = abs.toLocaleString('pt-BR', {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n  });\n  const str = `R$ ${formatted}`;\n  if (isNegative && html) {\n    return `<span class=\"negativo\">-${str}</span>`;\n  }\n  return isNegative ? `-${str}` : str;\n}\n\n/**\n * Formata uma data string \"YYYY-MM-DD\" (ou Date) como \"DD/MM/YYYY\".\n *\n * @param {string|Date} dateInput — data de entrada\n * @returns {string} data formatada ou texto original se não for possível converter\n */\nfunction _formatDate(dateInput) {\n  if (!dateInput) return '—';\n  try {\n    const d = typeof dateInput === 'string' ? new Date(dateInput + 'T00:00:00') : new Date(dateInput);\n    if (isNaN(d.getTime())) return String(dateInput);\n    const day = String(d.getDate()).padStart(2, '0');\n    const month = String(d.getMonth() + 1).padStart(2, '0');\n    const year = d.getFullYear();\n    return `${day}/${month}/${year}`;\n  } catch {\n    return String(dateInput);\n  }\n}\n\n/**\n * Escapa caracteres HTML para evitar XSS em dados dinâmicos.\n *\n * @param {string} str — texto bruto\n * @returns {string} texto escapado\n */\nfunction _esc(str) {\n  if (str === null || str === undefined) return '';\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\n/**\n * Retorna a classe CSS de severidade para warnings.\n *\n * @param {string} severity — nível de severidade (info, low, medium, high)\n * @returns {string} nome da classe CSS\n */\nfunction _severityClass(severity) {\n  const s = String(severity || 'info').toLowerCase();\n  const map = {\n    info: 'warn-info',\n    low: 'warn-low',\n    medium: 'warn-medium',\n    high: 'warn-high',\n  };\n  return map[s] || 'warn-info';\n}\n\n/**\n * Gera um timestamp ISO legível em pt-BR.\n *\n * @returns {string} data e hora formatadas\n */\nfunction _nowTimestamp() {\n  return new Date().toLocaleString('pt-BR', {\n    dateStyle: 'medium',\n    timeStyle: 'short',\n  });\n}\n\n// ---------------------------------------------------------------------------\n// Funções de construção de seções HTML\n// ---------------------------------------------------------------------------\n\n/**\n * Seção (a): Cabeçalho com título, data, request ID e nomes de arquivo.\n */\nfunction _buildHeader(rm) {\n  return `\n    <header class=\"header\">\n      <div class=\"header-top\">\n        <a href=\"${APP_URL}\" class=\"btn-voltar\">&larr; Voltar</a>\n        <h1>Relatório Financeiro PRN</h1>\n      </div>\n      <div class=\"header-meta\">\n        <span><strong>Data de referência:</strong> ${_esc(_formatDate(rm.referenceDateUsed))}</span>\n        <span><strong>ID da requisição:</strong> ${_esc(rm.requestId)}</span>\n      </div>\n      <div class=\"header-files\">\n        <span><strong>Arquivo diário:</strong> ${_esc(rm.request.dailyFilename)}</span>\n        <span><strong>Arquivo histórico:</strong> ${_esc(rm.request.historyFilename)}</span>\n      </div>\n    </header>`;\n}\n\n/**\n * Seção (b): Cards de resumo financeiro (5 cards).\n */\nfunction _buildSummaryCards(rm) {\n  const s = rm.summary;\n  const cards = [\n    { label: 'Total Despesas', value: s.totalDespesas, cls: 'card-expense' },\n    { label: 'Total Recebido', value: s.totalRecebido, cls: 'card-income' },\n    { label: 'Saldo Bancário', value: s.saldoBancario, cls: 'card-balance' },\n    { label: 'Saldo Aplicações', value: s.saldoAplicacoes, cls: 'card-invest' },\n    { label: 'Transferência Necessária', value: s.transferenciaNecessaria, cls: 'card-transfer' },\n  ];\n\n  const cardsHtml = cards.map(c => `\n      <div class=\"summary-card ${c.cls}\">\n        <div class=\"card-label\">${c.label}</div>\n        <div class=\"card-value\">${_formatBRL(c.value)}</div>\n      </div>`).join('');\n\n  return `\n    <section class=\"section\" id=\"resumo\">\n      <h2 class=\"section-title\">Resumo Financeiro</h2>\n      <div class=\"cards-grid\">${cardsHtml}</div>\n    </section>`;\n}\n\n/**\n * Seção (c): Cards por entidade (PRN MATRIZ, PRN LOCAÇÃO, PRN HOLDING, etc.).\n */\nfunction _buildEntitiesSection(rm) {\n  const entities = rm.entities || [];\n  if (entities.length === 0) return '';\n\n  const entityCards = entities.map(e => {\n    const saldoB = _formatBRL(e.saldoBancario || 0);\n    const saldoA = _formatBRL(e.saldoAplicacoes || 0);\n    const desp = _formatBRL(e.despesas || 0);\n    const rec = _formatBRL(e.recebido || 0);\n\n    return `\n      <div class=\"entity-card\">\n        <div class=\"entity-name\">${_esc(e.name || e.entity || 'Entidade')}</div>\n        <div class=\"entity-row\"><span>Saldo Bancário:</span><span>${saldoB}</span></div>\n        <div class=\"entity-row\"><span>Saldo Aplicações:</span><span>${saldoA}</span></div>\n        <div class=\"entity-row\"><span>Despesas:</span><span>${desp}</span></div>\n        <div class=\"entity-row\"><span>Recebido:</span><span>${rec}</span></div>\n      </div>`;\n  }).join('');\n\n  return `\n    <section class=\"section\" id=\"entidades\">\n      <h2 class=\"section-title\">Entidades</h2>\n      <div class=\"entities-grid\">${entityCards}</div>\n    </section>`;\n}\n\n/**\n * Constrói uma tabela HTML com cabeçalhos e linhas, com suporte a classe CSS customizada.\n */\nfunction _buildTable(headers, rows, tableId) {\n  const thHtml = headers.map(h => `<th>${_esc(h)}</th>`).join('');\n  const trHtml = rows.map(row => {\n    const tdHtml = headers.map((_, i) => {\n      const val = row[i] !== undefined && row[i] !== null ? row[i] : '';\n      if (typeof val === 'number') return `<td class=\"num\">${_formatBRL(val)}</td>`;\n      return `<td>${_esc(val)}</td>`;\n    }).join('');\n    return `<tr>${tdHtml}</tr>`;\n  }).join('');\n\n  return `\n    <div class=\"table-wrapper\">\n      <table id=\"${_esc(tableId)}\">\n        <thead><tr>${thHtml}</tr></thead>\n        <tbody>${trHtml}</tbody>\n      </table>\n    </div>`;\n}\n\n/**\n * Seção (d): Tabela de Despesas.\n */\nfunction _buildDespesasTable(rm) {\n  const expenses = rm.expenses || [];\n  if (expenses.length === 0) return '';\n\n  const headers = ['Vencimento', 'Favorecido', 'Categoria', 'Departamento', 'Valor'];\n  const rows = expenses.map(e => [\n    _formatDate(e.vencimento || e.dataVencimento || e.date),\n    e.favorecido || e.fornecedor || e.description || '',\n    e.categoria || e.category || '',\n    e.departamento || e.department || '',\n    Number(e.valor || e.value || 0),\n  ]);\n\n  return `\n    <section class=\"section\" id=\"despesas\">\n      <h2 class=\"section-title\">Despesas</h2>\n      ${_buildTable(headers, rows, 'tbl-despesas')}\n    </section>`;\n}\n\n/**\n * Seção (e): Tabela de Recebidos.\n */\nfunction _buildRecebidosTable(rm) {\n  const receipts = rm.receipts || [];\n  if (receipts.length === 0) return '';\n\n  const headers = ['Data', 'Descrição', 'Conta Corrente', 'Valor'];\n  const rows = receipts.map(r => [\n    _formatDate(r.data || r.date || ''),\n    r.descricao || r.description || '',\n    r.contaCorrente || r.conta || r.account || '',\n    Number(r.valor || r.value || 0),\n  ]);\n\n  return `\n    <section class=\"section\" id=\"recebidos\">\n      <h2 class=\"section-title\">Recebidos</h2>\n      ${_buildTable(headers, rows, 'tbl-recebidos')}\n    </section>`;\n}\n\n/**\n * Seção (f): Top 10 Despesas por valor.\n */\nfunction _buildTopDespesas(rm) {\n  const expenses = rm.expenses || [];\n  if (expenses.length === 0) return '';\n\n  const sorted = [...expenses]\n    .map(e => ({\n      favorecido: e.favorecido || e.fornecedor || e.description || '—',\n      categoria: e.categoria || e.category || '—',\n      vencimento: e.vencimento || e.dataVencimento || e.date || '',\n      valor: Number(e.valor || e.value || 0),\n    }))\n    .sort((a, b) => b.valor - a.valor)\n    .slice(0, 10);\n\n  const items = sorted.map((d, i) => `\n    <div class=\"top-item\">\n      <span class=\"top-rank\">#${i + 1}</span>\n      <span class=\"top-info\">\n        <strong>${_esc(d.favorecido)}</strong>\n        <small>${_esc(d.categoria)} &middot; ${_esc(_formatDate(d.vencimento))}</small>\n      </span>\n      <span class=\"top-value\">${_formatBRL(d.valor)}</span>\n    </div>`).join('');\n\n  return `\n    <section class=\"section\" id=\"top-despesas\">\n      <h2 class=\"section-title\">Top 10 Despesas</h2>\n      <div class=\"top-list\">${items}</div>\n    </section>`;\n}\n\n/**\n * Seção (g): Despesas por Categoria — agrupamento simples.\n */\nfunction _buildDespesasPorCategoria(rm) {\n  const expenses = rm.expenses || [];\n  if (expenses.length === 0) return '';\n\n  const catMap = {};\n  for (const e of expenses) {\n    const cat = e.categoria || e.category || 'Outros';\n    const val = Number(e.valor || e.value || 0);\n    if (!catMap[cat]) catMap[cat] = { total: 0, count: 0 };\n    catMap[cat].total += val;\n    catMap[cat].count += 1;\n  }\n\n  const sorted = Object.entries(catMap)\n    .map(([categoria, data]) => ({ categoria, ...data }))\n    .sort((a, b) => b.total - a.total);\n\n  const headers = ['Categoria', 'Qtd', 'Total'];\n  const rows = sorted.map(d => [d.categoria, d.count, d.total]);\n\n  return `\n    <section class=\"section\" id=\"despesas-categoria\">\n      <h2 class=\"section-title\">Despesas por Categoria</h2>\n      ${_buildTable(headers, rows, 'tbl-cat-despesas')}\n    </section>`;\n}\n\n/**\n * Seção (h): Recebidos por Conta — agrupamento simples.\n */\nfunction _buildRecebidosPorConta(rm) {\n  const receipts = rm.receipts || [];\n  if (receipts.length === 0) return '';\n\n  const accMap = {};\n  for (const r of receipts) {\n    const acc = r.contaCorrente || r.conta || r.account || 'Outros';\n    const val = Number(r.valor || r.value || 0);\n    if (!accMap[acc]) accMap[acc] = { total: 0, count: 0 };\n    accMap[acc].total += val;\n    accMap[acc].count += 1;\n  }\n\n  const sorted = Object.entries(accMap)\n    .map(([conta, data]) => ({ conta, ...data }))\n    .sort((a, b) => b.total - a.total);\n\n  const headers = ['Conta Corrente', 'Qtd', 'Total'];\n  const rows = sorted.map(d => [d.conta, d.count, d.total]);\n\n  return `\n    <section class=\"section\" id=\"recebidos-conta\">\n      <h2 class=\"section-title\">Recebidos por Conta</h2>\n      ${_buildTable(headers, rows, 'tbl-recebidos-conta')}\n    </section>`;\n}\n\n/**\n * Seção (i): Histórico PRN — análise consolidada.\n */\nfunction _buildHistoricoSection(rm) {\n  const h = rm.history || {};\n  if (!h.totalRecords && h.totalRecords !== 0) return '';\n\n  const periodStart = _formatDate(h.period?.start);\n  const periodEnd = _formatDate(h.period?.end);\n\n  // Tabela de top categorias\n  const catHeaders = ['Categoria', 'Total Pago', 'Qtd'];\n  const catRows = (h.topCategorias || []).map(c => [\n    c.categoria || '—',\n    Number(c.total || 0),\n    c.count || 0,\n  ]);\n\n  // Tabela de top fornecedores\n  const fornHeaders = ['Fornecedor', 'Total Pago', 'Qtd'];\n  const fornRows = (h.topFornecedores || []).map(f => [\n    f.fornecedor || '—',\n    Number(f.total || 0),\n    f.count || 0,\n  ]);\n\n  // Tabela de distribuição por conta\n  const distHeaders = ['Conta', 'Total', '%'];\n  const distRows = (h.distribuicaoContas || []).map(d => [\n    d.conta || '—',\n    Number(d.total || 0),\n    `${Number(d.percentual || 0).toFixed(1)}%`,\n  ]);\n\n  return `\n    <section class=\"section\" id=\"historico\">\n      <h2 class=\"section-title\">Histórico PRN</h2>\n      <div class=\"cards-grid\">\n        <div class=\"summary-card card-balance\">\n          <div class=\"card-label\">Total de Registros</div>\n          <div class=\"card-value\">${Number(h.totalRecords || 0).toLocaleString('pt-BR')}</div>\n        </div>\n        <div class=\"summary-card card-income\">\n          <div class=\"card-label\">Total Pago</div>\n          <div class=\"card-value\">${_formatBRL(h.totalPago || 0)}</div>\n        </div>\n        <div class=\"summary-card card-expense\">\n          <div class=\"card-label\">Total Atrasado</div>\n          <div class=\"card-value\">${_formatBRL(h.totalAtrasado || 0)}</div>\n        </div>\n        <div class=\"summary-card card-info\">\n          <div class=\"card-label\">Período</div>\n          <div class=\"card-value\" style=\"font-size:1rem\">${periodStart} a ${periodEnd}</div>\n        </div>\n      </div>\n      ${catRows.length > 0 ? `<h3 style=\"margin-top:1.5rem\">Top Categorias</h3>${_buildTable(catHeaders, catRows, 'tbl-hist-cat')}` : ''}\n      ${fornRows.length > 0 ? `<h3 style=\"margin-top:1.5rem\">Top Fornecedores</h3>${_buildTable(fornHeaders, fornRows, 'tbl-hist-forn')}` : ''}\n      ${distRows.length > 0 ? `<h3 style=\"margin-top:1.5rem\">Distribuição por Conta</h3>${_buildTable(distHeaders, distRows, 'tbl-hist-dist')}` : ''}\n    </section>`;\n}\n\n/**\n * Seção (j): Warnings — caixas de alerta com cores por severidade.\n */\nfunction _buildWarningsSection(rm) {\n  const warnings = rm.warnings || [];\n  if (warnings.length === 0) return '';\n\n  const items = warnings.map(w => `\n    <div class=\"alert ${_severityClass(w.severity)}\">\n      <strong>[${_esc(w.code || '')}]</strong> ${_esc(w.message)}\n      ${w.context ? `<br><small>${_esc(typeof w.context === 'string' ? w.context : JSON.stringify(w.context))}</small>` : ''}\n    </div>`).join('');\n\n  return `\n    <section class=\"section\" id=\"avisos\">\n      <h2 class=\"section-title\">Avisos</h2>\n      <div class=\"alerts-container\">${items}</div>\n    </section>`;\n}\n\n/**\n * Seção (k): Rodapé com ID, timestamp e link \"Voltar\".\n */\nfunction _buildFooter(rm) {\n  return `\n    <footer class=\"footer\">\n      <a href=\"${APP_URL}\" class=\"btn-voltar\">&larr; Voltar</a>\n      <div class=\"footer-meta\">\n        <span>Requisição: ${_esc(rm.requestId)}</span>\n        <span>Processado em: ${_nowTimestamp()}</span>\n      </div>\n    </footer>`;\n}\n\n// ---------------------------------------------------------------------------\n// CSS inline completo\n// ---------------------------------------------------------------------------\n\nconst _CSS = `\n  /* ---- Reset & Base ---- */\n  *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n  body {\n    font-family: \"Segoe UI\", Tahoma, Geneva, Verdana, sans-serif;\n    background: #f0f2f5;\n    color: #1a1a2e;\n    line-height: 1.6;\n    padding: 0;\n    -webkit-font-smoothing: antialiased;\n  }\n\n  .container {\n    max-width: 1200px;\n    margin: 0 auto;\n    padding: 1rem;\n  }\n\n  /* ---- Header ---- */\n  .header {\n    background: linear-gradient(135deg, #1a2a6c, #2d4a9e);\n    color: #fff;\n    padding: 1.5rem 2rem;\n    margin-bottom: 1.5rem;\n    border-radius: 8px;\n  }\n  .header-top {\n    display: flex;\n    align-items: center;\n    gap: 1rem;\n    flex-wrap: wrap;\n    margin-bottom: 0.75rem;\n  }\n  .header-top h1 {\n    font-size: 1.5rem;\n    font-weight: 700;\n    letter-spacing: -0.3px;\n  }\n  .header-meta, .header-files {\n    display: flex;\n    flex-wrap: wrap;\n    gap: 0.5rem 2rem;\n    font-size: 0.85rem;\n    opacity: 0.9;\n  }\n\n  /* ---- Voltar Button ---- */\n  .btn-voltar {\n    display: inline-block;\n    background: rgba(255,255,255,0.15);\n    color: #fff;\n    text-decoration: none;\n    padding: 0.4rem 1rem;\n    border-radius: 6px;\n    font-size: 0.85rem;\n    font-weight: 600;\n    border: 1px solid rgba(255,255,255,0.3);\n    transition: background 0.2s;\n  }\n  .btn-voltar:hover {\n    background: rgba(255,255,255,0.25);\n  }\n\n  /* ---- Section ---- */\n  .section {\n    background: #fff;\n    border-radius: 8px;\n    padding: 1.5rem;\n    margin-bottom: 1.5rem;\n    box-shadow: 0 1px 3px rgba(0,0,0,0.08);\n  }\n  .section-title {\n    font-size: 1.15rem;\n    font-weight: 700;\n    color: #1a2a6c;\n    margin-bottom: 1rem;\n    padding-bottom: 0.5rem;\n    border-bottom: 2px solid #e0e5ec;\n  }\n\n  /* ---- Summary Cards Grid ---- */\n  .cards-grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n    gap: 1rem;\n  }\n  .summary-card {\n    background: #f8f9fb;\n    border-radius: 8px;\n    padding: 1rem 1.25rem;\n    border-left: 4px solid #ccc;\n    transition: box-shadow 0.2s;\n  }\n  .summary-card:hover {\n    box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n  }\n  .card-label {\n    font-size: 0.8rem;\n    font-weight: 600;\n    color: #5a6178;\n    text-transform: uppercase;\n    letter-spacing: 0.5px;\n    margin-bottom: 0.4rem;\n  }\n  .card-value {\n    font-size: 1.35rem;\n    font-weight: 700;\n    color: #1a1a2e;\n  }\n\n  /* Card accent borders */\n  .card-expense  { border-left-color: #e74c3c; }\n  .card-income   { border-left-color: #27ae60; }\n  .card-balance  { border-left-color: #2980b9; }\n  .card-invest   { border-left-color: #8e44ad; }\n  .card-transfer { border-left-color: #e67e22; }\n  .card-info     { border-left-color: #5a6178; }\n\n  /* ---- Entities Grid ---- */\n  .entities-grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));\n    gap: 1rem;\n  }\n  .entity-card {\n    background: #f8f9fb;\n    border-radius: 8px;\n    padding: 1rem 1.25rem;\n    border: 1px solid #e0e5ec;\n  }\n  .entity-name {\n    font-size: 1rem;\n    font-weight: 700;\n    color: #1a2a6c;\n    margin-bottom: 0.75rem;\n    padding-bottom: 0.5rem;\n    border-bottom: 1px solid #e0e5ec;\n  }\n  .entity-row {\n    display: flex;\n    justify-content: space-between;\n    padding: 0.25rem 0;\n    font-size: 0.88rem;\n  }\n  .entity-row span:first-child {\n    color: #5a6178;\n  }\n  .entity-row span:last-child {\n    font-weight: 600;\n  }\n\n  /* ---- Tables ---- */\n  .table-wrapper {\n    overflow-x: auto;\n    -webkit-overflow-scrolling: touch;\n  }\n  table {\n    width: 100%;\n    border-collapse: collapse;\n    font-size: 0.88rem;\n  }\n  thead th {\n    background: #1a2a6c;\n    color: #fff;\n    padding: 0.65rem 0.75rem;\n    text-align: left;\n    font-weight: 600;\n    font-size: 0.8rem;\n    text-transform: uppercase;\n    letter-spacing: 0.4px;\n    white-space: nowrap;\n    cursor: pointer;\n    user-select: none;\n    position: relative;\n  }\n  thead th:hover {\n    background: #2d4a9e;\n  }\n  thead th::after {\n    content: ' \\\\25B2';\n    opacity: 0.3;\n    font-size: 0.65rem;\n    margin-left: 4px;\n  }\n  tbody tr {\n    border-bottom: 1px solid #eee;\n    transition: background 0.15s;\n  }\n  tbody tr:hover {\n    background: #f0f4fa;\n  }\n  tbody td {\n    padding: 0.55rem 0.75rem;\n    vertical-align: middle;\n  }\n  tbody td.num {\n    text-align: right;\n    font-weight: 600;\n    white-space: nowrap;\n  }\n\n  /* ---- Negative Values ---- */\n  .negativo {\n    color: #e74c3c;\n    font-weight: 600;\n  }\n\n  /* ---- Top 10 List ---- */\n  .top-list {\n    display: flex;\n    flex-direction: column;\n    gap: 0.5rem;\n  }\n  .top-item {\n    display: flex;\n    align-items: center;\n    gap: 0.75rem;\n    padding: 0.65rem 0.85rem;\n    background: #f8f9fb;\n    border-radius: 6px;\n    border-left: 3px solid #e74c3c;\n  }\n  .top-rank {\n    font-weight: 700;\n    font-size: 0.85rem;\n    color: #5a6178;\n    min-width: 2rem;\n  }\n  .top-info {\n    flex: 1;\n  }\n  .top-info strong {\n    display: block;\n    font-size: 0.9rem;\n    color: #1a1a2e;\n  }\n  .top-info small {\n    font-size: 0.78rem;\n    color: #5a6178;\n  }\n  .top-value {\n    font-weight: 700;\n    font-size: 0.95rem;\n    white-space: nowrap;\n  }\n\n  /* ---- Alerts / Warnings ---- */\n  .alerts-container {\n    display: flex;\n    flex-direction: column;\n    gap: 0.6rem;\n  }\n  .alert {\n    padding: 0.75rem 1rem;\n    border-radius: 6px;\n    font-size: 0.88rem;\n    line-height: 1.5;\n  }\n  .alert strong {\n    margin-right: 0.3rem;\n  }\n  .alert small {\n    opacity: 0.85;\n  }\n  .warn-info    { background: #d6eaf8; color: #1a5276; border-left: 4px solid #2980b9; }\n  .warn-low     { background: #fef9e7; color: #7d6608; border-left: 4px solid #f1c40f; }\n  .warn-medium  { background: #fdebd0; color: #935116; border-left: 4px solid #e67e22; }\n  .warn-high    { background: #fadbd8; color: #922b21; border-left: 4px solid #e74c3c; }\n\n  /* ---- Footer ---- */\n  .footer {\n    text-align: center;\n    padding: 1.5rem 1rem;\n    margin-top: 1rem;\n    border-top: 1px solid #d0d5dd;\n    color: #5a6178;\n    font-size: 0.82rem;\n  }\n  .footer-meta {\n    display: flex;\n    justify-content: center;\n    gap: 2rem;\n    margin-top: 0.75rem;\n    flex-wrap: wrap;\n  }\n\n  /* ---- Responsive ---- */\n  @media (max-width: 768px) {\n    .container { padding: 0.5rem; }\n    .header { padding: 1rem; }\n    .header-top h1 { font-size: 1.15rem; }\n    .section { padding: 1rem; }\n    .cards-grid { grid-template-columns: 1fr 1fr; }\n    .entities-grid { grid-template-columns: 1fr; }\n    table { font-size: 0.78rem; }\n    thead th, tbody td { padding: 0.45rem 0.5rem; }\n  }\n  @media (max-width: 480px) {\n    .cards-grid { grid-template-columns: 1fr; }\n    .header-meta, .header-files { flex-direction: column; gap: 0.25rem; }\n    .top-item { flex-wrap: wrap; }\n  }\n\n  /* ---- Print ---- */\n  @media print {\n    body { background: #fff; color: #000; font-size: 11pt; }\n    .container { max-width: 100%; padding: 0; }\n    .header {\n      background: #1a2a6c !important;\n      color: #fff !important;\n      -webkit-print-color-adjust: exact;\n      print-color-adjust: exact;\n    }\n    .section {\n      box-shadow: none;\n      border: 1px solid #ddd;\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n    .btn-voltar { display: none !important; }\n    .summary-card, .entity-card, .alert {\n      -webkit-print-color-adjust: exact;\n      print-color-adjust: exact;\n    }\n    table { font-size: 9pt; }\n    .top-item:hover, tbody tr:hover { background: transparent; }\n    .negativo { color: #000 !important; text-decoration: underline; }\n    .footer { border-top: 1px solid #000; }\n  }\n`;\n\n// ---------------------------------------------------------------------------\n// Função principal exportada\n// ---------------------------------------------------------------------------\n\n/**\n * Converte o modelo do relatório financeiro PRN em uma página HTML completa.\n *\n * @param {object} reportModel — objeto retornado por buildReportModel()\n * @returns {string} HTML completo da página\n */\nfunction renderReportHTML(reportModel) {\n  const rm = reportModel || {};\n\n  const sections = [\n    _buildHeader(rm),\n    _buildSummaryCards(rm),\n    _buildEntitiesSection(rm),\n    _buildDespesasTable(rm),\n    _buildRecebidosTable(rm),\n    _buildTopDespesas(rm),\n    _buildDespesasPorCategoria(rm),\n    _buildRecebidosPorConta(rm),\n    _buildHistoricoSection(rm),\n    _buildWarningsSection(rm),\n  ].filter(Boolean).join('\\n');\n\n  return `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Relatório Financeiro PRN — ${_esc(rm.referenceDateUsed || '')}</title>\n  <style>${_CSS}</style>\n</head>\n<body>\n  <div class=\"container\">\n    ${sections}\n    ${_buildFooter(rm)}\n  </div>\n\n  <script>\n  // ---- Client-side sortable tables (no dependencies) ----\n  (function() {\n    document.querySelectorAll('table[id]').forEach(function(table) {\n      var headers = table.querySelectorAll('thead th');\n      var tbody = table.querySelector('tbody');\n      var rows = Array.from(tbody.querySelectorAll('tr'));\n      var asc = {};\n\n      headers.forEach(function(th, colIdx) {\n        th.addEventListener('click', function() {\n          asc[colIdx] = !asc[colIdx];\n          var dir = asc[colIdx] ? 1 : -1;\n\n          rows.sort(function(a, b) {\n            var aVal = a.cells[colIdx].textContent.trim();\n            var bVal = b.cells[colIdx].textContent.trim();\n\n            // Attempt numeric sort for columns with R$ prefix\n            var aNum = parseFloat(aVal.replace(/[^0-9\\\\-.,]/g, '').replace('.', '').replace(',', '.'));\n            var bNum = parseFloat(bVal.replace(/[^0-9\\\\-.,]/g, '').replace('.', '').replace(',', '.'));\n\n            if (!isNaN(aNum) && !isNaN(bNum)) {\n              return (aNum - bNum) * dir;\n            }\n            // Attempt date sort (DD/MM/YYYY)\n            var aDate = Date.parse(aVal.split('/').reverse().join('-'));\n            var bDate = Date.parse(bVal.split('/').reverse().join('-'));\n            if (!isNaN(aDate) && !isNaN(bDate)) {\n              return (aDate - bDate) * dir;\n            }\n            // String sort\n            return aVal.localeCompare(bVal, 'pt-BR') * dir;\n          });\n\n          rows.forEach(function(row) { tbody.appendChild(row); });\n\n          // Update sort indicators\n          headers.forEach(function(h) { h.style.opacity = '1'; h.style.borderBottom = ''; });\n          th.style.borderBottom = dir === 1 ? '2px solid #27ae60' : '2px solid #e74c3c';\n        });\n      });\n    });\n  })();\n  </script>\n</body>\n</html>`;\n}\n\n// ---------------------------------------------------------------------------\n// Exports\n// ---------------------------------------------------------------------------\n\nconst report = input.report;\nconst html = renderReportHTML(report);\nreturn [{ json: { html } }];\n"
      },
      "id": "node-code-render-001",
      "name": "Code: Render Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}"
      },
      "id": "node-respond-report-001",
      "name": "Respond Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1220,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "function renderErrorPage(errorCode, errorMessage, details, requestId) {\n  const timestamp = new Date().toLocaleString('pt-BR', {\n    timeZone: 'America/Sao_Paulo',\n    dateStyle: 'long',\n    timeStyle: 'medium',\n  });\n\n  const detailsHtml = details\n    ? `<div class=\"details-card\">\n        <h3>Detalhes</h3>\n        <ul class=\"details-list\">\n          ${Object.entries(details)\n            .map(\n              ([key, value]) =>\n                `<li><span class=\"detail-key\">${escapeHtml(key)}</span><span class=\"detail-value\">${escapeHtml(String(value ?? ''))}</span></li>`\n            )\n            .join('')}\n        </ul>\n      </div>`\n    : '';\n\n  const requestIdHtml = requestId\n    ? `<div class=\"request-id-card\">\n        <span class=\"label\">ID da Requisição:</span>\n        <code>${escapeHtml(requestId)}</code>\n      </div>`\n    : '';\n\n  return `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Erro ${escapeHtml(errorCode)}</title>\n  <style>\n    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif;\n      background-color: #f0f4f8;\n      color: #1e293b;\n      line-height: 1.6;\n      min-height: 100vh;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      padding: 1.5rem;\n    }\n\n    .container {\n      background: #ffffff;\n      border-radius: 12px;\n      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);\n      max-width: 560px;\n      width: 100%;\n      overflow: hidden;\n    }\n\n    .header {\n      background: linear-gradient(135deg, #1e3a5f 0%, #2563eb 100%);\n      padding: 2rem 2rem 1.75rem;\n      text-align: center;\n    }\n\n    .header .icon {\n      display: inline-flex;\n      align-items: center;\n      justify-content: center;\n      width: 64px;\n      height: 64px;\n      border-radius: 50%;\n      background: rgba(255, 255, 255, 0.15);\n      margin-bottom: 1rem;\n    }\n\n    .header .icon svg {\n      width: 36px;\n      height: 36px;\n      stroke: #ffffff;\n      fill: none;\n      stroke-width: 2;\n      stroke-linecap: round;\n      stroke-linejoin: round;\n    }\n\n    .header h1 {\n      color: #ffffff;\n      font-size: 1.5rem;\n      font-weight: 700;\n      margin-bottom: 0.25rem;\n    }\n\n    .header .subtitle {\n      color: rgba(255, 255, 255, 0.8);\n      font-size: 0.9rem;\n    }\n\n    .body { padding: 2rem; }\n\n    .error-code-badge {\n      display: inline-block;\n      background: #fef2f2;\n      color: #dc2626;\n      font-size: 0.8rem;\n      font-weight: 700;\n      padding: 0.25rem 0.75rem;\n      border-radius: 9999px;\n      letter-spacing: 0.025em;\n      margin-bottom: 0.75rem;\n    }\n\n    .error-message {\n      font-size: 1.1rem;\n      color: #334155;\n      margin-bottom: 1.5rem;\n    }\n\n    .details-card,\n    .request-id-card {\n      background: #f8fafc;\n      border: 1px solid #e2e8f0;\n      border-radius: 8px;\n      padding: 1.25rem;\n      margin-bottom: 1rem;\n    }\n\n    .details-card h3 {\n      font-size: 0.85rem;\n      font-weight: 600;\n      color: #475569;\n      text-transform: uppercase;\n      letter-spacing: 0.05em;\n      margin-bottom: 0.75rem;\n    }\n\n    .details-list {\n      list-style: none;\n    }\n\n    .details-list li {\n      display: flex;\n      justify-content: space-between;\n      align-items: baseline;\n      padding: 0.5rem 0;\n      border-bottom: 1px solid #e2e8f0;\n      font-size: 0.9rem;\n    }\n\n    .details-list li:last-child { border-bottom: none; }\n\n    .detail-key {\n      color: #64748b;\n      font-weight: 500;\n      margin-right: 1rem;\n      flex-shrink: 0;\n    }\n\n    .detail-value {\n      color: #1e293b;\n      text-align: right;\n      word-break: break-word;\n    }\n\n    .request-id-card .label {\n      font-size: 0.8rem;\n      color: #64748b;\n      font-weight: 500;\n      text-transform: uppercase;\n      letter-spacing: 0.04em;\n      display: block;\n      margin-bottom: 0.35rem;\n    }\n\n    .request-id-card code {\n      display: block;\n      font-family: \"SFMono-Regular\", Consolas, \"Liberation Mono\", Menlo, monospace;\n      font-size: 0.85rem;\n      color: #475569;\n      background: #e2e8f0;\n      padding: 0.5rem 0.75rem;\n      border-radius: 6px;\n      word-break: break-all;\n    }\n\n    .footer {\n      padding: 1.25rem 2rem;\n      border-top: 1px solid #e2e8f0;\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      flex-wrap: wrap;\n      gap: 0.75rem;\n    }\n\n    .timestamp {\n      font-size: 0.8rem;\n      color: #94a3b8;\n    }\n\n    .btn-voltar {\n      display: inline-flex;\n      align-items: center;\n      gap: 0.4rem;\n      background: #2563eb;\n      color: #ffffff;\n      text-decoration: none;\n      font-size: 0.9rem;\n      font-weight: 600;\n      padding: 0.55rem 1.25rem;\n      border-radius: 8px;\n      transition: background 0.2s;\n    }\n\n    .btn-voltar:hover { background: #1d4ed8; }\n\n    .btn-voltar svg {\n      width: 16px;\n      height: 16px;\n      stroke: currentColor;\n      fill: none;\n      stroke-width: 2;\n      stroke-linecap: round;\n      stroke-linejoin: round;\n    }\n\n    @media (max-width: 480px) {\n      .header { padding: 1.5rem 1.25rem 1.25rem; }\n      .header h1 { font-size: 1.25rem; }\n      .body { padding: 1.25rem; }\n      .footer {\n        flex-direction: column-reverse;\n        text-align: center;\n        padding: 1.25rem;\n      }\n      .btn-voltar { width: 100%; justify-content: center; }\n      .details-list li { flex-direction: column; align-items: flex-start; gap: 0.15rem; }\n      .detail-value { text-align: left; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"icon\">\n        <svg viewBox=\"0 0 24 24\"><circle cx=\"12\" cy=\"12\" r=\"10\"/><line x1=\"15\" y1=\"9\" x2=\"9\" y2=\"15\"/><line x1=\"9\" y1=\"9\" x2=\"15\" y2=\"15\"/></svg>\n      </div>\n      <h1>Erro no Processamento</h1>\n      <p class=\"subtitle\">Ocorreu um erro ao processar sua solicitação</p>\n    </div>\n\n    <div class=\"body\">\n      <span class=\"error-code-badge\">${escapeHtml(errorCode)}</span>\n      <p class=\"error-message\">${escapeHtml(errorMessage)}</p>\n\n      ${detailsHtml}\n      ${requestIdHtml}\n    </div>\n\n    <div class=\"footer\">\n      <span class=\"timestamp\">${escapeHtml(timestamp)}</span>\n      <a href=\"https://prndiag1.app.n8n.cloud/webhook/prn/app\" class=\"btn-voltar\">\n        <svg viewBox=\"0 0 24 24\"><line x1=\"19\" y1=\"12\" x2=\"5\" y2=\"12\"/><polyline points=\"12 19 5 12 12 5\"/></svg>\n        Voltar\n      </a>\n    </div>\n  </div>\n</body>\n</html>`;\n}\n\nfunction escapeHtml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nconst input = $input.first().json;\nconst errorCode = input.errorCode || 'ERROR';\nconst errorMessage = input.error || 'Erro desconhecido';\nconst requestId = input.requestId || '';\nconst details = input.details || null;\nconst html = renderErrorPage(errorCode, errorMessage, details, requestId);\nreturn [{ json: { html } }];\n"
      },
      "id": "node-code-error-001",
      "name": "Code: Render Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        900
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}"
      },
      "id": "node-respond-error-001",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1220,
        800
      ]
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Code: Serve Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Serve Form": {
      "main": [
        [
          {
            "node": "Respond Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Code: Initialize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Initialize": {
      "main": [
        [
          {
            "node": "IF: Valid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Valid Input": {
      "main": [
        [
          {
            "node": "Code: Parse Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Render Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Files": {
      "main": [
        [
          {
            "node": "Code: Render Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Render Report": {
      "main": [
        [
          {
            "node": "Respond Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Render Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3.0.0",
  "meta": {
    "instanceId": "prn-reporting-v3"
  },
  "pinData": {}
}